.claim-info.row,.col-sm-12.claim-col.expanded{
    margin:0px;
    padding:0px;   
    overflow: hidden;     
}
.box-body{
    padding:0px; 
    border: 2px solid lightgray;
}
.table-responsive {
    position: relative;
    overflow-x: hidden;
}

#fixed-header {
    position: absolute;
    top: 43px;
    background: #fbeede;
    z-index: 2;
    padding: 1.6rem 0;
}

table {
    table-layout: fixed;
    width: 100% !important;
    overflow-x: hidden;
}

thead,
tbody {
    overflow-y: hidden !important;
}

td,
th {
    word-wrap: break-word;
    padding-left: 2px !important;
    font-size: 1.4rem;
    padding-right: 2px !important;
}

textarea {
    resize: vertical;
}

tr>th,
tr>td {
    width: 100%;
    text-align: center;
}

tr>th:first-child,
tr>td:first-child {
    width: 2%;
    font-size: 8pt;
}

td>a.label {
    font-size: 1.2rem;
}

table {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

tbody,
thead {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: auto;
}

tbody.overflowable,
thead.overflowable {
    flex-grow: 1;
    flex-shrink: 1;
}

tr {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
}

td,
th {
    display: block;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}

.fa.rotate {
    transform: rotate(-90deg);
    margin-top: 5px;
    position: absolute;
    margin-left: 2px;
}

@media screen and (max-width: 300px) {
    .fa.rotate {
        margin-left: 2px;
    }
}

@media screen and (min-width: 300px) {
    .fa.rotate {
        margin-left: 7px;
    }
}
 
.bg-darkblue {
    background-color: #414772 !important;
}

tbody>tr.bgBlue {
    background: #56a1ff !important;
    color: white;
}

tbody>tr.bgBlue td {
    color: white;
}

tbody>tr.bgBlue td::selection,
tbody>tr.bgBlue td a::selection {
    background: transparent !important;
}

tbody>tr:hover {
    background: #b6f1ff !important;
    cursor: pointer;
    color: #000;
}

tbody>tr:hover td,
tbody>tr:hover td::selection {
    color: #000;
}

tr>th:nth-child(6),
tr>td:nth-child(6){
    width: 19.5%;
    text-align: left !important;
}
tr>th:nth-child(3),
tr>td:nth-child(3) {
    width: 17.5%;
    text-align: left !important;
}

tr>th:nth-child(2),
tr>td:nth-child(2){
    width: 10%;
}


tr>th:nth-child(4),
tr>td:nth-child(4),
tr>th:nth-child(5),
tr>td:nth-child(5),
tr>th:nth-child(7),
tr>td:nth-child(7),
tr>th:nth-child(8),
tr>td:nth-child(8),
tr>th:nth-child(9),
tr>td:nth-child(9) {
    width: 6%;
}

tr>th:last-child,
tr>td:last-child {
    width: 18%;
    font-size: 1.4rem;
    line-height: 1.5rem;
}

tr>th:nth-child(8),
tr>td:nth-child(8),
tr>th:nth-child(7),
tr>td:nth-child(7) {
    text-align: right !important;
}
.claim-col{
    height:60px;
}
.expanded{
    height: calc(100vh - 224px);
    height: -moz-calc(100vh - 224px);
    height: -webkit-calc(100vh - 224px);
    height: -o-calc(100vh - 224px);
    overflow:hidden;
    /* overflow-y:auto; */
}
.top-header,.table-body{
    width:99%;
}

.top-header{
    height:56px;
    position: absolute;
    overflow: hidden;
}
.table-body{
    position: absolute;
    top:56px;
    max-height: calc(100% - 70px);
    max-height: -moz-calc(100% - 70px);
    max-height: -webkit-calc(100% - 70px);
    max-height: -o-calc(100% - 70px);
    overflow-y: auto;
} 
.top-header table{
    height:99%;
}

/*ROW COLOR CHANGE*/

tr:nth-of-type(odd) {
  background: #fbeede !important;
}

tr:nth-of-type(even) {
  background: #fff8ef !important;
}