<div class="row">
  <div class="col-md-12 full-height">

    <div id="private-nav">
      <div class="row parallel">
        <div class="col-lg-6 co-md-6 col-sm-6 col-xs-12">
          <div class="grey-box">
            <div class="img-section">
              <div class="dashboard-img">
                <img src="assets/img/002-pdf.png">
                <span class="badge-dashboard badge">15</span>
              </div>
              <span>Unindexed Images</span>
            </div>
            <div class="content-right-section">
              <div class="upper-description text-left">
                <p>
                  <strong>15 NEW</strong>
                  <span>Un-indexed Images</span>
                  <i>(in the last 24 hours)</i>
                </p>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%; height: 25px;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">8550</div>
              </div>
              <ul class="status-in-word">
                <li class="completed">8550 Indexed Images</li>
                <li class="outstanding">988 Unindexed Images</li>
              </ul>
              <div class="status-information">
                <span class="status-information-label">latest Scanned Images</span>
                <a href="" class="status-information-badge">189734.pdf</a>
                <a href="" class="status-information-badge">189734.pdf</a>
                <a href="" class="status-information-badge">189734.pdf</a>
              </div>
              <div class="status-information">
                <span class="status-information-label">latest Indexed Images</span>
                <a href="" class="status-information-badge">189734.pdf</a>
                <a href="" class="status-information-badge">189734.pdf</a>
                <a href="" class="status-information-badge">189734.pdf</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 co-md-6 col-sm-6 col-xs-12">
          <div class="grey-box">
            <div class="img-section">
              <div class="dashboard-img">
                <img src="assets/img/diary.png">
                <span class="badge-dashboard badge">237</span>
              </div>
              <span>Diaries</span>
            </div>
            <div class="content-right-section">
              <div class="upper-description text-left">
                <p>
                  <strong>15 NEW</strong>
                  <span>Un-indexed Images</span>
                  <i>(in the last 24 hours)</i>
                </p>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%; height: 25px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">411</div>
                237
              </div>
              <ul class="status-in-word">
                <li class="completed">8550 Indexed Images</li>
                <li class="recent">12 Recent
                  <i>(last 48 hrs)</i>
                </li>
                <li class="outstanding">988 Unindexed Images</li>
              </ul>
              <div class="status-information">
                <span class="status-information-label">Top Producers</span>
                <a href="" class="status-information-badge">Employee1</a>
              </div>
              <div class="status-information">
                <span class="status-information-label">latest Indexed Images</span>
                <a href="" class="status-information-badge">189734.pdf</a>
              </div>

              <div class="status-information">
                <span class="status-information-label">latest Indexed Images</span>
                <a href="" class="status-information-badge">189734.pdf</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 co-md-6 col-sm-6 col-xs-12">
          <div class="grey-box">
            <div class="img-section">
              <div class="dashboard-img">
                <img src="assets/img/005-credit-cards-payment.png ">
                <span class="badge-dashboard badge">19</span>
              </div>
              <span>Unpaid Scripts</span>
            </div>
          </div>
        </div>

        <div class="col-lg-6 co-md-6 col-sm-6 col-xs-12">
          <div class="grey-box">
            <div class="img-section">
              <div class="dashboard-img">
                <img src="assets/img/007-claim.png">
                <span class="badge-dashboard badge">31</span>
              </div>
              <span>Claims</span>
            </div>
          </div>
        </div>

        <div class="col-lg-6 co-md-6 col-sm-6 col-xs-12">
          <div class="grey-box">
            <div class="img-section">
              <div class="dashboard-img">
                <img src="assets/img/001-newspaper.png">
                <span class="badge-dashboard badge">31</span>
              </div>
              <span>Accounts Receivable
              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-6 co-md-6 col-sm-6 col-xs-12">
          <div class="grey-box">
            <div class="img-section">
              <div class="dashboard-img">
                <img src="assets/img/006-medical-prescription.png">
                <span class="badge-dashboard badge">96</span>
              </div>
              <span>Prescriptions</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>