<div class="row">
  <div class="col-md-12">
    <section class="content-header">
      <ol class="breadcrumb pull-left">
        <li>
          <a routerLink="/">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="active">
          <a [routerLink]="[]">
            Payments
          </a>
        </li>
      </ol>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Payments</h3>
      </div>
      <div class="box-body" style="padding-top:0px;">
        <div class="row search">
          <div class="col-sm-12" id="accordion">
            <app-payment-input></app-payment-input>
          </div>
        </div>
        <!-- <div class="row"  *ngIf="!paymentService.prescriptionSelected">
                    <div class="col-sm-12" id="accordion">
                        <div class="box">
                            <div class="box-body payment-invoice">
                                <app-payment-invoice></app-payment-invoice>
                            </div>
                        </div>
                    </div>
                </div> -->
        <div class="row">
          <div class="col-sm-12" id="accordion">
            <div class="box" style=" border-bottom-color:black">
              <div class="box-header bg-head-box">
                <h4 class="box-title text-center panel-head">
                  <u>
                    <img src="assets/img/iconPrescriptions.png"> Prescriptions</u>
                </h4>

                <span class="tally pull-right" style="margin-right:250px;">
                  <span>
                    <span style="font-size:13pt">{{paymentService.detailedClaimsData.length}}</span> Record{{paymentService.detailedClaimsData.length>1
                    ? 's':''}} found
                  </span>
                  <span class="label" *ngIf="paymentService.claimsDataCount" style="margin-left:20px;background:#414772;font-size:9pt">
                    <span style="font-size:11pt">{{paymentService.detailedClaimsDataCount}} </span> Row {{paymentService.detailedClaimsDataCount>1 ? 's':''}}
                    selected
                  </span>
                </span>

                <div class="box-tools pull-right">
                  <!-- <button class="btn add-btn btn-flat btn-small" type="button" (click)="paymentScriptService.addScripts()"><i class="fa fa-plus"></i> Add Scripts</button> -->
                  <button class="btn add-btn btn-flat btn-small" type="button" (click)="showModal()">
                    <i class="fa fa-plus"></i> Add Scripts</button>
                </div>
              </div>
              <div class="box-body claims payment-result panel-body-bg">
                <app-payment-result></app-payment-result>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay" *ngIf="paymentService.loading" style="text-align:center;">
        <img src="assets/1.gif">
      </div>
    </div>
  </div>
</div>

<div id="tab" class="tab" [@slideInOut]="tabState">
  <div class="tab-content">
    <div class="row table-header">
      <div class="col-xs-4">Patient Name</div>
      <div class="col-xs-3">Rx. Date</div>
      <div class="col-xs-3">Amt. Posted</div>
      <div class="col-xs-2">&nbsp;</div>
    </div>
    <div class="row posted-content">
      <div class="col-xs-12">
        <div *ngFor="let post of paymentService.paymentPosting.paymentPostings" class="row table-content">
          <div class="col-xs-4">{{post.patientName}}</div>
          <div class="col-xs-3">{{formatDate(post.rxDate)}}</div>
          <div class="col-xs-3">{{post.amountPosted | currency:'USD':true:'1.2-2'}}</div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-danger btn-xs" (click)="deletePayment(post,paymentService.paymentPosting.sessionId)">
              <span class="fa fa-trash"></span> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tab-btn" (click)="toggleTab()">
    <span>POSTED PYMTS</span>
  </div>
</div>

<swal #addScriptSwal [showCancelButton]="false" [showConfirmButton]="false" customClass="payment-modal" [focusCancel]="false"
  title="">
  <app-add-script-modal *swalPartial>
  </app-add-script-modal>
  <swal>