@import url('https://fonts.googleapis.com/css?family=Cambay:400,700');
*:not(.fa) {
  font-family: 'Cambay', sans-serif !important;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cambay', sans-serif !important;
  font-weight: 700;
}

.box-header {
  padding: 10px 10px 5px 10px;
}

.row.data {
  font-size: 9.6pt;
}

.row.data .box,
.bottom-0 {
  margin-bottom: 0px;
}

.row.padding-bottom-0 {
  padding-bottom: 0px;
}

.box {
  border: 1.5px solid #d2d6de;
}

.box .box-body {
  overflow-x: hidden;
  padding-top: 2px;
  padding-bottom: 0px;
}

.box-header.with-border,
.box .box-body>.row:first-child {
  position: relative;
  z-index: 3;
  background: #fff;
  margin-bottom: 1rem;
}

#fixed-box-header {
  z-index: 2;
}

td,
th {
  padding-bottom: 1px !important;
  padding-top: 1px !important;
}

.fittoSreen .box-body {
  height: 180px;
  overflow-y: hidden;
}

.fittoSreen .box-body.claims {
  height: 250px;
}

.swal2-modal {
  width: 900px !important;
  min-width: 900px !important;
}

textarea {
  resize: vertical;
}

.bg-head-box {
  background: #992727;
  z-index: 3;
  color:#fff;
}

.panel-head {
  color: #fff;
}

.panel-head u {
  text-decoration: none;
}

.panel-head img {
  vertical-align: -5px;
  margin-right: 7px;
}

.panel-body-bg {
  background: #fbeede;
}

.bg-darkRed {
  background: #992727;
  color: #fff;
}

.bg-fullWhite {
  background: #fff;
  color: #992727;
}

.bg-fullWhite:hover {
  box-shadow: none;
}

.bg-darkblue {
  background-color: #414772;
  color: #fff;
  font-size: 14px;
}

.bg-grey {
  background: #E2E2E2;
  padding: 5px;
  min-width: 35px;
  text-align: center;
}

.bg-grey i {
  font-size: 20px;
  vertical-align: -5px;
  color: #992727;
}

.display-none {
  display: none
}

.tally {
  color: white;
  font-size: 10pt;
  font-family: "Comic Sans MS";
  display: block;
}


/*Tab*/

.tab {
  position: fixed;
  width: 450px;
  min-height: 150px;
  height: calc(100vh - 249px);
  height: -webkit-calc(100vh - 249px);
  height: -o-calc(100vh - 249px);
  height: -moz-calc(100vh - 249px);
  top: 271px;
  /* margin-top:50px; */
  right: -450px;
  background: #222d32;
  z-index: 10;
  color: #fff;
  border-radius: 6px 0 0 6px;
}

#tab-btn {
  position: absolute;
  top: 119px;
  left: -117px;
  background: #222d32;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 6px 6px 0 0;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.table-header {
  border-bottom: 1px solid #fff;
  margin: 0 0 1rem 0;
}

.table-header>div {
  text-align: center;
  padding: 1rem 0;
  border-right: 1px solid #fff;
}

.table-header>div:last-child {
  border-right: none;
}

.posted-content {
  height: calc(100vh - 249px);
  height: -webkit-calc(100vh - 249px);
  height: -o-calc(100vh - 249px);
  height: -moz-calc(100vh - 249px);
  overflow: hidden;
}

.posted-content .col-xs-12 {
  min-height: 0px !important;
  max-height: calc(90vh - 254px);
  max-height: -webkit-calc(90vh - 254px);
  max-height: -o-calc(90vh - 254px);
  max-height: -moz-calc(90vh - 254px);
  overflow-y: auto;
  background: transparent;
  border: none;
}

.table-content,
.posted-content {
  margin: 0;
}

.table-content:last-child {
  margin-bottom: 1rem;
}

.table-content>div {
  text-align: center;
  padding: 0.25rem 0;
}

.add-btn {
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    padding-top: 7px;
    padding-bottom: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.add-btn:hover {
    background: #892222;
}

/* ROW COLOR CHANGE*/

tr:nth-of-type(odd) {
  background: #fbeede !important;
}

tr:nth-of-type(even) {
  background: #fff8ef !important;
}

/*new checks css*/

.white {
  color: #ffffff;
}
.documents{
  padding-top:0px;
  padding-bottom:5px;
}
.transparent,.transparent:hover{
  background: transparent;
  color:white
}

.dropdown.menu {
  display: inline-table;
  margin-right: 150px;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.box-header>.box-tools .dropdown-menu>li.active>a{
  color:white !important;
}

.total {
  display: block;
  margin-left:160px; 
  display: inline-table;
}