td,
th {
    text-align: center;
    font-size: 9pt;
    font-family: 'Cambay', sans-serif !important;
}
table:not(.to-merge) tr>th:first-child,
table:not(.to-merge)  tr>td:first-child{
    width: 16%;
}
table:not(.to-merge) tr>th:nth-child(2),
table:not(.to-merge) tr>td:nth-child(2),
table:not(.to-merge) tr>th:nth-child(3),
table:not(.to-merge) tr>td:nth-child(3),
table:not(.to-merge) tr>th:nth-child(4),
table:not(.to-merge) tr>td:nth-child(4),
table:not(.to-merge) tr>th:nth-child(5),
table:not(.to-merge) tr>td:nth-child(5),
table:not(.to-merge) tr>th:nth-child(6),
table:not(.to-merge) tr>td:nth-child(6),
table:not(.to-merge) tr>th:last-child,
table:not(.to-merge) tr>td:last-child{
    width: 12%;
}

/* ROW COLOR CHANGE*/

tr:nth-of-type(odd) {
    background: #fbeede !important;
}

tr:nth-of-type(even) {
    background: #fff8ef !important;
}

.row,.col-sm-12.expanded{
    margin:0px;
    padding:0px;   
    overflow: hidden;     
}
.expanded{
   /*  height: calc(100vh - 290px);
    height: -moz-calc(100vh - 290px);
    height: -webkit-calc(100vh - 290px);
    height: -o-calc(100vh - 290px); */

    height: calc(100vh - 190px);
    height: -moz-calc(100vh - 190px);
    height: -webkit-calc(100vh - 190px);
    height: -o-calc(100vh - 190px);
    overflow:hidden;
}
.top-header,.table-body{
    width:98%;
}

.top-header{
    height:56px;
    width: calc(98% - 15px);
    width: -webkit-calc(98% - 15px);
    width: -o-calc(98% - 15px);
    width: -moz-calc(98% - 15px);
    position: absolute;
    overflow: hidden;
}
.table-body{
    position: absolute;
    top:45px;
    height: calc(100% - 110px);
    max-height: calc(100% - 110px);
    max-height: -moz-calc(100% - 110px);
    max-height: -webkit-calc(100% - 110px);
    max-height: -o-calc(100% - 110px);
    overflow-y: auto;
    overflow-x: hidden;
} 
.top-header.selection-mode{
    height:85px;
}
.table-body.selection-mode{
    top:85px;
    height: calc(100% - 140px);
    max-height: calc(100% - 140px);
    max-height: -moz-calc(100% - 140px);
    max-height: -webkit-calc(100% - 140px);
    max-height: -o-calc(100% - 140px);
}
.top-header table{
    height:100%;
}
tbody>tr:hover {
    background: #b6f1ff !important;
    cursor: pointer;
  }
  /*SORT*/

thead span {
    cursor: pointer;
}

.fa-unsorted:before,
.fa-sort:before,
.fa-sort-up:before,
.fa-sort-asc:before,
.fa-sort-down:before,
.fa-sort-desc:before {
    padding-right: 0.6rem;
    font-size: 1.4rem;
    color: #666;
}

.fa.rotate.fa-exchange {
    margin-left: 0;
}


/*Unnecessary-space*/

.table>thead>tr>th[_ngcontent-c9] {
    border-bottom: 0px;
}
.pagination-row{
    position:absolute;
    right: calc(50% - 214px);
    bottom:15px;
    background: -webkit-linear-gradient(top, #fff 0%, #eeedec 40%, #faf6e9 100%);
    background: linear-gradient(to bottom, #fff 0%, #eeedec 40%, #faf6e9 100%);
    padding:5px 35px;
    width: 468px;
    border-radius:10px;
    text-align: center;
}
.pagination-row button:not(.goto){
    margin:5px;
    /* background:transparent; */
    font-family: 'Cambay', sans-serif !important;
    line-height: normal;
    vertical-align:middle;
    width:60px;
    font-weight: 700;
    padding:4px 10px 1px 10px;
    font-size: 13px;
    text-anchor: middle;
}

.pagination-row button.goto,.pagination-row  .input-group .form-control{
    margin:5px;
    /* background:transparent; */
    font-family: 'Cambay', sans-serif !important;
    line-height: normal;
    vertical-align:middle; 
    font-weight: 700;
    padding:4px 10px 1px 10px;
    font-size: 13px;
    text-anchor: middle;
}

.pagination-row  .input-group .form-control{
    height:28px;
}

.container-fluid.merge .expanded{
    overflow: hidden;
    overflow-y: auto;
}
.container-fluid.merge .expanded .col-sm-6:nth-child(2) tr:nth-of-type(odd) {
    background: #fbdede !important;
}

.container-fluid.merge .expanded .col-sm-6:nth-child(2) tr:nth-of-type(even) {
    background: #ffefef !important;
}
.container-fluid.merge .expanded .col-sm-6:nth-child(2) tr:hover {
        background: #ffb6b6 !important;
        cursor: pointer;
      }
.container-fluid.merge .expanded td{
    text-align: left;
}
.container-fluid.merge .expanded .commonCheckBox input[type=checkbox]{
    z-index:0;
}