<mat-form-field matAutocompleteOrigin #origin="matAutocompleteOrigin" class="mb-3">
  <mat-icon class="search-i" matPrefix>search</mat-icon>
  <input type="text" matInput [formControl]="searchCtrl" [matAutocomplete]="auto" (click)="placeholder=''"
    #searchAutocompleteInputCtrl="matInput" [placeholder]="placeholder" [matAutocompleteConnectedTo]="origin">
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete" (opened)="onAutocompleteOpened()" (closed)="onAutocompleteClosed()">
  <ng-container *ngIf="rowSearchHits$ | async as payorSearchHits">
    <ng-container *ngIf="payorSearchHits && payorSearchHits.length > 0; else showNoResults">
      <mat-option  *ngFor="let hit of payorSearchHits; let i = index;" [value]="''" [hidden]="!readyState"
        (onSelectionChange)="onSearchHit(hit);">
        <p class="payor-search-elm" [innerHtml]="highlightedTexts[i]" [class.current-payor]="hit.payorId === currentPayorId">
        </p>
      </mat-option>
    </ng-container>

    <ng-template #showNoResults>
      <mat-option class="mat-option__no-results" [value]="null" [disabled]='true' *ngIf="isLoading"
        [hidden]="!isLoading">
        <p class="payor-search-elm" >Loading...<mat-spinner class="loading" [diameter]="20"></mat-spinner>
        </p>
      </mat-option>
      <mat-option class="mat-option__no-results" [value]="null" [disabled]='true'
        *ngIf="isResult && isFirstSearchResultReceived" [hidden]="!isResult">
        <p class="payor-search-elm" >No results...</p>
      </mat-option>
    </ng-template>
  </ng-container>
</mat-autocomplete>
