:host-context span.highlighted {
  font-weight: bold;
}
:host-context .payor-search .mat-option-text:hover,
:host-context .payor-search-type .payor-search:hover,
:host-context .payor-search mat-option.mat-active {
  color: #112794;
}
:host-context .payor-search-type .mat-menu-content {
  z-index: 5000;
}
:host-context .payor-search .mat-option {
  z-index: 4000;
}
:host-context .payor-search {
  width: 96.5% !important;
  left: 6px;
}
:host-context .search-completed .payor-search {
  margin-top: -10px;
}

:host-context .payor-search mat-option.mat-active .loading {
  display: inline-block;
  position: relative;
  top: 4px;
  left: 16px;
}
:host-context .search-completed .payor-search {
  position: relative;
  bottom: 0px;
}
.search-i{
  vertical-align: text-top;
}
mat-form-field{
  max-width: 100%
}

