<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box" id="modalWindowMax">
            <div class="box-header with-border">
                <h3 class="box-title"> Diary Entries</h3>
            </div>
            <div class="box-body">
                <!-- Input Form -->
                <div class="row search">
                    <div class="col-sm-12" id="accordion"> 
                        <div class="box no-border" style="padding: 0px;margin-bottom:0rem;">
                            <div class="box-header bg-head-box">
                                <span class="blade-title panel-head">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="fa fa-search white" aria-hidden="true"></i>
                                        <span class="left5 right5 white">Search and Filter</span>
                                        <i class="fa fa-filter white" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>                                    
                            <div class="box-body"  style="padding: 0px 15px;" id="collapseOne" class="panel-collapse collapse in collapse out">
                                <app-diary-input></app-diary-input>
                            </div>
                        </div> 
                    </div>
                </div>
                <!-- Diary Results -->
                <div class="row">
                    <div class="col-sm-12" id="accordion">
                        <div class="box">
                            <div class="box-header bg-head-box">
                                <span class="blade-title panel-head">
                                    <i class="fa fa-book" aria-hidden="true"></i> Diary
                                </span>
                                <span class="total pull-right">
                                    <span *ngIf="ds.diaryList.length>0"><span style="font-size:13pt">{{ds.diaryList.length}}</span> Record{{ds.diaryList.length>1 ? 's':''}} found</span>
                                </span>
                            </div>
                            <div class="box-body diary-results">
                                <app-diary-results></app-diary-results>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" *ngIf="ds.loading">
                <img src="assets/1.gif">
            </div>
        </div>
    </div>
</div>