td,
th {
    text-align: center;
    font-size: 9pt;
    font-family: 'Cambay', sans-serif !important;
}
tr>th:first-child,
tr>td:first-child,
tr>th:nth-child(2),
tr>td:nth-child(2){
    width:11%;
}

tr>th:nth-child(3),
tr>td:nth-child(3),
tr>th:nth-child(4),
tr>td:nth-child(4),
tr>th:nth-child(5),
tr>td:nth-child(5),
tr>th:nth-child(6),
tr>td:nth-child(6),
tr>th:nth-child(7),
tr>td:nth-child(7),
tr>th:nth-child(8),
tr>td:nth-child(8),
tr>th:nth-child(9), 
tr>td:nth-child(9),
tr>th:nth-child(10), 
tr>td:nth-child(10),
tr>th:nth-child(11), 
tr>td:nth-child(11),
tr>th:nth-child(12), 
tr>td:nth-child(12),
tr>th:nth-child(13), 
tr>td:nth-child(13),
tr>th:last-child,
tr>td:last-child{
    width: 6.5%;
}

/* ROW COLOR CHANGE*/

tr:nth-of-type(odd) {
    background: #fbeede !important;
}

tr:nth-of-type(even) {
    background: #fff8ef !important;
}

.row,.col-sm-12.expanded{
    margin:0px;
    padding:0px;   
    overflow: hidden;     
}
 
.expanded{
    height: calc(100vh - 280px);
    height: -moz-calc(100vh - 280px);
    height: -webkit-calc(100vh - 280px);
    height: -o-calc(100vh - 280px);
    overflow:hidden;
}
.top-header,.table-body{
    width:98%;
}

.top-header{
    height:56px;
    width: calc(98% - 15px);
    width: -webkit-calc(98% - 15px);
    width: -o-calc(98% - 15px);
    width: -moz-calc(98% - 15px);
    position: absolute;
    overflow: hidden;
}
.table-body{
    position: absolute;
    top:40px;
    height: calc(100% - 10px);
    max-height: calc(100% - 10px);
    max-height: -moz-calc(100% - 10px);
    max-height: -webkit-calc(100% - 10px);
    max-height: -o-calc(100% - 10px);
    overflow-y: auto;
    overflow-x: hidden;
} 
.top-header table{
    height:100%;
}
tbody>tr:hover {
    background: #b6f1ff !important;
    cursor: pointer;
  }
  /*SORT*/

thead span {
    cursor: pointer;
}

.fa-unsorted:before,
.fa-sort:before,
.fa-sort-up:before,
.fa-sort-asc:before,
.fa-sort-down:before,
.fa-sort-desc:before {
    padding-right: 0.6rem;
    font-size: 1.4rem;
    color: #666;
}

.fa.rotate.fa-exchange {
    margin-left: 0;
}


/*Unnecessary-space*/

.table>thead>tr>th[_ngcontent-c9] {
    border-bottom: 0px;
}
.pagination-row{
    position:absolute;
    right: calc(50% - 214px);
    bottom:15px;
    background: -webkit-linear-gradient(top, #fff 0%, #eeedec 40%, #faf6e9 100%);
    background: linear-gradient(to bottom, #fff 0%, #eeedec 40%, #faf6e9 100%);
    padding:5px 35px;
    width: 428px;
    border-radius:10px;
    text-align: center;
}
.pagination-row button:not(.goto){
    margin:5px;
    /* background:transparent; */
    font-family: 'Cambay', sans-serif !important;
    line-height: normal;
    vertical-align:middle;
    width:60px;
    font-weight: 700;
    padding:4px 10px 1px 10px;
    font-size: 13px;
    text-anchor: middle;
}

.pagination-row button.goto,.pagination-row  .input-group .form-control{
    margin:5px;
    /* background:transparent; */
    font-family: 'Cambay', sans-serif !important;
    line-height: normal;
    vertical-align:middle; 
    font-weight: 700;
    padding:4px 10px 1px 10px;
    font-size: 13px;
    text-anchor: middle;
}

.pagination-row  .input-group .form-control{
    height:28px;
}