/* You can add global styles to this file, and also import other style files */
/*Toastr Global positioning*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url(//fonts.googleapis.com/css?family=Audiowide);
@import url(//fonts.googleapis.com/css?family=Aladin);
@import url(//fonts.googleapis.com/css?family=Nova%20Flat);
@import url(//fonts.googleapis.com/css?family=Atomic%20Age);
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";

.cdk-overlay-container {
  z-index: 1000000000 !important;
}


.main-header {
  position: fixed;
  width: 100%;
}

.content-wrapper {
  margin-top: 50px;
}

#toast-container {
  top: 70px !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #d9d9d9;
}

.table-striped > tbody > tr.clr-change:nth-child(even) {
  background-color: #fbeede;
}

.table-striped > tbody > tr.clr-change:nth-child(odd) {
  background-color: #fff8ef;
}

table tr > td {
  align-items: unset;
}

.scroll-y {
  overflow-y: auto;
}

li.disabled,
a.disabled, a.disabled:active, a.disabled:hover {
  cursor: not-allowed !important;
  text-decoration: none;
}

.swal2-modal.payment-modal {
  padding: 5px 10px;
  padding-left: 15px;
  margin-top: 174px !important;
}

.swal2-modal.payment-modal:not(.episodes):not(.search-modal) {
  min-width: 500px;
  min-height: 500px;
  width: calc(100vw - 780px) !important;
  width: -webkit-calc(100vw - 780px) !important;
  width: -moz-calc(100vw - 780px) !important;
  width: -o-calc(100vw - 780px) !important;
}

.swal2-modal.payment-modal.custom {
  min-width: 500px;
  min-height: 500px;
  width: calc(100vw - 580px) !important;
  width: -webkit-calc(100vw - 580px) !important;
  width: -moz-calc(100vw - 580px) !important;
  width: -o-calc(100vw - 580px) !important;
}

.swal2-modal.custom-modal {
  width: calc(100vw * 1.799 / 3) !important;
  width: -webkit-calc(100vw * 1.799 / 3) !important;
  width: -moz-calc(100vw * 1.799 / 3) !important;
  width: -o-calc(100vw * 1.799 / 3) !important;
}

.swal2-modal.payment-modal.episodes {
  width: 600px !important;
  height: 500px !important;
}

.swal2-modal.claims-modal {
  width: 350px !important;
}

.swal2-modal.payment-modal.search-modal {
  height: calc(100vh - 40px);
  margin-bottom: 1px !important;
  margin-top: 30px !important;
  width: 1100px !important;
  overflow: hidden;
}

.swal2-modal.payment-modal.search-modal .swal2-header {
  margin-top:1rem;
}
.swal2-modal.payment-modal.search-modal .swal2-content {
  height: calc(100vh - 50px);
  /* overflow: hidden; */
}

.swal2-modal.payment-modal .swal2-content .bg-head-box {
  background: #992727;
  z-index: 3;
}

.swal2-modal.payment-modal .swal2-content .panel-head {
  color: #fff;
}

.swal2-modal.payment-modal .swal2-content .panel-head u {
  text-decoration: none;
}

.swal2-modal.payment-modal .swal2-content .panel-head img {
  vertical-align: -5px;
  margin-right: 7px;
}

.swal2-modal.payment-modal .swal2-content .panel-body-bg {
  background: #fbeede;
}

.swal2-modal.payment-modal .swal2-content .bg-darkRed, .btn.bg-darkRed {
  background: #992727;
  color: #fff;
}

.text-darkRed {
  color: #992727
}

.swal2-modal.payment-modal .swal2-content .bg-darkblue {
  background-color: #414772;
  color: #fff;
}

.swal2-modal.payment-modal .swal2-content .not-allowed,
.not-allowed .form-control, a.not-allowed {
  cursor: not-allowed;
}

.swal2-modal.payment-modal .swal2-content .bg-DarkGreen {
  background: #084205;
  color: #fff;
}

.swal2-modal.payment-modal .swal2-content .bg-DarkGreen:focus {
  color: #fff !important;
}

.swal2-modal.payment-modal .swal2-content .bg-fullWhite {
  background: #fff;
  color: #992727;
}

.swal2-modal.payment-modal .swal2-content .bg-fullWhite:hover {
  box-shadow: none;
}

.swal2-modal.payment-modal .swal2-title,
.swal2-modal.claims-modal .swal2-title {
  display: none;
}

.swal2-modal.payment-modal .swal2-content label,
.swal2-modal.payment-modal .swal2-content .form-group button {
  font-size: 12px;
}

.swal2-modal.payment-modal .swal2-content label {
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.swal2-modal.payment-modal .swal2-content .payment-input form div.row {
  display: flex;
  flex-wrap: wrap;
}

.swal2-modal.payment-modal .swal2-content .payment-input form div div.search-col {
  width: 33%;
  display: block;
  position: relative;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 0px;
}

.swal2-modal.payment-modal.custom .swal2-content .payment-input form div div.search-col {
  width: 16%;
}

.swal2-modal.payment-modal .swal2-content .payment-input form div div.search-col:nth-last-child(3),
.swal2-modal.payment-modal .swal2-content .payment-input form div div.search-col:nth-last-child(2) {
  width: 27.5% !important;
}

.swal2-modal.payment-modal .swal2-content .payment-input form div div.search-col:last-child {
  width: 44% !important;
}

.swal2-modal.payment-modal:not(.search-modal) .swal2-content .expanded {
  height: calc(100vh - 420px) !important;
  height: -moz-calc(100vh - 420px) !important;
  height: -webkit-calc(100vh - 420px) !important;
  height: -o-calc(100vh - 420px) !important;
}

.swal2-modal.payment-modal.search-modal .swal2-content .expanded {
  height: calc(100vh - 255px) !important;
  height: -moz-calc(100vh - 255px) !important;
  height: -webkit-calc(100vh - 255px) !important;
  height: -o-calc(100vh - 255px) !important;
}

/* .swal2-container{
    margin-left:-220px;
} */
.swal2-modal.claims-modal .swal2-content,
.swal2-modal.custom-modal .swal2-content,
.swal2-modal.payment-modal .swal2-content {
  display: block !important;
  min-width: 400px;
  min-height: 500px;
}

.swal2-modal.payment-modal .swal2-content .payment-input .col-md-2,
.swal2-modal.payment-modal .swal2-content .payment-input .col-md-3,
.swal2-modal.payment-modal .swal2-content .payment-input .col-md-1 {
  padding-left: 0px !important;
}

.swal2-modal.payment-modal .swal2-content .payment-input .col-md-3
{
  padding-right: 0px !important;
}

.swal2-modal.payment-modal .swal2-content .tally,
.swal2-modal.payment-modal .swal2-content .tally * {
  color: white;
  font-size: 10pt !important;
  font-family: "Comic Sans MS";
  display: flex;
  flex-direction: row;
}

.swal2-modal.payment-modal .swal2-content .claim-info.row,
.col-sm-12.claim-col.expanded {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.swal2-modal.payment-modal .swal2-content .box-body {
  padding: 0px;
  border: 2px solid lightgray;
}

.swal2-modal.payment-modal .swal2-content .table-responsive {
  position: relative;
  overflow-x: hidden;
}

.swal2-modal.payment-modal .swal2-content #fixed-header {
  position: absolute;
  top: 43px;
  background: #fbeede;
  z-index: 2;
  padding: 1.6rem 0;
}

.swal2-modal.payment-modal .swal2-content table {
  table-layout: fixed;
  width: 100% !important;
  overflow-x: hidden;
}

.swal2-modal.payment-modal .swal2-content thead,
.swal2-modal.payment-modal .swal2-content tbody {
  overflow-y: hidden !important;
}

.swal2-modal.payment-modal .swal2-content td,
.swal2-modal.payment-modal .swal2-content th {
  word-wrap: break-word;
  padding-left: 2px !important;
  font-size: 1.4rem;
  padding-right: 2px !important;
}

.swal2-modal.payment-modal .swal2-content textarea {
  resize: vertical;
}

.swal2-modal.payment-modal .swal2-content tr > th,
.swal2-modal.payment-modal .swal2-content tr > td {
  font-size: 1.3rem;
  text-align: center;
}

.swal2-modal.payment-modal .swal2-content td > a.label {
  font-size: 1.2rem;
}

.swal2-modal.payment-modal .swal2-content table {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.swal2-modal.payment-modal .swal2-content tbody,
.swal2-modal.payment-modal .swal2-content thead {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-y: auto;
}

.swal2-modal.payment-modal .swal2-content tbody.overflowable,
.swal2-modal.payment-modal .swal2-content thead.overflowable {
  flex-grow: 1;
  flex-shrink: 1;
}

.swal2-modal.payment-modal .swal2-content tr {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
}

.swal2-modal.payment-modal .swal2-content td,
.swal2-modal.payment-modal .swal2-content th {
  display: block;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
}

@media screen and (max-width: 300px) {
  .swal2-modal.payment-modal .swal2-content .fa.rotate {
    margin-left: 2px;
  }
}

@media screen and (min-width: 300px) {
  .swal2-modal.payment-modal .swal2-content .fa.rotate {
    margin-left: 7px;
  }
}

.swal2-modal.payment-modal .swal2-content .bg-darkblue {
  background-color: #414772 !important;
}

.swal2-modal.payment-modal .swal2-content tbody > tr.bgBlue {
  background: #56a1ff !important;
  color: white;
}

.swal2-modal.payment-modal .swal2-content tbody > tr.bgBlue td {
  color: white;
}

.swal2-modal.payment-modal .swal2-content tbody > tr.bgBlue td::selection,
.swal2-modal.payment-modal .swal2-content tbody > tr.bgBlue td a::selection {
  background: transparent !important;
}

.swal2-modal.payment-modal .swal2-content tbody > tr:hover {
  background: #b6f1ff !important;
  cursor: pointer;
  color: #000;
}

.swal2-modal.payment-modal .swal2-content tbody > tr:hover td,
.swal2-modal.payment-modal .swal2-content tbody > tr:hover td::selection {
  color: #000;
}

.swal2-modal.payment-modal .swal2-content .claim-col {
  height: 60px;
}

.swal2-modal.payment-modal .swal2-content .box {
  margin-bottom: 1px;
}

.swal2-modal.payment-modal .swal2-content .expanded {
  height: calc(100vh - 330px);
  height: -moz-calc(100vh - 330px);
  height: -webkit-calc(100vh - 330px);
  height: -o-calc(100vh - 330px);
  overflow: hidden;
  overflow-y: auto;
}

.swal2-modal.payment-modal .swal2-content .top-header,
.table-body {
  width: 99%;
}

.swal2-modal.payment-modal .swal2-content .top-header {
  height: 56px;
  position: absolute;
  overflow: hidden;
}

.swal2-modal.payment-modal .swal2-content .table-body {
  position: absolute;
  top: 56px;
  max-height: calc(100% - 56px);
  max-height: -moz-calc(100% - 56px);
  max-height: -webkit-calc(100% - 56px);
  max-height: -o-calc(100% - 56px);
  overflow-y: auto;
}

.swal2-modal.payment-modal.tree-modal .swal2-content .table-body {
  top: 36px;
}
.swal2-modal.payment-modal.tree-modal .swal2-content .table-body .item.row{
  margin-right:15px;
}
.swal2-modal.payment-modal.tree-modal {
  display: block;
}

.swal2-modal.payment-modal .swal2-content .close-button i {
  color: white;
}

.swal2-modal.payment-modal .swal2-content .close-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: -4px;
  top: -4px;
  z-index: 9;
  background: red;
}

.swal2-modal.payment-modal .swal2-content .top-header table {
  height: 99%;
}


.wrapper {
  overflow: hidden !important;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;

}

.overlay > img {
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body.sidebar-collapse .overlay {
  /*  width: calc(100vw - 49px)!important;
    width: -o-calc(100vw - 49px)!important;
    width: -webkit-calc(100vw - 49px)!important;
    width: -moz-calc(100vw - 49px)!important; */

}

body:not(.sidebar-collapse) .overlay {
  /*  width: calc(100vw - 230px)!important;
     width: -o-calc(100vw - 230px)!important;
     width: -webkit-calc(100vw - 230px)!important;
     width: -moz-calc(100vw - 230px)!important; */
}

body:not(.sidebar-collapse) .overlay > img {
  left: 45%;
}

.swal2-modal.payment-modal:not(.search-modal) .swal2-content tr > td:nth-child(1),
.swal2-modal.payment-modal .swal2-content tr > th:nth-child(1) {
  text-align: left !important;
}

.swal2-modal.payment-modal:not(.search-modal) .swal2-content tr > td:nth-child(1),
.swal2-modal.payment-modal:not(.search-modal) .swal2-content tr > th:nth-child(1)
.swal2-modal.payment-modal:not(.search-modal) .swal2-content tr > td:nth-child(4),
.swal2-modal.payment-modal:not(.search-modal) .swal2-content tr > th:nth-child(4) {
  width: 15% !important;
}

.swal2-modal.payment-modal:not(.search-modal) .swal2-content tr > th:nth-child(2),
.swal2-modal.payment-modal:not(.search-modal) .swal2-content tr > td:nth-child(2),
.swal2-modal.payment-modal:not(.search-modal) .swal2-content tr > th:nth-child(3),
.swal2-modal.payment-modal:not(.search-modal) .swal2-content tr > td:nth-child(3) {
  width: 35% !important;
}

.white-border {
  background: transparent;
  border: 1px solid #fff;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  color: #fff;
}

.white-border > i {
  margin-right: 1rem;
}

.white-border:hover {
  background: #832121;
  color: #fff;
}

tbody > tr.isReversed,
tbody > tr.isReversed:hover,
tbody > tr.isReversed:hover td,
tbody > tr.isReversed:hover td::selection,
tbody > tr.isReversed td .btn-group button.dropdown-toggle.status {
  color: red !important;
}

.btn-group.flex2,
.btn-group.status {
  position: absolute;
  display: inline-flex;
  margin-top: -7px;
  width: 7.5%;
}

.btn-group.flex2 button,
.btn-group.status button {
  width: 100%;
  text-align: center;
}

.btn-group.flex2.open .dropdown-menu,
.btn-group.status.open .dropdown-menu {
  z-index: 999999 !important;
  min-width: 70px;
  font-size: 10px;
}

.swal2-modal.prescription-modal {
  width: 600px !important;
}

.swal2-modal.prescription-modal .calendar {
  position: absolute;;
  width: 40%;
  bottom: -73px;
  right: 0px;
}

.swal2-modal.prescription-modal .swal2-buttonswrapper {
  text-align: left !important;
}

.ngPopup .modal-dialog .modal-content,
.modal-dialog .modal-content {
  overflow-y: hidden !important;
}

*:not(.fa):not(.glyphicon) {
  font-family: 'Cambay', sans-serif;
}

*:not(.fa):not(.btn):not(.glyphicon) {
  font-size: 14px;
}

app-claim-result *:not(.fa):not(.btn) {
  font-size: 14px;
}

.bg-darkblue, .bg-darkblue:hover, .bg-darkblue:focus {
  background-color: #414772;
  color: #fff;
}

.bg-darkRed, .bg-darkRed:hover, .bg-darkRed:focus {
  background: #992727;
  color: #fff;
}

.bg-DarkGreen, .bg-DarkGreen:hover, .bg-DarkGreen:focus {
  background: #084205;
  color: #fff;
}

.bg-vdarkgrey, .bg-vdarkgrey:hover, .bg-vdarkgrey:focus {
  background-color: #111d21 !important;
  color: #fff;
}

.btn:not(.btn-sm):not(.btn-xs) {
  padding: 8px 15.8px 4px 15.8px
}

.btn i {
  margin-right: 4px;
}

.swal2-modal.prescription-modal .swal2-buttonswrapper {
  justify-content: left;
}

.swal2-modal.prescription-modal .swal2-buttonswrapper .button-on-top {
  z-index: 10;
}
/*   .sidebar-menu{
    text-align:left
  } */
.row div .content-header {
  height: 40px;
}

.content-header > .breadcrumb {
  left: 20px;
  float: none;
  top: 0px;
  padding-top: 10px;

}

/*======================
Check Boxes Styles
========================*/


/* app Checkbox Style */

.commonCheckBox {
  position: relative;
  margin: -2px 5px;
}

.commonCheckBox label:first-of-type {
  width: 16px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 0;
  border: 1px solid #666;

  /* background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); */
  /* background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); */
  border-radius: 2px;
  /* box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); */
}

.commonCheckBox label:first-of-type.active {
  background: #e4f9f4;
  border: 1px solid #57e0c2;
}

.commonCheckBox label:first-of-type:after {
  content: '';
  width: 9px;
  height: 6px;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid #3a9493;
  border-top: none;
  border-right: none;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.commonCheckBox label:first-of-type:hover::after {
  opacity: 0.5;
}

.commonCheckBox input[type=checkbox] {
  position: absolute;
  z-index: 9;
  opacity: 0;
  width: 15px;
  height: 15px;
  margin: 0;
  cursor: pointer;
  top: 2px;
}

.commonCheckBox input[type=checkbox]:checked + label:first-of-type:after {
  opacity: 1;
}

/*SORT*/
thead span {
  cursor: pointer;
}

.fa-unsorted:before,
.fa-sort:before,
.fa-sort-up:before,
.fa-sort-asc:before,
.fa-sort-down:before,
.fa-sort-desc:before {
  padding-right: 0.6rem;
  font-size: 1.4rem;
  color: #666;
}

.swal2-shown .modal.show.in {
  z-index: 999999 !important;
}

.ngPopup > .modal-dialog {
  height: auto !important;
  margin-bottom: 0px;
}

.ngPopup > .modal-dialog .modal-content {
  min-height: 300px;
}

.ngPopup > .modal-dialog .modal-content textarea {
  resize: vertical !important;
}

modal-backdrop .modal-backdrop.in {
  z-index: -1 !important;
}

.swal2-modal.invoice-modal {
  width: 85% !important;
  height: 95% !important;
}

.swal2-modal.invoice-modal .swal2-content,
.swal2-modal.invoice-modal .swal2-close {
  display: block !important;
  outline: none;
  box-shadow: transparent;
}

.swal2-modal.invoice-modal .swal2-close {
  font-size: 30pt;
}

.swal2-modal.invoice-modal .swal2-content form div.row {
  display: flex;
  flex-wrap: wrap;
}

.swal2-container {
  padding: 2px;
  z-index: 9999992 !important;
}

thead {
  overflow-x: hidden;
}

.select2-container.select2-container--open {
  z-index: 1070 !important;
}

.isVip .box-header:not(.isMaxBalance):not(.isAttorneyManaged),
.isVip .bg-head-box:not(.isMaxBalance):not(.isAttorneyManaged) {
  background: #002f58 !important;
}

.box-header.isMaxBalance,
.bg-head-box.isMaxBalance {
  background: #e07500 !important;
}

.box-header.isAttorneyManaged,
.bg-head-box.isAttorneyManaged {
  background: #2a40b2 !important;
  color: white !important;
}


.box-header button.grey1, .box-header button.grey1:hover {
  box-shadow: inset 0px 0 0 3px #992727, inset 0 0 0 4px white;
}

.isVip .border-style {
  border-left: 6px solid #002f58 !important;
}

button.grey1 {
  font-family: 'Cambay', sans-serif !important;
  padding: 5px 10px !important;
  font-size: 14px;
  height: 34px;
  font-weight: normal;
}

.isVip button.grey1, .isVip button.grey1:hover {
  box-shadow: inset 0px 0 0 3px #002f58, inset 0 0 0 4px white;
}

.isVip .box-body,
.isVip .box-body tr:nth-of-type(odd) {
  background: #afcdd8 !important;
}

.isVip .box-body tr:nth-of-type(even) {
  background: #cff1fd !important;
}

.sticky-wrapper .sticky-claim .box-header {
  color: white;
}

.sticky-wrapper.is-sticky .sticky-claim .box-header {
  border-bottom: 1px solid white;
  color: white;
  height: 50px;

}

.sticky-wrapper.is-sticky .sticky-claim {
  z-index: 999;
  width: 100% !important;
}

.sticky-wrapper:not(.is-sticky) .sticky-claim {
  color: white;
}

.duplicate-merge .commonCheckBox input.claimCheckBox {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
}

div.toast, #toast-container {
  z-index: 9999995 !important;
}

.modal.show.in {
  z-index: 9999992;
}

.select2-container.select2-container--open {
  z-index: 9999994 !important;
}

.swal2-shown .modal.show.in {
  z-index: 9999994 !important;
}
.pointer{
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}
.node circle.tracked {
  fill: #fff;
  stroke: #832121;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif !important; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

svg text tspan{
  font-size:12px !important;
}

.mr-10 {
  margin-right: 10px  !important;
}
.min-width-75{
  min-width: 75px;
}
.height-30 {
  height: 30px;
}
.height-35 {
  height: 35px;
}
.height-25 {
  height: 25px;
}
.min-width-100 {
  min-width: 100px;
}
.min-height-35 {
  min-height: 35px;
}
.fsize-1em{
  font-size: 1em;
}
.bg-transparent {
  background: transparent  !important;
}
.bg-transparent:hover, .bg-transparent:active, .bg-transparent:focus{
  background: rgba(0,0,0,0.1) !important;
}
.border-white, .border-white:hover,.border-white:focus, .border-white:active {
  border: 1px solid white;
}
.b-radius-3 {
  border-radius: 3px !important;
}
.fsize-15{
  font-size: 15px;
}
.mb-5 {
  margin-bottom: 5px !important;
}
button.mat-button.mat-primary {
  border: 1px solid #3f51b5;
}
button.mat-button.mat-warn {
  border: 1px solid #f44336;
}
.button-icon-fix {
  position: relative;
  top: -2px;
}
.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #367fa9;
}
.mat-fab.mat-warn, .mat-flat-button.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {
  background-color: #992727;
}
.button-icon2-fix {
  position: relative;
  top: 1px;
}
.button-icon3-fix {
  position: relative;
  top: 2px;
}
app-new-episode .close-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  position: fixed;
  right: -4px;
  top: -4px;
  z-index: 4;
  background: red;
  color: white;
}

/* B4 Margin/Padding Classes Starts */
.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
/* B4 Margin/Padding Classes Ends*/
.datepicker {
  z-index: 100000000 !important;
}

.ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: #D8D8D8 !important;
}

/*.ag-column-hover {
  background-color: #EFE2E1;
}*/

/*.ag-row-editing {
  background-color: #5bc0de !important;
}*/
.example-card .mat-card-header .mat-card-header-text{
  display: none !important;
}
.example-card .mat-raised-button.mat-primary {
  background-image: linear-gradient(to right, #112695 , #2a40b2);
  width: 200px;
}
.example-card .mat-raised-button.mat-primary:hover {
   background-color: #112695;
}
.example-card .mat-raised-button.mat-primary .mat-button-wrapper {
  vertical-align: sub;
}
.example-card .mat-form-field-label-wrapper {
  top: -10px !important;
}
.example-card .mat-form-field .mat-icon {
  font-family: 'Material Icons' !important;
  font-size: 18px !important;
  position: relative;
  top: 7px;
  color: #818181;
  width: 24px !important;
}

.mat-menu-panel.myClass {
  position: relative;
  top: 20px;
  border: none;
  border-radius: 15px !important;
}
.mat-icon {
  font-family: 'Material Icons' !important;
  font-size: 24px !important;
}
.mat-menu-content .menu-item {
  width: 210px;
}
.mat-menu-content .menu-item .mat-icon {
  font-family: 'Material Icons' !important;
  font-size: 24px;
}
.mat-menu-content .menu-item button {
  height: 40px;
}
.mat-menu-content .menu-item button:focus {
  outline: none !important;
}
.mat-menu-content .menu-item button:hover {
  background-color: #112796;
  color: #fff;
}
.mat-menu-panel.myClass {
  top: -3px !important;
  right: 10px;
}
.mat-menu-content .menu-item button:hover .mat-icon {
  color: #fff;
}
.mat-menu-content .menu-item .ver-info {
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 8px;
  font-size: 12px;
}
.sidebar-mini .content-wrapper {
  margin-left: 290px;
}
.skin-black .sidebar-menu > li > a {
  color: #808080;
  border-left: none;
  padding: 10px 5px 5px 15px;
}
.skin-black .sidebar-menu > li > a > i {
  font-size: 20px;
}
.skin-black .sidebar-menu > li > a > span {
  font-size: 16px !important;
  padding-left: 18px;
}
.skin-black .sidebar-menu > li:hover > a {
  color: #353535;
  cursor: pointer;
  background-color: #f8f8fa;
  border: none;
}

.sidebar-menu.history-list > li > a > span {
  font-size: 14px !important;
}

.skin-black .sidebar-menu > li.active > a {
  color: #102695;
  background: #fdfdff;
  border-radius: 5px;
  border: 1px solid #102695;
}
.skin-black .sidebar-menu > li.active {
  padding-bottom: 5px;
}
.skin-black .sidebar-menu > li.active > a > span {
  font-size: 18px;
  font-weight: 510;
}
.sidebar-mini.sidebar-collapse .main-header .site-logo {
  width: 50px !important;
}
.sidebar-mini.sidebar-collapse .main-header .header-navbar {
  margin-left: 50px !important;
}
.sidebar-collapse .main-sidebar .sidebar .sidebar-menu {
  background-color: #fff;
}
.sidebar-collapse .main-sidebar .sidebar,
.sidebar-collapse .main-sidebar .sidebar .sidebar-menu {
  padding: 10px 5px 5px 5px !important;
}

.skin-black.sidebar-collapse .sidebar-menu > li.active > a {
  border: none !important;
  background: #f5f5f7;
}
.skin-black.sidebar-collapse .sidebar-menu > li > a {
  text-align: center;
  padding: 14px 0 10px 0px;
}
.sidebar-collapse .main-sidebar .sidebar .header span,
.skin-black.sidebar-collapse .sidebar-menu > li > a > span,
.sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu > li.active > a > span {
  display: none;
  opacity: 0;
}
.sidebar-collapse .main-sidebar .sidebar .header {
  border: 3px solid #808080;
  margin: 20px 10px;
  padding: 0px !important;
}
.sidebar-collapse  .sidebar-toggle {
  position: absolute;
  left: 0;
}
.skin-black.sidebar-collapse .main-sidebar .sidebar-menu .popover {
  white-space: nowrap;
}
.skin-black.sidebar-collapse .main-sidebar .sidebar-menu .popover,
.skin-black.sidebar-collapse .main-sidebar .sidebar-menu .popover .popover-arrow:before {
  border: none !important;
}
/* .skin-black.sidebar-collapse .main-sidebar .sidebar-menu .popover .popover-arrow {
  top: 20px !important;
} */
.skin-black.sidebar-collapse .main-sidebar .sidebar-menu .popover .popover-content {
  font-size: 16px;
  color: #102695;
  font-weight: bold;
}
.main-header .header-navbar {
  justify-content: flex-end;
}
.sidebar-mini .main-header .header-navbar {
  justify-content: space-between;
}
.skin-black .main-header .navbar .nav > li > a:hover {
  background: #f7f7f7;
}

@media screen and (max-width: 767px) {
  .sidebar-collapse .sidebar-toggle {
    position: relative !important;
  }
  .sidebar-mini .content-wrapper {
    margin-left: 0px;
  }
  .main-header .site-logo, .sidebar-mini.sidebar-collapse .main-header .site-logo {
    width: 100% !important;
  }
  .main-header .header-navbar {
    margin-top: 60px;
    margin-left: 0px !important;
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .skin-black .main-sidebar {
      -webkit-transform: translate(-290px, 0);
      transform: translate(-290px, 0);
  }
  .sidebar-open .main-sidebar, .sidebar-open .left-side {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
  }
  .sidebar-mini.sidebar-collapse .main-header .logo>.logo-lg {
    display: block !important;
  }
  .sidebar-mini.sidebar-collapse .main-header .header-navbar {
    margin-left: 0px !important;
  }
  .main-header .header-navbar .left {
    padding: 15px 0px;
  }
  .main-header .navbar {
    justify-content: space-between;
  }
  .main-sidebar {
    padding-top: 175px !important;
  }
  .content-wrapper {
    margin-top: 175px !important;
  }
  .content-header > .breadcrumb {
    top: 40px !important;
  }
}

.main-header .header-navbar .search .input-search.mat-form-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25rem;
  max-width: 25rem;
  height: 100%;
  color: #fff;
}
.main-header .header-navbar .search .input-search .mat-form-field-wrapper {
  margin: 0px 6px;
  padding: 0px 8px;
  width: 97px;
  transition: flex-grow 1s cubic-bezier(0.4, 0, 0.2, 1), background-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.main-header .header-navbar .search .mat-form-field .mat-form-field-wrapper .mat-form-field-underline {
  display: none !important;
}
.main-header .header-navbar .search .input-search .mat-form-field-infix {
  display: flex;
  width: 82px;
  padding-top: .57142857rem;
  padding-bottom: .57142857rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.search .input-search .input-search__button {
  width: 2.64285714rem;
  color: #fff;
  padding: 0px 5px;
  line-height: 3px;
  display: flex;
}
.search .input-search .input-search__button .toggle-arrow {
  display: none;
}
.main-header .header-navbar .search .input-search.mat-form-field .mat-form-field-infix span {
  color: #fff;
  top: 0;
  padding-top: 0;
}
.main-header .header-navbar .search .input-search.mat-form-field .mat-form-field-infix span .mat-form-field-label.mat-empty {
  top: 14px;
  display: inline-flex;
  color: #fff;
  left: 34px;
  font-weight: 500;
}
.main-header .header-navbar .search .input-search.input-search--is-expanded .mat-form-field-infix {
  border-bottom: 1px solid #dedede;
}
.main-header .header-navbar .search .input-search.input-search--is-expanded .mat-form-field-infix span .mat-form-field-label.mat-empty {
  color: #353535;
  left: 4.94285714rem;
}
.header-navbar .search .input-search.input-search--is-expanded .mat-input-element {
  margin: 0px 10px;
}
.main-header .header-navbar .search .input-search:hover .mat-form-field-wrapper {
  background: #fff;
  border-radius: 5px;
  color: #000;
}
.search .input-search:hover .input-search__button,
.main-header .header-navbar .search .input-search:hover span label,
.search .input-search.input-search--is-expanded .input-search__button {
  color: #353535 !important;
}
.search .input-search.input-search--is-expanded .input-search__button {
  width: 4.14285714rem;
  border-right: 1px solid #dedede;
  display: flex;
  cursor: pointer;
}
.search .input-search.input-search--is-expanded .input-search__button .toggle-arrow {
  display: inline-flex;
}
.search .input-search.input-search--is-expanded .mat-form-field-wrapper {
  width: 350px !important;
  padding: 0px 5px;
  background-color: #fff;
  /* transition: width .2s; */
  /* transition: flex-grow 0.4s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1); */
  /* transition: flex-grow 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1); */
}
/* .mat-form-field.input-search--is-expanded.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: none;
  -webkit-transform: none;
} */
/* .search .input-search.input-search--is-expanded.mat-form-field-can-float.mat-form-field-should-float span .mat-form-field-label {
  left: 4.942857rem !important;
  color: #000 !important;
  opacity: 1;
} */
.main-header .header-navbar .search .input-search.input-search--is-expanded .mat-form-field-wrapper {
  background: #fff;
  border-radius: 5px;
  color: #353535;
}
.main-header .header-navbar .search .input-search.input-search--is-expanded.mat-focused .mat-form-field-wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.main-header .header-navbar .search .input-search.isEmpty .mat-form-field-wrapper {
  border-radius: 5px !important;
}
.cdk-overlay-pane .mat-autocomplete-panel.searchAutoComplete {
  width: 338px !important;
  top: -9px !important;
  margin-left: 6px;
}
.cdk-overlay-pane .mat-autocomplete-panel.searchAutoComplete {
  box-shadow: 0 6px 5px -2px rgba(0,0,0,.2), 0 6px 5px 0 rgba(0,0,0,.14), 0 6px 10px 0 rgba(0,0,0,.12);
}
.notification-details .btn .mat-button-wrapper {
  font-size: 12px;
}

.input-search.mat-form-field .mat-form-field-wrapper {
  padding: 0 6px !important;
  border-radius: 5px;
  transition: flex-grow .2s cubic-bezier(.4,0,.2,1),background-color .2s cubic-bezier(.4,0,.2,1);
}


@media screen and (max-width: 767px) {
  .main-header .header-navbar .search .input-search.mat-form-field {
    justify-content: center;
  }
  .cdk-overlay-pane .mat-autocomplete-panel.searchAutoComplete {
    top: 0px !important;
  }
}

.notification-details tr {
  background-color: #fff !important;
}
.search-dropdown.mat-menu-panel {
  position: relative;
  top: 6px;
  left: -6px;
}

.search-dropdown.mat-menu-panel .mat-menu-content {
  border: none;
  width: 130px;
  border-radius: 4px;
  margin: 5px 12px;
}
.search-dropdown.mat-menu-panel .mat-menu-content span {
  padding: 10px 16px 0px 0px;
}
.search-dropdown.mat-menu-panel .mat-menu-content .mat-menu-item {
  height: 35px;
}
.search-dropdown.mat-menu-panel .mat-menu-content .mat-menu-item.active,
.search-dropdown.mat-menu-panel .mat-menu-content .mat-menu-item:hover {
  color: #112794;
  background-color: #d2def3c7;
  border-bottom: 1px solid #112794;
}
.search .input-search.input-search--is-expanded .input-search__button:hover, .search .input-search.input-search--is-expanded .input-search__button.active {
  color: #112794 !important;
}
/* .notification popover-container .popover-arrow {
  top: 18px !important;
} */
.notification popover-container .popover-content {
  color: #112794;
}
/* .navbar-static-top{
  display: inherit;
} */
.input-right-align {
  text-align: right;
}

input.input-right-align::-webkit-outer-spin-button,
input.input-right-align::-webkit-inner-spin-button {
  display: none;
}

input.input-right-align {
  -moz-appearance: textfield;
}
button[color^="purple"]:not(.mat-mini-fab ),
[color^="grey"]:not(.mat-mini-fab ),
button[color^="success"]:not(.mat-mini-fab ),
button[color^="warn"]:not(.mat-mini-fab ),
button[color^="blue-b"]:not(.mat-mini-fab ),
button[color^="danger"]:not(.mat-mini-fab ),
button[color^="purple"]:disabled:not(.mat-mini-fab ),
button[color^="success"]:disabled:not(.mat-mini-fab ),
button[color^="grey"]:disabled:not(.mat-mini-fab ),
button[color^="warn"]:disabled:not(.mat-mini-fab ),
button[color^="blue-b"]:disabled:not(.mat-mini-fab ),
button[color^="danger"]:disabled:not(.mat-mini-fab )
{
  padding: 2px 14px 0px 13px;
  height: 28px;
  line-height: 28px;
  margin: 1.5px 2.5px;
}

button[color^="purple"]:disabled,
[color^="grey"]:disabled,
button[color^="success"]:disabled,
button[color^="warn"]:disabled,
button[color^="danger"]:disabled{
  cursor:not-allowed;
  opacity: 0.5
}
[color^="grey"]:hover{
  color:white;
  background: black;
}
button[color^="purple"] .glyphicon,
button[color^="success"] .glyphicon,
button[color^="warn"] .glyphicon,
button[color^="danger"] .glyphicon
{
  font-size: 15px;
}
.mat-success {
  background-color: #084205;
  color: #fff;
}
.mat-warn {
  background-color: #f39c12;
  color: #fff;
}
.mat-purple {
  background-color: #414772;
  color: #fff;
}
.mat-blue-b {
  background-color: #495bbc;
  color: #fff;
}
.mat-grey {
  background-color: #4e4e50;
  color: #fff;
}
.mat-danger {
  background-color: #f44336;
  color: #fff;
}
app-payor-search .mat-form-field .mat-form-field-wrapper
{
  padding-bottom: 2px !important;
}
app-payor-search .mat-form-field .mat-form-field-underline
{
  bottom: 2px !important;
}
.modal .claim-note .modal-content {
  padding: 0px;
  border: none;
  border-radius: 5px;
}
.modal .claim-note .modal-content .modal-header {
  background-color: #162880;
  color: #fff;
  height: 54px;
  display: flex;
}
.modal .claim-note .modal-content .modal-header .title {
  width: 95%;
  font-size: 16px;
}
.modal .claim-note .modal-header .cross {
  width: 5%;
}
.modal .claim-note .modal-header .cross img {
  cursor: pointer;
}
.modal .claim-note .modal-content .modal-body select {
  height: 35px;
  background-color: #fff;
  border: 1px solid #d2d6de !important;
  border-radius: 4px;
  font-size: 13px;
  color: #495057;
  background-image: url('assets/images/dropdown.png');
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-repeat: no-repeat;
}
.modal .claim-note .modal-content .modal-body .form-group label {
  font-size: 13px;
}
.modal .claim-note .modal-content .modal-body textarea {
  border-radius: 4px;
}
.modal .claim-note .modal-content .modal-body textarea.is-invalid {
  border-color: #dc3545;
}
.modal .claim-note .modal-content .modal-body .buttons .action {
  background-color: #162880;
  font-size: 14px;
  height: 30px;
  color: #fff;
}
.modal .claim-note .modal-content .modal-body .buttons .action:active {
  background-color: #102070;
  font-size: 14px;
}
.modal .claim-note .modal-content .modal-body .buttons .cancle {
  background-color: #ececec;
  color: #868686;
  height: 30px;
  font-size: 14px;
}
.modal .claim-note .modal-content .modal-body .buttons .cancle:active {
  background-color: #cacaca;
  color: #434343;
}
.search-modal {
  padding: 0px !important;
}
.search-modal .swal2-header {
  height: 54px;
  margin: 0px !important;
  background-color: #162880;
}
.search-modal .swal2-header h2 {
  position: relative;
  top: 18px;
  color: #fff;
}
.search-modal .swal2-content {
  padding: 5px 10px;
}

/* confirmDialog CSS */

.confirmDialog .modal-content {
  border: none;
  border-radius: 5px;
}
.confirmDialog .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  height: 45px;
  background-color: #162880;
}
.confirmDialog .modal-content .modal-header .modal-title {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  position: absolute;
  left: 15px;
}
.confirmDialog .modal-content .modal-header .closeConfirmModal {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}
.confirmDialog .modal-content .modal-body { padding: 20px 15px; }
.confirmDialog .modal-content .modal-body p {
  color: #3c3c3c;
  font-size: 16px;
  margin: 0px;
}
.confirmDialog .modal-content .modal-body p ul { margin: 0px; }
.confirmDialog .modal-content .modal-body p ul li:first-child { margin-top: 12px; }
.confirmDialog .modal-content .modal-footer { border-top: 1px solid #e5e5e5; }
.confirmDialog .modal-content .modal-footer button .mat-button-wrapper { vertical-align: sub; }
.confirmDialog .modal-content .modal-footer .confirm {
  background-color: #162880;
  font-size: 14px;
  color: #fff;
}
.confirmDialog .modal-content .modal-footer .cancle {
  background-color: #ececec;
  color: #868686;
  font-size: 14px;
}