<div class="row search">
    <div class="col-sm-12" id="accordion">
        <div class="box no-border box-solid" style="padding: 0px;margin-bottom:0rem;">
            <div class="box-header bg-head-box">
                <a class="blade-title panel-head" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <h4 class="panel-title"   data-toggle="tooltip" title="Click to open/close calendar">
                    <span class="left5 right5 white">Filter</span>
                    <i class="fa fa-filter white" aria-hidden="true"></i>
                    </h4>
                </a>
                <div class="pull-right box-tools"> 
                     <img src="assets/img/export_to_excel_new3.png" class="transparent not-allowed" height="60px"  data-toggle="tooltip" title="Export to Excel" style="margin-top:-16px;"/> 
                </div>
            </div>
            <div class="box-body panel-collapse collapse out bg-light-maroon"  style="padding: 0px 15px;" id="collapseOne">
                <app-account-receivable-search></app-account-receivable-search>
            </div>
        </div>
    </div>
</div>
<!-- Diary Results -->
<div class="row">
    <div class="col-sm-12" id="accordion">
        <div class="box">
            <div class="box-header bg-head-box">
                <span class="blade-title panel-head">
                    <i class="fa fa-book" aria-hidden="true"></i> Account Receivable Entries
                </span>
                <!-- <span class="total pull-right">
                    <span *ngIf="ar.diaryFilterSize.length>0 && ar.diaryFilterSize.length!=ar.report.length"><span style="font-size:13pt">{{ar.diaryFilterSize.length}}</span> Record{{ar.diaryFilterSize.length>1 ? 's':''}} filtered</span>
                    &nbsp;&nbsp; &nbsp;<span *ngIf="ar.pageStart  && ar.diaryFilterSize.length==ar.report.length" style="margin-right:100px;"> {{ar.pageStart+ " to "+ar.pageEnd}}</span>
                    <span *ngIf="ar.report.length>0"><span style="font-size:13pt">{{ar.totalRowCount}}</span> Record{{ar.totalRowCount>1 ? 's':''}} found</span>
                </span> -->
            </div>
            <div class="box-body diary-results">
                <app-account-receivable-result></app-account-receivable-result>
            </div>
        </div>
    </div>
</div>