<div class="row" style="padding-bottom:5px;">
    <div class="col-sm-12 text-center">
        <div (click)="ar.runReport()">
            <img height="95px" src="assets/img/run-report.png" title="Run Report" data-toggle="tooltip" style="margin-bottom:-22px; cursor:pointer;"/>
        </div>
    </div>
</div>
<div class="row search">
        <div class="col-sm-12" id="accordion">
        <div class="box no-border box-solid" style="padding: 0px;margin-bottom:0rem;">
            <div class="box-header bg-head-box">
                <a class="blade-title panel-head" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <h4 class="panel-title"   data-toggle="tooltip" title="Click to open/close calendar">
                    <span class="left5 right5 white">Filter</span>
                    <i class="fa fa-filter white" aria-hidden="true"></i>
                    </h4>
                </a>
            </div>
            <div class="box-body panel-collapse collapse out bg-light-maroon"  style="padding: 0px 15px;" id="collapseOne">
                <app-account-receivable-search></app-account-receivable-search>
            </div>
        </div>
    </div>
</div>
<!-- Diary Results -->
<div class="row">
    <div class="col-sm-12" id="accordion">
        <div class="box">
            <div class="box-header bg-head-box">
                <span class="blade-title panel-head">
                    <i class="fa fa-book" aria-hidden="true"></i> Account Receivable Entries
                </span>
                <div class="pull-right box-tools">
                    <img src="assets/img/export-to-excel.png" class="not-allowed" height="80px" data-toggle="tooltip" title="Export to Excel" style="margin-top:-22px;"/>
               </div>
            </div>
            <div class="box-body diary-results">
                <app-account-receivable-result></app-account-receivable-result>
            </div>
        </div>
    </div>
</div>