<header class="main-header">
    <!-- Logo -->
    <a [routerLink]="!disableLinks ?  '/' : []" class="logo" [class.disabled]="disableLinks">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>BR</b>-C</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">Bridgeport Claims</span>
    </a>
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button, check if user is logged in-->
        <a style="cursor:pointer" (click)="sidebarToggle()"  class="sidebar-toggle" data-toggle="offcanvas" role="button" *ngIf="profileManager.profile">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <!-- Top right menu items, also check if user is logged in-->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <ng-container  *ngIf="!profileManager.profile">
                    <li><a [routerLink]="'/register'">Register</a></li>
                    <li><a [routerLink]="'/login'">Login</a></li>
                </ng-container>
                <li class="display-date">{{ date | date }}</li>
                <ng-container *ngIf="profileManager.profile">
                    <li class="display-date" *ngIf="allowed" [class.disabled]="disableLinks">
                        <a style="cursor:pointer" (click)="!disableLinks ? clearCache() : ''" [class.disabled]="disableLinks">Clear Cache</a>
                    </li>
                    <li routerLinkActive="/main/profile" [class.disabled]="disableLinks">
                        <!--[routerLink]="'/profile'"-->
                        <a class="navbar-link" [routerLink]="!disableLinks ?  '/main/profile' : []" [class.disabled]="disableLinks">My Account</a>
                    </li>
                    <li routerLinkActive="/main/profile" [class.disabled]="disableLinks">
                        <!--[routerLink]="'/profile'"-->
                        <a class="navbar-link" [routerLink]="!disableLinks ?  '/main/profile' : []" [class.disabled]="disableLinks">Logged in as {{profileManager.profile? profileManager.profile.firstName+' '+profileManager.profile.lastName : ''}}</a>
                    </li>
                    <li routerLinkActive="active" [class.disabled]="disableLinks">
                        <a style="cursor:pointer;" (click)="!disableLinks ? logout() : ''" class="navbar-link" [class.disabled]="disableLinks">Logout</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </nav>

    <p class="ver">Version 6.5</p>
