.sidebar-toggle:before{
    content:'';
}
.nav.navbar-nav {
    float: right;
}
.isTestDomain li:hover,
.isTestDomain li,
.isTestDomain li a:hover,
.isTestDomain li a
{
    background: red;
}
.isTestDomain li:hover a,
.isTestDomain li a
{
    cursor:pointer;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;

}
.display-date {
    display: inline-block;
    color: #fff;
    line-height: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

li a {
    cursor: pointer;
}

.ver {
    position: fixed;
    top: 15px;
    width: 50%;
    z-index: 999999;
    left: 50%;
    text-align: center;
    color: #C0C0C0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ver a.navbar-link,.ver a.navbar-link:active,.ver a.navbar-link:hover,.ver a.navbar-link:link{
    color: #b33a3a !important;
}

.cust-nav ul.navbar-nav li,
.cust-nav ul.navbar-nav li > a {
    text-transform: uppercase;
}

.cust-nav ul.navbar-nav li.display-date {
    position: relative;
}
.cust-nav ul.navbar-nav li.display-date > small {
    text-transform: lowercase;
    font-size: 10px;
    position: absolute;
    bottom: -14px;
    left: 35px;
    width: 100%;
}

.cust-nav ul.navbar-nav li.display-date > i {
    vertical-align: middle;
}
.cust-nav ul.navbar-nav li > i,
.cust-nav ul.navbar-nav li > a > i {
    margin-right: 5px;
    font-size: 18px !important;
}

@media screen and (max-width: 767px) {
    /* .ver {
        top: 40px;
    } */
}

.ver1 {
        display: inline-block;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border: none;
        font: normal 20px/1 "Cigno MF", Helvetica, sans-serif, italic;

        text-align: center;
        text-transform: normal;
        -o-text-overflow: clip;
        text-overflow: clip;
        white-space: pre;
        /* text-shadow: 1px 1px 0 rgba(255, 254, 254, 0.6) , -1px -1px 1px rgba(75, 69, 69, 0.67) ; */
        position: fixed;
        top: 20px;
        width: auto;
        z-index: 999999;
        left: calc(50% - 65px);
        letter-spacing: 10%;
}
.ver2 {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    border: none;
    font: normal 15px/1 "Nova Flat", Helvetica, sans-serif;
    color: White;
    text-align: center;
    /*-o-text-overflow: ellipsis;
    text-overflow: ellipsis;*/
    position: fixed;
    top: 0px;
    width: auto;
    z-index: 999999;
    left: calc(50% - 86.24px);
  }

 /* .ver2::before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    z-index: 2;
    position: fixed;
    top: 20px;
    width: auto;
    z-index: 999999;
    left: 40%;
    content: "";
    overflow: hidden;
    border: none;
    font: normal 13px/1 "Nova Flat", Helvetica, sans-serif;
    color: rgb(235, 225, 225);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.43) 0, rgba(255,255,255,0.2) 44%, rgba(255,255,255,0.5) 45%, rgba(255,255,255,0.96) 57%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,0.43) 0, rgba(255,255,255,0.2) 44%, rgba(255,255,255,0.5) 45%, rgba(255,255,255,0.96) 57%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,0.43) 0, rgba(255,255,255,0.2) 44%, rgba(255,255,255,0.5) 45%, rgba(255,255,255,0.96) 57%, rgba(255,255,255,1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    text-shadow: none;
    -webkit-transform:  scaleY(-1)  ;
    transform:  scaleY(-1)  ;
  }

  .ver2::after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: 20px;
    width: 100px;
    z-index: 999999;
    left: -20%;
    position: absolute;
    content: "Version 6.75";
    border: none;
    font: normal 13px/0 "Nova Flat", Helvetica, sans-serif;
    color: rgb(165, 151, 151);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: none;
    -webkit-transform:  scaleY(-0.5) translateY(-20%) ;
    transform:  scaleY(-0.5) translateY(-20%) ;
    -webkit-transform-origin: 50% 0 0;
    transform-origin: 50% 0 0;
  }*/
  .ver3 {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0px;
    overflow: hidden;
    border: none;
    font: normal 12px/1 "Audiowide", Helvetica, sans-serif;
    color: rgba(255,255,255,0.81);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position: fixed;
    top: 20px;
    width: auto;
    z-index: 999999;
  }

  .ver3::after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height:auto;
    position: absolute;
    content: "";
    border: none;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.1) 44%, rgba(0,0,0,0.47) 58%, rgba(0,0,0,1) 100%);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.1) 44%, rgba(0,0,0,0.47) 58%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.1) 44%, rgba(0,0,0,0.47) 58%, rgba(0,0,0,1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    text-shadow: none;
  }
.ver4 {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal normal bold 16px/normal "Arial", Helvetica, sans-serif;
    letter-spacing: 3px;
    color: rgb(64, 126, 196);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 1px 1px 0 rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) , 4px 4px 8px rgb(44,88,137) , -4px 4px 8px rgb(44,88,137) , 4px -4px 8px rgb(44,88,137) , -4px -4px 8px rgb(44,88,137) ;
    -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    position: fixed;
    top: 15px;
    width: auto;
    z-index: 999999;
  }
  @media screen and (min-width: 300px) {
    .ver3 {
        left: calc(100% - 710px);
        left: -o-calc(100% - 710px);
        left: -webkit-calc(100% - 710px);
        left: -moz-calc(100% - 710px);
    }
  }

  @media screen and (min-width: 1300px) {
    .ver3 {
        left: calc(50% - 65px);
        left: -o-calc(50% - 65px);
        left: -webkit-calc(50% - 65px);
        left: -moz-calc(50% - 65px);
    }
  }
  @media screen and (min-width: 300px) {
    .ver4 {
        left: calc(100% - 710px);
        left: -o-calc(100% - 710px);
        left: -webkit-calc(100% - 710px);
        left: -moz-calc(100% - 710px);
    }
  }

  @media screen and (min-width: 1300px) {
    .ver4 {
        left: calc(50% - 65px);
        left: -o-calc(50% - 65px);
        left: -webkit-calc(50% - 65px);
        left: -moz-calc(50% - 65px);
    }
  }
  .ver4:hover {
    text-shadow: 1px 1px 0 rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  .ver2 img[src='assets/img/header_icon.png']{
      width:115px;
  }
  .ver2.large span{
    position: absolute;
    top: 35px;
    width: fit-content;
  }