<div class="row">
  <div class="col-md-12">
    <section class="content-header">
      <ol class="breadcrumb pull-left">
        <li>
          <a routerLink="/">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="active">
          <a [routerLink]="[]">
            Referral
          </a>
        </li>
      </ol>
    </section>
  </div>
</div>
<div class="box no-border">
  <div class="box-body" style=" height: 80vh; overflow-y: auto; padding: 15px 70px; ">
    <h3 style="text-decoration: underline;font-size: 24px;">Referral Input page</h3>
    <div class="row">
      <div class="col-lg-12">
        <div class="box center-form no-border">
          <div class="box-body">
            <form role="form" [formGroup]="form" autocapitalize="none" autocomplete="off">
              <h4>Please complete as many of the following fields as possble. In the Notes box, please enter any
                special requirements you would linke Bridgeport to apply to this claim (e.g. specific drugs or doctors
                that are excluded or included).</h4>
              <div class="row">
                <div class="form-group col-sm-5">
                  <label>Claim # <span class="text-danger">*</span>: </label>
                  <input class="form-control" placeholder="Claim #" formControlName="claimNumber" tabindex="1">
                  <p class="text-danger form-control-static" *ngIf="form.get('claimNumber').errors && form.get('claimNumber').touched">Claim
                    # is required</p>
                </div>
                <div class="form-group col-sm-7">
                  <label>Address 1 <span class="text-danger">*</span>:</label>
                  <input class="form-control" placeholder="Address 1" formControlName="address1" tabindex="2">
                  <p class="text-danger form-control-static" *ngIf="form.get('address1').errors && form.get('address1').touched">Street
                    Address is required</p>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-5">
                  <label>First Name <span class="text-danger">*</span>:</label>
                  <input class="form-control" placeholder="First Name" formControlName="firstName" tabindex="3">
                  <p class="text-danger form-control-static" *ngIf="form.get('firstName').errors && form.get('firstName').touched">First
                    Name is required</p>
                </div>
                <div class="form-group col-sm-7">
                  <label>Address 2:</label>
                  <input class="form-control" placeholder="Address 2" formControlName="address2" tabindex="4">
                  <p class="text-danger form-control-static" *ngIf="form.get('address2').errors">Address 2
                    is required</p>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-5">
                  <label>Last Name <span class="text-danger">*</span>:</label>
                  <input class="form-control" placeholder="Last Name" formControlName="lastName" tabindex="5">
                  <p class="text-danger form-control-static" *ngIf="form.get('lastName').errors && form.get('lastName').touched">Last
                    Name
                    is required</p>
                </div>
                <div class="form-group col-sm-7">
                  <label>City <span class="text-danger">*</span>:</label>
                  <input class="form-control" placeholder="City" formControlName="city" tabindex="6">
                  <p class="text-danger form-control-static" *ngIf="form.get('city').errors && form.get('city').touched">City
                    is
                    required</p>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-5">
                  <label>Date of Birth <span class="text-danger">*</span>:</label>
                  <input class="form-control" placeholder="Date of Birth" id="dateOfBirth" formControlName="dateOfBirth"
                    inputs-inputmask="'alias': 'mm/dd/yyyy'" tabindex="7" inputs-mask>
                  <p class="text-danger form-control-static" *ngIf="form.get('dateOfBirth').errors && form.get('dateOfBirth').touched">Date
                    of Birth is required</p>
                </div>
                <div class="form-group col-sm-3 example-container">
                    <mat-form-field>
                        <mat-select formControlName="stateId" placeholder="Select State (required)" required tabindex="8">  
                            <mat-option>-- Select a State --</mat-option>  
                            <mat-option *ngFor="let u of states" [value]="u.stateId">
                                {{u.stateName}}
                              </mat-option> 
                        </mat-select>  
                        <mat-error>  
                            <p class="text-danger form-control-static" *ngIf="form.get('stateId').errors && form.get('stateId').touched">State
                                is required</p> 
                        </mat-error>      
              </mat-form-field>
                </div>
                <div class="form-group col-sm-4">
                  <label>Zip <span class="text-danger">*</span>:</label>
                  <input class="form-control" placeholder="Zip" formControlName="postalCode" tabindex="9">
                  <p class="text-danger form-control-static" *ngIf="form.get('postalCode').errors && form.get('postalCode').touched">Zip
                    Code is required</p>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-5">
                  <label>Injury Date <span class="text-danger">*</span>:</label>
                  <input class="form-control" placeholder="Injury Date" formControlName="injuryDate" id="injuryDate"
                    inputs-inputmask="'alias': 'mm/dd/yyyy'" tabindex="10" inputs-mask>
                  <p class="text-danger form-control-static" *ngIf="form.get('injuryDate').errors && form.get('injuryDate').touched">Injury
                    Date is required</p>
                </div>
                <div class="form-group col-sm-7">
                  <label>Phone <span class="text-danger">*</span>:</label>
                  <input class="form-control" placeholder="Patient Phone Number" formControlName="patientPhone" id="patientPhone"
                    data-inputmask='"mask": "(999) 999-9999"' data-mask tabindex="11">
                  <p class="text-danger form-control-static" *ngIf="form.get('patientPhone').errors && form.get('patientPhone').touched">Patient
                    Phone Number is required</p>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-5 example-container">
                    <mat-form-field>
                        <mat-select formControlName="jurisdictionStateId" placeholder="Select jurisdiction State (required)" tabindex="12" required>  
                            <mat-option>-- Select jurisdiction State --</mat-option>  
                            <mat-option *ngFor="let u of states" [value]="u.stateId">
                                {{u.stateName}}
                              </mat-option> 
                        </mat-select>  
                        <mat-error>  
                           <p class="text-danger form-control-static" *ngIf="form.get('jurisdictionStateId').errors && form.get('jurisdictionStateId').touched">Jurisdiction
                    State is required</p>
                        </mat-error>      
              </mat-form-field>
                </div>
                <div class="form-group col-sm-7">
                  <label>Adjustor Name:</label>
                  <input class="form-control" placeholder="Adjustor Name" formControlName="adjustorName" tabindex="12">
                  <!-- <p class="text-danger form-control-static" *ngIf="form.get('adjustorName').errors && form.get('adjustorName').touched">Patient
                    Name is required</p> -->
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-5">
                  <label>Eligibility Start:</label>
                  <input class="form-control" placeholder="Eligibility Start" formControlName="eligibilityStart" id="eligibilityStart"
                    tabindex="13" inputs-inputmask="'alias': 'mm/dd/yyyy'" inputs-mask>
                  <!-- <p class="text-danger form-control-static" *ngIf="form.get('eligibilityStart').errors">Eligibility
                    Start is required</p> -->
                </div>
                <div class="form-group col-sm-7">
                  <label>Adjustor Phone:</label>
                  <input class="form-control" placeholder="Adjustor Phone Number" formControlName="adjustorPhone" id="adjustorPhone"
                    data-inputmask='"mask": "(999) 999-9999"' data-mask tabindex="14">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-5">
                  <label>Eligibility end:</label>
                  <input class="form-control" placeholder="Eligibility End" formControlName="eligibilityEnd" id="eligibilityEnd"
                    tabindex="8" inputs-inputmask="'alias': 'mm/dd/yyyy'" inputs-mask>
                 </div>
                <div class="form-group col-sm-7">
                    <label>Person Code:</label>
                    <input class="form-control" placeholder="Person Code" formControlName="personCode" id="personCode"
                      tabindex="9" maxlength="2">
                  </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-5">
                  <label>Group Name<span class="text-danger">*</span>:</label>
                  <input class="form-control" placeholder="Group Name" formControlName="groupName">
                  <p class="text-danger form-control-static" *ngIf="form.get('groupName').errors && form.get('groupName').touched">Group Name is
                    required</p>
                </div>
                <div class="form-group col-sm-7 example-container">
                    <mat-form-field>
                              <mat-select formControlName="genderId" placeholder="Select Gender (required)" required>  
                                  <mat-option>-- Select a Gender --</mat-option>  
                                  <mat-option *ngFor="let gender of genders" [value]="gender.genderId">
                                      {{gender.genderName}}
                                    </mat-option> 
                              </mat-select>  
                              <mat-error>  
                                  <p *ngIf="form.get('genderId').errors && form.get('genderId').touched">Please select a Gender.</p>  
                              </mat-error>      
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-12">
                  <label>Any special handling instruction:</label>
                  <textarea formControlName="notes" class="form-control" tabindex="18"></textarea>
                </div>
              </div>
            </form>
          </div>
          <div class="form-group pull-right">
            <button class="btn btn-default mr-4" type="button" (click)="reset()">Clear Form</button>
            <button class="btn btn-primary btn-custom" [disabled]="!form.valid" type="button" (click)="submit()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overlay" *ngIf="submitted" style="text-align:center;">
  <img src="assets/1.gif">
  <br />
</div>