<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!-- <div class="user-panel text-center" style="margin:0;padding:0">
      <div class="image">
        <img [src]="'assets/logo/sidebar-logo.png'" style="max-width: 70px;" class="img-square" [alt]="userName">
      </div>
      <div class="info" style="position:unset;left:0">
        <p>{{userName}}</p>
      </div>
    </div> -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li [class.active]="router.url.indexOf('/main/private')>-1">
        <a [routerLink]="!disableLinks ? '/main/private'  : []" [class.disabled]="disableLinks"
        [popover]="localSt.retrieve('sidebarOpen') ? 'Dashboard' : ''" triggers="mouseenter:mouseleave" placement="right">
          <!-- <img style='width: 25px;' src="assets/images/dashboard.png"> -->
          <i class="fa fa-tachometer" aria-hidden="true"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <ng-container *ngIf="isClient">
        <li [class.active]="router.url.indexOf('/main/referral')>-1">
          <a [routerLink]="!disableLinks ? '/main/referral'  : []" [class.disabled]="disableLinks"
          [popover]="localSt.retrieve('sidebarOpen') ? 'Referrals' : ''" triggers="mouseenter:mouseleave" placement="right">
            <i class="fa fa-share-alt fa-fw"></i>
            <span>Referrals</span>
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="!isClient">
        <li [class.active]="router.url.indexOf('/main/claims')>-1" (click)="claimsActive()">
          <a [class.disabled]="disableLinks" [popover]="localSt.retrieve('sidebarOpen') ? 'Claims' : ''" triggers="mouseenter:mouseleave" placement="right">
            <!-- <img style='width: 25px;' src="assets/img/Claims.png"> -->
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span>Claims</span>
          </a>
        </li>
        <li [class.active]="router.url.indexOf('/main/diary')>-1">
          <a [routerLink]="!disableLinks ? '/main/diary' : []" [class.disabled]="disableLinks"
          [popover]="localSt.retrieve('sidebarOpen') ? 'Diaries' : ''" triggers="mouseenter:mouseleave" placement="right">
            <!-- <img style='width: 25px;' src="assets/img/diaries.png"> -->
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span>Diaries</span>
          </a>
        </li>
        <li [class.active]="router.url.indexOf('/main/unpaid-scripts')>-1">
          <a [routerLink]="!disableLinks ? '/main/unpaid-scripts' : []" [class.disabled]="disableLinks"
          [popover]="localSt.retrieve('sidebarOpen') ? 'Unpaid Scripts' : ''" triggers="mouseenter:mouseleave" placement="right">
            <!-- <img style='width: 25px;' src="assets/img/unpaid.png"> -->
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span>Unpaid Scripts</span>
          </a>
        </li>
        <!--<ng-container *ngIf="!isOnlyUser">-->
        <li [class.active]="router.url.indexOf('/main/payments')>-1">
          <a [routerLink]="!disableLinks ? '/main/payments' : []" [class.disabled]="disableLinks"
          [popover]="localSt.retrieve('sidebarOpen') ? 'Payments' : ''" triggers="mouseenter:mouseleave" placement="right">
            <!-- <img style='width: 25px;' src="assets/img/payments.png"> -->
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span>Payments</span>
          </a>
        </li>
        <!--</ng-container>-->
        <li [class.active]="router.url.indexOf('/main/episodes')>-1">
          <a [routerLink]="!disableLinks ? '/main/episodes' : []" [class.disabled]="disableLinks"
          [popover]="localSt.retrieve('sidebarOpen') ? 'Episodes' : ''" triggers="mouseenter:mouseleave" placement="right">
            <!-- <img style='width: 25px;' src="assets/img/episodes.png"> -->
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span>Episodes</span>
          </a>
        </li>
        <li [class.active]="router.url.indexOf('/main/references')>-1">
          <a [routerLink]="!disableLinks ? '/main/references' : []" [class.disabled]="disableLinks"
          [popover]="localSt.retrieve('sidebarOpen') ? 'References' : ''" triggers="mouseenter:mouseleave" placement="right">
            <!-- <img style='width: 25px;' src="assets/img/references.png"> -->
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span>References</span>
          </a>
        </li>
      </ng-container>
    </ul>
    <ng-container *ngIf="!isClient">
    <div class="header"*ngIf="adminOrAsociate">
      <!-- <i class="fa fa-sitemap"></i> -->
      <span>INDEXING</span>
    </div>
    <ul class="sidebar-menu">
        <!-- <li [class.active]="router.url.indexOf('/main/unindexed-images')>-1">
        <a [routerLink]="!disableLinks ? '/main/unindexed-images' : []" *ngIf="adminOrAsociate" [class.disabled]="disableLinks">
          <img src="assets/img/unidex.png">
          <span>Indexing</span>
        </a>
      </li> -->
        <li [class.active]="router.url.indexOf('/main/indexing')>-1">
          <a [routerLink]="!disableLinks ? '/main/indexing' : []" *ngIf="adminOrAsociate" [class.disabled]="disableLinks"
          [popover]="localSt.retrieve('sidebarOpen') ? 'Indexing' : ''" triggers="mouseenter:mouseleave" placement="right">
            <!-- <img src="assets/img/unidex.png"> -->
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span>Indexing</span>
          </a>
        </li>
        <li [class.active]="router.url.indexOf('/main/reports/invoices')>-1">
          <a [routerLink]="!disableLinks ? '/main/reports/invoices' : []" *ngIf="adminOrAsociate" [class.disabled]="disableLinks"
          [popover]="localSt.retrieve('sidebarOpen') ? 'Invoices' : ''" triggers="mouseenter:mouseleave" placement="right">
            <!-- <img src="assets/img/unidex.png"> -->
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span>Invoices</span>
          </a>
        </li>
    </ul>
    <div class="header" *ngIf="allowed">
      <!-- <img style='width: 25px;' src="assets/img/Admin.png"> -->
      <span>ADMINISTRATION</span>
    </div>
    <ul class="sidebar-menu">
        <li [class.active]="router.url.indexOf('/main/reports')>-1">
          <a [routerLink]="'/main/reports'"
          [popover]="localSt.retrieve('sidebarOpen') ? 'Reports' : ''" triggers="mouseenter:mouseleave" placement="right">
            <i class="fa fa-bar-chart fa-fw"></i>
            <span>Reports</span>
          </a>
        </li>
        <li [class.active]="router.url.indexOf('/main/fileupload')>-1">
          <a [routerLink]="!disableLinks ? '/main/fileupload' : []" *ngIf="allowed" [class.disabled]="disableLinks"
          [popover]="localSt.retrieve('sidebarOpen') ? 'File Uploads' : ''" triggers="mouseenter:mouseleave" placement="right">
            <!-- <img style='width: 25px;' src="assets/img/upload.png"> -->
            <i class="fa fa-bar-chart fa-fw"></i>
            <span>File Uploads</span>
          </a>
        </li>
        <li [class.active]="router.url.indexOf('/main/users')>-1">
          <a [routerLink]="!disableLinks ? '/main/users' : []" *ngIf="allowed" [class.disabled]="disableLinks"
          [popover]="localSt.retrieve('sidebarOpen') ? 'User Management' : ''" triggers="mouseenter:mouseleave" placement="right">
            <!-- <img style='width: 25px;' src="assets/img/user.png"> -->
            <i class="fa fa-bar-chart fa-fw"></i>
            <span>User Management</span>
          </a>
        </li>
        <li [class.active]="router.url.indexOf('/main/decision-tree')>-1">
          <a [routerLink]="!disableLinks ? '/main/decision-tree'  : []" *ngIf="allowed" [class.disabled]="disableLinks"
          [popover]="localSt.retrieve('sidebarOpen') ? 'Decision Tree' : ''" triggers="mouseenter:mouseleave" placement="right">
            <!-- <img style='width: 25px;' src="assets/img/decision-tree-icon.png"> -->
            <i class="fa fa-bar-chart fa-fw"></i>
            <span>Decision Tree</span>
          </a>
        </li>
        <li [class.active]="router.url.indexOf('/main/firewall')>-1">
          <a [routerLink]="!disableLinks ? '/main/firewall'  : []" *ngIf="allowed" [class.disabled]="disableLinks"
          [popover]="localSt.retrieve('sidebarOpen') ? 'Firewall Settings' : ''" triggers="mouseenter:mouseleave" placement="right">
            <!-- <img style='width: 25px;' src="assets/img/firewall.png"> -->
            <i class="fa fa-bar-chart fa-fw"></i>
            <span>Firewall Settings</span>
          </a>
        </li>
    </ul>
    <div class="header">
      <!-- <img style='width: 25px;' src="assets/img/history.png"> -->
      <span>HISTORY</span>      
    </div>
    <ul class="sidebar-menu">
        <ng-container *ngIf="!claimManager.loadingHistory">
          <li *ngFor="let claim of claimManager.claimHistory" [class.disabled]="disableLinks">
            <a class="history" (click)="goToClaim(claim.claimId)">
              <img style='width: 15px;' src="assets/img/check.png">
              <span *ngIf="claim.name">{{claim.name}}</span>
              <span *ngIf="!claim.name">{{claim.firstName+" "+claim.lastName}}</span>
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="claimManager.loadingHistory">
          <li class="loader">
            <a>
              <img src="assets/img/ajax-loader.gif">
            </a>
          </li>
        </ng-container>
    </ul>
  </ng-container>
  </section>
  <!-- /.sidebar -->
</aside>
