.history {
    cursor: pointer;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}

li.disabled a.history {
    cursor: not-allowed;
    text-decoration: none;
}

.loader {
    text-align: center;
    padding-right: 10px;
    padding-top: 3rem;
}
