.history {
    cursor: pointer;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}

li.disabled a.history {
    cursor: not-allowed;
    text-decoration: none;
}

.loader {
    text-align: center;
    padding-right: 10px;
    padding-top: 3rem;
}

.main-sidebar {
    width: 290px;
    background-color: #fff;
    padding-top: 70px;
}
.main-sidebar .sidebar {
    padding: 25px 20px;
}
.main-sidebar .sidebar .sidebar-menu {
    padding: 20px 10px;
    background-color: #f8f8fa;
    border: none;
    border-radius: 8px;
}
.main-sidebar .sidebar .header {
    color: #24338c;
    padding: 25px 10px 20px 10px;
}
.main-sidebar .sidebar .header span {
    font-size: 18px;
    font-weight: bold;
    vertical-align: sub;
}