<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li>
                    <a routerLink="/">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="active">
                    <a routerLink="/main/firewall">
                        Firewall Settings
                    </a>
                </li>
            </ol>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-body" style="padding-top:0px;min-height:70vh">
                <div class="row search">
                    <div class="col-sm-12" id="accordion">
                        <div class="box no-border" style="padding: 0px;margin-bottom:0rem;">
                            <div class="box-header bg-head-box">
                                <span class="blade-title panel-head">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <span class="left5 right5 white">Add Firewall Setting</span>
                                            <i class="fa fa-plus white" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </span>
                            </div>
                            <div class="box-body" style="padding: 0px 15px;" id="collapseOne" class="panel-collapse collapse in collapse out">
                                <app-firewall-filter></app-firewall-filter>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" id="accordion">
                        <div class="box">
                            <div class="box-header bg-head-box">
                                <span class="blade-title panel-head">
                                    <i class="fa fa-book" aria-hidden="true"></i> Firewall Settings
                                </span>
                            </div>
                            <div class="box-body claims payment-result panel-body-bg">
                                <app-firewall-grid></app-firewall-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" *ngIf="firewallService.loading">
                <img src="assets/1.gif">
            </div>
        </div>
    </div>
</div>