<div class="row">
  <div class="col-lg-12">
    <div class="box">
      <div class="box-body">
        <form role="form" class="center-form" [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off">
          <h4>Set New Password</h4>
          <div class="form-group">
            <input type="password" formControlName="Password" class="form-control" placeholder="New password" ng-model="Password">
            <p class="text-danger form-control-static" *ngIf="form.get('Password').errors && submitted">New password is required!</p>
          </div>
          <div class="form-group">
            <input type="password" formControlName="ConfirmPassword" class="form-control" placeholder="Repeat new password" ng-model="ConfirmPassword"
              bs-match="password">
            <p class="text-danger form-control-static" *ngIf="form.get('ConfirmPassword').errors && submitted">Repeat Password does not match password!</p>
          </div>
          <button class="btn btn-primary btn-block" type="button" (click)="submit()">Set New password</button>
        </form>
      </div>

      <div class="overlay" *ngIf="submitted" style="text-align:center;">
        <img src="assets/1.gif">
      </div>
    </div>
  </div>