<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border"><h3 class="box-title">Bridgeport Claims</h3></div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12"   id="accordion">
                            <app-claim-search></app-claim-search>
                    </div>
                </div>
                <div class="row data" [class.fittoSreen]="claimManager.selected">
                    <div class="col-sm-5"  style="padding-right:0px;">
                        <div class="box">
                            <h4 class="box-title text-center"><u>Claims</u></h4>
                            <div class="box-body">
                                <app-claim-result></app-claim-result>
                            </div>
                        </div>
                        <div class="box" *ngIf="claimManager.selected">                    
                            <div class="box-header">
                                <h4 class="box-title text-center"><u>Notes</u></h4>
                                <div class="box-tools pull-right" data-toggle="tooltip" title="New Note">
                                    <div class="btn-group" data-toggle="btn-toggle">
                                        <button type="button" class="btn btn-flat bg-purple btn-sm">Add New</button>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="box-body">
                                <app-claim-note></app-claim-note>
                            </div>
                        </div>
                        <div class="box" *ngIf="claimManager.selected">                            
                            <div class="box-header">
                                <h4 class="box-title text-center"><u>Episodes</u></h4>
                                <div class="box-tools pull-right" data-toggle="tooltip" title="New Episode">
                                    <div class="btn-group" data-toggle="btn-toggle">                            
                                        <button type="button" class="btn btn-flat bg-purple btn-sm">Add New</button>                                
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="box-body">
                                <app-claim-episode></app-claim-episode>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7" style="padding-left:0px;">
                        <div class="box" *ngIf="claimManager.selected">                            
                            <div class="box-body">
                                <h4 class="text-center"><u>Prescriptions</u></h4>
                                <app-claim-prescriptions></app-claim-prescriptions>
                            </div>
                            <div class="box-footer">
                                <div class="btn-group">
                                    <button class="btn bg-purple btn-flat btn-small btn-block left" type="button">Add Note</button>
                                </div>
                            </div>
                        </div>
                        <div class="box box-warn" *ngIf="claimManager.selected">
                            <h4 class="box-title text-center"><u>Script Notes</u></h4>
                            <div class="box-body">
                                <app-claim-script-note></app-claim-script-note>
                            </div>
                        </div>
                        <div class="box box-warn" *ngIf="claimManager.selected">
                            <h4 class="box-title text-center"><u>Payments</u></h4>
                            <div class="box-body">
                                <app-claim-payment></app-claim-payment>
                            </div>
                        </div>
                        <div class="box box-warn" *ngIf="claimManager.selected">
                            <h4 class="box-title text-center"><u>Images</u></h4>
                            <div class="box-body">
                                <app-claim-images></app-claim-images>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="overlay" *ngIf="loading">
                <i class="fa fa-refresh fa-spin"></i>
            </div> 
        </div>
    </div>
 </div>