@import url('https://fonts.googleapis.com/css?family=Cambay:400,700');
*:not(.fa) {
  font-family: 'Cambay', sans-serif !important;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cambay', sans-serif !important;
  font-weight: 700;
}

.box-header {
  padding: 10px 10px 5px 10px;
}

.row.data {
  font-size: 9.6pt;
}

.row.data .box {
  margin-bottom: 0px;
}

.row.search {
  margin-bottom: 0;
}

.box {
  border: 1.5px solid #d2d6de;
}

.box .box-body {
  overflow-x: hidden;
}

.box-header.with-border,
.box .box-body>.row:first-child {
  position: relative;
  /* z-index: 3; */
  background: #fff;
  margin-bottom: 1rem;
}

#fixed-box-header {
  z-index: 2;
}

td,
th {
  padding-bottom: 1px !important;
  padding-top: 1px !important;
}

.results-no {
  color: #fff;
  padding-right: 1rem;
  font-family: 'Cambay', sans-serif !important;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 2px 2px 3px #000;
}

.fittoSreen .box-body {
  height: 180px;
  overflow-y: auto;
}

.fittoSreen .box-body.claims {
  height: 433px;
}

.swal2-modal {
  width: 900px !important;
  min-width: 900px !important;
}

textarea {
  resize: vertical;
}

.bg-head-box {
  background: #992727;
  z-index: 2;
}

.panel-head {
  color: #fff;
}

.panel-head u {
  text-decoration: none;
}

.panel-head img {
  vertical-align: -5px;
  margin-right: 7px;
}

.panel-body-bg {
  background: #fbeede;
}

.bg-darkRed {
  background: #992727;
  color: #fff;
}

.bg-fullWhite {
  background: #fff;
  color: #992727;
}

.bg-fullWhite:hover {
  box-shadow: none;
}

.bg-darkblue {
  background-color: #414772;
  color: #fff;
  font-size: 14px;
}

.bg-vdarkgrey {
  background-color: #111d21 !important;
  color: #fff;
}

.bg-grey {
  background: #E2E2E2;
  padding: 5px;
  min-width: 35px;
  text-align: center;
}

.bg-grey i {
  font-size: 20px;
  vertical-align: -5px;
  color: #992727;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.display-none {
  display: none
}

.tally {
  color: white;
  font-size: 10pt;
  font-family: 'Cambay', sans-serif !important;
  display: block;
}

app-claim-prescriptions {
  height: 100%;
  position: relative;
  display: block;
}

.expanded {
  height: calc(100vh - 154px);
  height: -moz-calc(100vh - 154px);
  height: -webkit-calc(100vh - 154px);
}

.expand-blade {
  width: 20px;
  height: 20px;
}

.add-btn {
  height: 32px;
}

.no-padding {
  padding: 0px;
  background: transparent !important;
}

.transparent {
  background: transparent !important;
  color: white !important;
}

.transparent i {
  color: white !important;
}

.panel-body-bg.prescriptions,
.panel-body-bg.payment {
  overflow: hidden !important;
  padding-bottom: 0;
}

/*ROW COLOR CHANGE*/

tr:nth-of-type(odd) {
  background: #fbeede !important;
}

tr:nth-of-type(even) {
  background: #fff8ef !important;
}

app-claim{
  text-justify: left;
}
.swal2-modal.prescription-modal .swal2-buttonswrapper{
  z-index:10;
  justify-content: left;
}
.button-on-top{
  z-index:10;
}
.totalInvoiced,.totalOutstanding{
  color:lightgreen
}

.btn.delete-btn{
  border: 1px solid white !important;
  background: transparent !important;
  color:white !important; 
  height: 25px;
  border-radius: 3px !important;
  font-size: 14px;
  margin-top: 5px;
  padding:0px 5px !important;
}


button.be,
button.ime,
button.pip,
button.dr-note
{
  line-height:25px;
  padding:0px;
}

.lbl {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  top: 6px;
  transition: all 0.3s ease;
}
.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}
.lbl:active:after {
  transform: scale(1.15, 0.85);
}
.cbx:checked ~ label {
  background: #faeedc;
}
.cbx:checked ~ label:after {
  left: 20px;
  background: #992727;
}

.isVip .cbx:checked ~ label {
  background: #cff1fd;
}
.isVip .cbx:checked ~ label:after {
  left: 20px;
  background: #002f58;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.dropdown-toggle, .dropdown-menu { width: 240px }
.btn-group img { margin-right: 10px }
.dropdown-toggle { padding-right: 50px }
.dropdown-toggle .glyphicon { margin-left: 20px; margin-right: -40px }
/* .dropdown-menu>li>a:hover { background: #f1f9fd }  */

li button{
  padding: 0px 19px !important;
  background-color: white;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}