.row.data {
    font-size: 9.6pt;
}

.row.data .box {
    margin-bottom: 0px;
}

.box {
    border: 1.5px solid #d2d6de;
}

.box .box-body {
    overflow-x: hidden;
}

td,
th {
    padding-bottom: 1px !important;
    padding-top: 1px !important;
}

.fittoSreen .box-body {
    height: 180px;
    overflow-y: scroll;
}

.fittoSreen .box-body.claims {
    height: 250px;
}

.swal2-modal {
    width: 900px !important;
    min-width: 900px !important;
}

textarea {
    resize: vertical;
}

.bg-head-box {
    background: #992727;
}

.panel-head {
    color: #fff;
}

.panel-head u {
    text-decoration: none;
}

.panel-head img {
    vertical-align: -5px;
    margin-right: 7px;
}

.panel-body-bg {
    background: #fbeede;
}

.bg-darkRed {
    background: #992727;
    color: #fff;
}

.bg-fullWhite {
    background: #fff;
    color: #992727;
}

.bg-fullWhite:hover {
    box-shadow: none;
}

.bg-darkblue {
    background-color: #0a25a8;
    color: #fff;
}