.claim-info.row,.col-sm-12.claim-col.expanded{
    margin:0px;
    padding:0px;   
    overflow: hidden;     
}
.box-body{
    padding:0px; 
    border: 2px solid lightgray;
}
.table-responsive {
    position: relative;
    overflow-x: hidden;
}

#fixed-header {
    position: absolute;
    top: 43px;
    background: #fbeede;
    z-index: 2;
    padding: 1.6rem 0;
}

table {
    table-layout: fixed;
    width: 100% !important;
    overflow-x: hidden;
}

thead,
tbody {
    overflow-y: hidden !important;
}

td,
th {
    word-wrap: break-word;
    padding-left: 2px !important;
    font-size: 1.4rem;
    padding-right: 2px !important;
}

textarea {
    resize: vertical;
}

tr>th,
tr>td {
    width: 100%;
    text-align: center;
}

tr>th:first-child,
tr>td:first-child {
    width: 5%;
    font-size: 8pt;
}

td>a.label {
    font-size: 1.2rem;
}

table {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

tbody,
thead {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: scroll;
}

tbody.overflowable,
thead.overflowable {
    flex-grow: 1;
    flex-shrink: 1;
}

tr {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
}

td,
th {
    display: block;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}


/*  Checkbox Style */

.paymentCheckBox {
    position: relative;
    margin: -2px 5px;
}

.paymentCheckBox label {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 0px;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.paymentCheckBox label:after {
    content: '';
    width: 9px;
    height: 6px;
    position: absolute;
    top: 4px;
    left: 3px;
    border: 2px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fa.rotate {
    transform: rotate(-90deg);
    margin-top: 5px;
    position: absolute;
    margin-left: 2px;
}

@media screen and (max-width: 300px) {
    .fa.rotate {
        margin-left: 2px;
    }
}

@media screen and (min-width: 300px) {
    .fa.rotate {
        margin-left: 7px;
    }
}


/* tr>th:first-child .paymentCheckBox label {
    box-shadow: inset 0px 1px 1px #992727, 2px 2px 2px #992727;
} */

.paymentCheckBox label:hover::after {
    opacity: 0.5;
}

.paymentCheckBox input[type=checkbox] {
    position: absolute;
    z-index: 9;
    opacity: 0;
    width: 15px;
    height: 15px;
    margin: 0px;
    cursor: pointer;
    left: 0px;
    top: 2px;
}

.paymentCheckBox input[type=checkbox]:checked+label:after {
    opacity: 1;
}

.bg-darkblue {
    background-color: #414772 !important;
}

tbody>tr.bgBlue {
    background: #56a1ff !important;
    color: white;
}

tbody>tr.bgBlue td {
    color: white;
}

tbody>tr.bgBlue td::selection,
tbody>tr.bgBlue td a::selection {
    background: transparent !important;
}

tbody>tr:hover {
    background: #b6f1ff !important;
    cursor: pointer;
    color: #000;
}

tbody>tr:hover td,
tbody>tr:hover td::selection {
    color: #000;
}

tr>th:nth-child(6),
tr>td:nth-child(6),
tr>th:nth-child(3),
tr>td:nth-child(3) {
    width: 20.5%;
    text-align: left !important;
}

tr>th:nth-child(2),
tr>td:nth-child(2),
tr>th:nth-child(4),
tr>td:nth-child(4),
tr>th:nth-child(5),
tr>td:nth-child(5),
tr>th:nth-child(7),
tr>td:nth-child(7),
tr>th:nth-child(8),
tr>td:nth-child(8),
tr>th:nth-child(9),
tr>td:nth-child(9) {
    width: 6%;
}

tr>th:last-child,
tr>td:last-child {
    width: 18%;
    font-size: 1.4rem;
    line-height: 1.5rem;
}

tr>th:nth-child(8),
tr>td:nth-child(8),
tr>th:nth-child(7),
tr>td:nth-child(7) {
    text-align: right !important;
}
.claim-col{
    height:60px;
}
.expanded{
    height: calc(100vh - 244px);
    height: -moz-calc(100vh - 244px);
    height: -webkit-calc(100vh - 244px);
    height: -o-calc(100vh - 244px);
    overflow:hidden;
    /* overflow-y:scroll; */
}
.top-header,.table-body{
    width:99%;
}

.top-header{
    height:56px;
    position: absolute;
    overflow: hidden;
}
.table-body{
    position: absolute;
    top:56px;
    max-height: calc(100% - 56px);
    max-height: -moz-calc(100% - 56px);
    max-height: -webkit-calc(100% - 56px);
    max-height: -o-calc(100% - 56px);
    overflow-y: scroll;
} 
.top-header table{
    height:99%;
}