<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
  <form class="row" [formGroup]="addressForm">
    <div class="col-sm-12">
      <label>Address for</label>
    </div>
    <div class="col-sm-4" formArrayName="for">
      <mat-checkbox formControlName="0">Default</mat-checkbox>
    </div>
    <div class="col-sm-4" formArrayName="for">
      <mat-checkbox formControlName="1">Delivery</mat-checkbox>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4" formArrayName="for">
      <mat-checkbox formControlName="2">Billing</mat-checkbox>
    </div>
    <div class="col-sm-4" formArrayName="for">
      <mat-checkbox formControlName='3'>Mailing</mat-checkbox>
    </div>
    <div class="col-sm-4" formArrayName="for">
      <mat-checkbox formControlName="4">Other</mat-checkbox>
    </div>
    <mat-form-field class="spot-text-primary col-sm-12">
      <input matInput placeholder="Address Line 1" formControlName="line1">
    </mat-form-field>
    <mat-form-field class="spot-text-primary  col-sm-12">
      <input matInput placeholder="Address Line 2" formControlName="line2">
    </mat-form-field>

    <mat-form-field class="spot-text-primary col-sm-4">
      <input matInput placeholder="City" formControlName="city">
    </mat-form-field>
    <mat-form-field class="spot-text-primary col-sm-4">
      <mat-select placeholder="State" formControlName="state">
        <mat-option *ngFor="let s of states" [value]="s.code">
          {{s.name}}
        </mat-option>
        <mat-option value="Chicago">
          Chicago
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="spot-text-primary col-sm-4">
      <input matInput placeholder="Zip" formControlName="zip">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="start">
  <button mat-button color="primary" mat-stroked-button [disabled]="addressForm.invalid"
    cdkFocusInitial (click)="save()">Save
    Address</button>
  <button mat-button click="cancel()">Cancel</button>
</mat-dialog-actions>