<button class="close-button" (click)="episodeService.closeModal()">
  <i class="fa fa-times"></i>
</button>
<br/>
<br/>
<div class="box no-border">
  <div class="box-header bg-head-box" style="color:white">
    <h3 class="box-title">Acquire / Assign Episode</h3>
  </div>
  <div class="box-body" style="border: none;">
    <div class="row invoice-info text-left">
      <div class="col-sm-12 invoice-col">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs -pull-right">
            <li>
              <a href="#1a" data-toggle="tab">Acquire</a>
            </li>
            <li>
              <a href="#2a" data-toggle="tab">Assign</a>
            </li>
            <li>
              <a href="#3a" data-toggle="tab">Link to Claim</a>
            </li>
            <li>
              <a href="#4a" data-toggle="tab active" style="visibility:hidden">Select</a>
            </li>
          </ul>
          <div class="tab-content clearfix">
            <div class="tab-pane" id="1a">
              <div class="form-group">
                <button class="btn bg-darkRed btn-flat  btn-small search-claims" type="button" (click)="acquire()">
                  <i class="fa fa-check-square"></i> Acquire Now
                </button>
              </div>
            </div>
            <div class="tab-pane" id="2a">
              <div class="form-group">
                <label id="episodeNoteTypeLabel">User</label>
                <select class="form-control" [(ngModel)]="user">
                  <option *ngFor="let u of users" [value]="u.id"> {{u.firstName}} {{u.lastName}}</option>
                </select>
              </div>
              <div class="form-group">
                <button class="btn bg-darkRed btn-flat pull-right btn-small search-claims" type="button" (click)="assign()">
                  <i class="fa fa-check-square"></i> Save Assignment
                </button>
              </div>
            </div>
            <div class="tab-pane" id="3a">
              <div class="form-group" *ngIf="episodeService.episodetoAssign.claimNumber">
                <label>Episode currently linked to Claim Number</label>
                {{episodeService.episodetoAssign.claimNumber}}
              </div>
              <div class="form-group" *ngIf="form.value.claimNumber">
                <label>Episode will be linked to Claim Number</label>
                {{form.value.claimNumber}}
                <i class="fa fa-close text-darkRed" (click)="form.reset();placeholder=''"></i>
              </div>
              <div class="form-group">
                <label>Type Last Name, First Name or Claim Number</label>
                <div class="input-group">
                  <div class="input-group-addon commonCheckBox">
                    <input type="checkbox" name="check" id="exactMatchCheckBox" [checked]="exactMatch" (change)="checkMatch($event)" #inv>
                    <label for="exactMatchCheckBox" class="match"></label>
                    <label for="exactMatchCheckBox"> Exact Match</label>
                  </div>
                  <input class="form-control" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" [z-index]="'99999999'" auto-complete
                    name="searchText" id="searchText" [source]="autoCompleteClaim" [service]="1" [method]="1" min-chars="2"
                    list-formatter="lastName , firstName - claimNumber - groupNumber" [http-method]="'post'" [exactMatch]="exactMatch"
                    [autocomplete-dropdown-event-emitter]="showDropDown" [no-match-found-text]="'No Claim Found'" (keyup)="lastInput($event)"
                    (valueChanged)="claimSelected($event)" [placeholder]="placeholder">
                </div>
              </div>
              <div class="form-group">
                <button class="btn bg-darkRed btn-flat pull-right btn-small search-claims" type="button" [disabled]="form.invalid" (click)="submitLink()">
                  <i class="fa fa-save"></i> Associate Episode to Claim
                </button>
              </div>
            </div>
            <div class="tab-pane active" id="4a">
              Select action above
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay" *ngIf="episodeService.loading">
    <img src="assets/1.gif">
  </div>
  <div class="box-footer">
    <div class="form-group">
      <button class="btn bg-darkblue btn-flat pull-right btn-small clear-inputs" type="button" (click)="episodeService.closeModal()">
        Cancel
      </button>
      <button *ngIf="!episodeService.data.archived" class="btn bg-darkRed btn-flat pull-right btn-small search-claims" type="button"  (click)="archive()" style="margin-right:15px;">
        <i class="fa fa-trash"></i> Archive
      </button>
    </div>
  </div>
</div>