<div class="row">
  <div class="col-md-12">
    <section class="content-header">
      <ol class="breadcrumb pull-left">
        <li>
          <a [routerLink]="'/'">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="active">
          <a [routerLink]="'/main/private'">
            Dashboard
          </a>
        </li>
      </ol>
    </section>
  </div>
</div>
<div class="row" *ngIf="!isClient">
  <div class="col-md-12 full-height">
    <div id="private-nav">
      <div class="row parallel">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="grey-box">
            <a class="img-section" [routerLink]="'/main/unindexed-images/' + simpleDate(summary.lastWorkDate)">
              <div class="dashboard-img">
                <img src="assets/img/002-pdf.png">
                <span class="badge-dashboard badge">{{summary.totalImagesRemaining}}</span>
              </div>
              <span>Indexing</span>
            </a>
            <div class="content-right-section">
              <div class="upper-description text-left">
                <span class="row">
                  <span class="col-md-12 col-sm-12 text-center" style="font-weight:600;">
                    Metrics based on previous working day - {{formatDate(summary.lastWorkDate)}}
                  </span>
                </span>
                <p>
                  <strong>{{summary.totalImagesScanned}} Images scanned</strong>
                  <span>(total images in)</span>
                </p>
              </div>
              <ul class="status-in-word top" style="margin-top: 0px;">
                <li class="outstanding" [style.margin-top.px]="-7" [style.padding-left.px]="((100-totalImagesIndexed)/100*imagesProgress.clientWidth)>170 ? (totalImagesIndexed/100*imagesProgress.clientWidth)+(totalImagesIndexed ==0 ? 12 : 0) : 0"
                  [style.padding-right.px]="((100-totalImagesIndexed)/100*imagesProgress.clientWidth)>170 ? 0: ((100-totalImagesIndexed)/100*imagesProgress.clientWidth)+12"
                  [style.text-align]="((100-totalImagesIndexed)/100*imagesProgress.clientWidth)>170 ? 'left' : 'right'"
                  [style.width.%]="100">
                  {{summary.totalImagesRemaining}} Unindexed Images
                </li>
                <li class="completed" style="visibility:hidden;"></li>
              </ul>
              <div class="progress" [style.margin-top.px]="3" #imagesProgress>
                <div class="progress-bar" role="progressbar" style="height: 25px;" [style.width.px]="totalImagesIndexed/100*imagesProgress.clientWidth"
                  [style.border-bottom-right-radius.px]="totalImagesIndexed>99.5 ? 7 : 0"
                  [style.border-top-right-radius.px]="totalImagesIndexed>99.5 ? 7 : 0" [attr.aria-valuenow]="totalImagesIndexed"
                  aria-valuemin="0" aria-valuemax="100">{{summary.totalImagesIndexed}}</div>
                {{summary.totalImagesRemaining}}
              </div>
              <ul class="status-in-word  bottom">
                <li class="completed" style="width:max-content">{{summary.totalImagesIndexed}} Images Indexed (total
                  images out)</li>
                <li class="outstanding" style="visibility:hidden" style="width:max-content"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="grey-box">
            <a class="img-section" [routerLink]="'/main/diary'">
              <div class="dashboard-img">
                <img src="assets/img/diary.png">
                <span class="badge-dashboard badge">{{summary.diariesAdded}}</span>
              </div>
              <span>Diaries</span>
            </a>
            <div class="content-right-section">
              <div class="upper-description text-left">
                <span class="row">
                  <span class="col-md-12 col-sm-12 text-center" style="font-weight:600;">
                    Metrics based on previous working day - {{formatDate(summary.lastWorkDate)}}
                  </span>
                </span>
                <p>
                  <strong>{{summary.diariesAdded}} Diaries added</strong>
                </p>
              </div>
              <ul class="status-in-word top" style="margin-top: 0px;">
                <li class="outstanding" [style.margin-top.px]="-7" [style.padding-left.px]="((100-totalDiariesResolved)/100*diariesProgress.clientWidth)>130 ? (totalDiariesResolved/100*diariesProgress.clientWidth)+(totalDiariesResolved ==0 ? 12 : 0) : 0"
                  [style.padding-right.px]="((100-totalDiariesResolved)/100*diariesProgress.clientWidth)>130 ? 0: ((100-totalDiariesResolved)/100*diariesProgress.clientWidth)+12"
                  [style.text-align]="((100-totalDiariesResolved)/100*diariesProgress.clientWidth)>130 ? 'left' : 'right'"
                  [style.width.%]="100">
                  {{summary.totalDiariesUnResolved}} Unresolved
                </li>
                <li class="completed" style="visibility:hidden;"></li>
              </ul>
              <div class="progress" [style.margin-top.px]="3" #diariesProgress>
                <div class="progress-bar" role="progressbar" style="height: 25px;" [style.width.%]="totalDiariesResolved"
                  [attr.aria-valuenow]="totalDiariesResolved" aria-valuemin="0" aria-valuemax="100">{{summary.totalDiariesResolved}}</div>
                {{summary.totalDiariesResolved}}
              </div>
              <ul class="status-in-word bottom">
                <li class="completed" style="width:max-content">{{summary.totalDiariesResolved}} Resolved</li>
                <li class="outstanding" style="visibility:hidden;" style="width:max-content"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="grey-box">
            <a class="img-section" [routerLink]="'/main/episodes'">
              <div class="dashboard-img">
                <img src="assets/img/iconepisodes.png" style="background: black;">
                <span class="badge-dashboard badge">{{summary.newEpisodes}}</span>
              </div>
              <span>Episodes</span>
            </a>
            <div class="content-right-section">
              <div class="upper-description text-left">
                <span class="row">
                  <span class="col-md-12 col-sm-12 text-center" style="font-weight:600;">
                    Metrics based on previous working day - {{formatDate(summary.lastWorkDate)}}
                  </span>
                </span>
                <p>
                  <strong>{{summary.newEpisodes}} new episodes</strong>
                </p>
              </div>
              <ul class="status-in-word top">
                <li class="outstanding" [style.margin-top.px]="-7" [style.padding-left.px]="((100-totalResolvedEpisodes)/100*episodeProgres.clientWidth)>130 ? (totalResolvedEpisodes/100*episodeProgres.clientWidth)+(totalResolvedEpisodes ==0 ? 12 : 0) : 0"
                  [style.padding-right.px]="((100-totalResolvedEpisodes)/100*episodeProgres.clientWidth)>130 ? 0: ((100-totalResolvedEpisodes)/100*episodeProgres.clientWidth)+12"
                  [style.text-align]="((100-totalResolvedEpisodes)/100*episodeProgres.clientWidth)>130 ? 'left' : 'right'"
                  [style.width.%]="100">
                  {{summary.totalUnresolvedEpisodes}} Outstanding
                </li>
                <li class="completed" style="visibility:hidden"></li>
              </ul>
              <div class="progress" #episodeProgres>
                <div class="progress-bar" role="progressbar" style="height: 25px;" [style.width.%]="totalResolvedEpisodes"
                  aria-valuenow="totalResolvedEpisodes" aria-valuemin="0" aria-valuemax="100"
                  [style.border-bottom-right-radius.px]="totalResolvedEpisodes>99.5 ? 7 : 0"
                  [style.border-top-right-radius.px]="totalResolvedEpisodes>99.5 ? 7 : 0">{{summary.totalResolvedEpisodes}}</div>
                {{summary.totalUnresolvedEpisodes}}
              </div>
              <ul class="status-in-word bottom">
                <li class="completed" style="width:max-content">{{summary.totalResolvedEpisodes}} Resolved</li>
                <li class="outstanding" style="visibility:hidden">{{summary.totalUnresolvedEpisodes}} Outstanding</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="grey-box">
            <a class="img-section" [routerLink]="'/main/claims'">
              <div class="dashboard-img">
                <img src="assets/img/006-medical-prescription.png">
                <span class="badge-dashboard badge">{{summary.newPrescriptions}}</span>
              </div>
              <span>Prescriptions</span>
            </a>
            <div class="content-right-section">
              <div class="upper-description text-left">
                <span class="row">
                  <div class="col-md-6 col-sm-6" style="padding-bottom:3px;">
                    <strong>{{summary.newPrescriptions}} NEW</strong>
                    <span>Prescriptions</span>
                  </div>
                  <div class="col-md-6 col-sm-6" style="padding-bottom:3px;">
                    <strong>{{summary.newReversedPrescriptions}} REVERSED</strong>
                    <span>Prescriptions</span>
                  </div>
                </span>
                <!-- <div class="status-information">
                  <span class="label row">Latest Prescriptions</span>
                </div>
                <div class="status-information">
                  <a href="" class="status-information-badge">189734.pdf</a>
                  <a href="" class="status-information-badge">189734.pdf</a>
                  <a href="" class="status-information-badge">189734.pdf</a>
                  <a href="" class="status-information-badge">189734.pdf</a>
                  <a href="" class="status-information-badge">189734.pdf</a>
                </div>
                <div class="status-information">
                  <a href="" class="status-information-badge">189734.pdf</a>
                  <a href="" class="status-information-badge">189734.pdf</a>
                  <a href="" class="status-information-badge">189734.pdf</a>
                  <a href="" class="status-information-badge">189734.pdf</a>
                  <a href="" class="status-information-badge">189734.pdf</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style=" height: fit-content; ">
          <div class="grey-box">
            <a class="img-section" [routerLink]="'/main/claims'">
              <div class="dashboard-img">
                <img src="assets/img/007-claim.png">
                <span class="badge-dashboard badge">{{summary.newClaims}}</span>
              </div>
              <span>Claims</span>
            </a>
            <div class="content-right-section">
              <div class="upper-description text-left">
                <span class="row">
                  <span class="col-md-12 col-sm-12 text-center" style="font-weight:600;">
                    Metrics based on previous working day - {{formatDate(summary.lastWorkDate)}}
                  </span>
                </span>
                <p>
                  <strong>{{summary.newClaims}} NEW</strong>
                  <span>Claims</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style=" height: fit-content; " *ngIf="allowed">
          <div class="grey-box row" style="position:relative;max-height:186px;overflow:hidden;">
            <h2 style="font-weight:600;font-size:12pt;padding:8px">Notifications</h2>
            <app-notification></app-notification>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="font-size:14pt;padding:0px;">
              <br />Windows File Watcher Service Status
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center">
              <img src="assets/filewatcher-sick.png" *ngIf="!summary.fileWatcherHealthy" class="img-sqaure" width="100px">
              <img src="assets/filewatcher-healthy.png" *ngIf="summary.fileWatcherHealthy" class="img-sqaure" width="100px">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center" style="height:164px;padding-top:60px">
          <img style="cursor:pointer;" [src]="over[0] ? 'assets/change-inv-amt-hover.png':'assets/change-inv-amt.png'"
            *ngIf="allowed" class="img-sqaure" (mouseover)="over[0] = true" (mouseout)="over[0] = false" width="200px"
            (click)="search()">
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="isClient">
  <div class="row">
    <div class="col-md-12 full-height">
      <app-client-view></app-client-view>
    </div>
  </div>
</ng-container>
<swal #searchSwal [showCancelButton]="false" [showConfirmButton]="false" customClass="payment-modal search-modal"
  [focusCancel]="false" title="Episode Entry">
  <invoice-search-modal *swalPartial>
  </invoice-search-modal>
  <swal>