<form role="form" class="row" autocomplete="off" autocapitalize="none" autocomplete="off">
  <div class="col-md-12">
      <div class="form-group">
          <div class="input-group">
              <input class="form-control" style="margin-right: 30px; width: 300px;" matInput type="text" id="filter-text-box" placeholder="Filter..." [(ngModel)]="invoiceProcessService.filterText" [ngModelOptions]="{standalone: true}" />
              <button mat-raised-button class="color-palette btn bg-darkblue btn-small" type="button" style="padding: 2px 14px 0px 13px; height: 36px;" (click)="clearFilter()">
                  <i class="fa fa-refresh" aria-hidden="true"></i> Clear Filter</button>
              <button mat-raised-button class="color-palette btn bg-DarkGreen btn-small ml-1" type="button" style="padding: 2px 14px 0px 13px; height: 36px;" (click)="refreshList()">
                <i class="fa fa-refresh" aria-hidden="true"></i> Refresh Grid</button>
              <div class="generate-pdf">
                  <img [src]="imgSrc" (click)="generatePdfs()"
                    (mouseover)="imgSrc = 'assets/images/ButtonOnhover.png'"
                    (mouseout)="imgSrc = 'assets/images/ButtonNormal.png'" alt="">
              </div>
          </div>
      </div>
  </div>
</form>
