form {
  background: #ffffff;
}
form .col-md-2.flex{
  width:165px;
  padding-right:2px;
  padding-left:2px;
}

form .col-md-2.flex .form-group span{
  display:flex;
  flex-direction: row;
}

#filter-text-box {
  border: 1px solid black;
}

.form-group {
  margin: 5px 0px;
}
.form-group .input-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.generate-pdf {
  display: inline-block;
}
.generate-pdf img {
  height: 50px;
  padding-left: 40px;
  padding-top: 2px;
}
.generate-pdf img:hover {
  cursor: pointer;
}
