<form role="form" [formGroup]="firewallService.form" style="padding-top: 0.5%;" autocomplete="off" autocapitalize="none" autocomplete="off" (keyup.enter)="firewallService.save()">
    <div class="row search-container">
        <div class="col-md-2 col-sm-3" style="padding-left:15px">
            <div class="form-group">
                <label>
                    Rule Name<span> (Alphanumeric only - no spaces)</span>
                </label>
                <input class="form-control" id="ruleName"  formControlName="ruleName"
                    autofocus>
            </div>
        </div>
        <div class="col-md-2 col-sm-3">
            <div class="form-group">
                <label>Start IP Address</label>
                <input class="form-control" id="startIpAddress"  formControlName="startIpAddress" data-inputmask="'alias': 'ip'"  data-mask>
            </div>
        </div>
        <div class="col-md-2 col-sm-3">
            <div class="form-group">
                <label>End IP Address</label>
                <input class="form-control" id="endIpAddress"  formControlName="endIpAddress" data-inputmask="'alias': 'ip'"  data-mask>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="form-group">
                <label>&nbsp;</label>
                <br/>
                <button mat-raised-button class="color-palette btn bg-darkRed btn-small" style="padding: 2px 14px 0px 13px; height: 36px; margin-right: 15px;" type="button" (click)="firewallService.save()">
                  <i class="fa fa-search" aria-hidden="true"></i> Save</button>
                  <button mat-raised-button class="btn bg-darkblue" type="button" style="padding: 2px 14px 0px 13px;height: 36px;" (click)="clear()">
                    <i class="fa fa-eraser" aria-hidden="true"></i> Clear</button>
            </div>
        </div>
    </div>
</form>
