<div class="row list">
  <a routerLink="/main/reports/revenue" class="col-xs-3"  *ngIf="adminOnly">
    <img src="assets/revenue-from-last-21-days.png" class="img-responsive" style="height:90px;margin:auto" >
  </a>
  <!-- ./col -->
  <a routerLink="/main/reports/account-receivable" class="col-xs-3"  *ngIf="adminOnly">
    <img src="assets/accounts-receivable.png"  style="height:90px;margin:auto" class="img-responsive">
  </a>
  <a class="col-xs-3" routerLink="/main/reports/duplicate-claims"  *ngIf="adminOnly">
    <img src="assets/duplicate-claims-report.png" class="img-responsive"  style="height:90px;margin:auto" >
  </a>
  <a class="col-xs-3" routerLink="/main/reports/shortpay">
    <img src="assets/light-blue-button.png" class="img-responsive"  style="height:90px;margin:auto" >
  </a>
  <a class="col-xs-3" routerLink="/main/reports/skipped-payment">
    <img src="assets/gray-button.png" class="img-responsive"  style="height:90px;margin:auto" >
  </a>
  <a class="col-xs-3" routerLink="/main/reports/collection-bonus">
    <img src="assets/collection-bonus.png" class="img-responsive"  style="height:90px;margin:auto" >
  </a>
</div>