    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form"  [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off" (keyup.enter)="login()">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control"  name="email" class="form-control" placeholder="Email address" formControlName="email" (focus)="submitted=false" required focus-on>
                                    <p class="text-danger form-control-static" *ngIf="form.get('email').errors && submitted">Incorrect email address</p>
                                </div>
                                <div class="form-group">
                                     <input type="password" name="password" class="form-control bottom" placeholder="Password"  formControlName="password" required (focus)="submitted=false">
                                        <p class="text-danger form-control-static" *ngIf="form.get('password').errors && submitted">
                                            {{this.form.get('password').getError('required') ? 'Password is required': 'Incorrect login or
                                            password'}}
                                       </p>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" formControlName="rememberMe">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <a  class="btn btn-md btn-success btn-block" (click)="login()">Login</a>
                                <br/>
                            </fieldset>
                        </form>
                    </div>
                    <div class="panel-footer">  
                         <div class="row">
                            <div class="col-md-6">                     
                                <a  class="btn btn-md btn-success btn-outline" (click)="reset()">Forgot Password</a>
                            </div>
                            <div class="col-md-6">    
                                <a  class="btn btn-md btn-primary btn-block" (click)="register()">Register</a>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>