<div class="row">
  <div class="col-md-12">
    <section class="content-header">
      <ol class="breadcrumb pull-left">
        <li>
          <a routerLink="/">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li>
          <a routerLink="/main/decision-tree">
            Decision Tree
          </a>
        </li>
        <li class="active">
          <a [routerLink]="[]">
            Design
          </a>
        </li>
      </ol>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title"> Design Decision Tree</h3>
      </div>
      <div class="box-body">

        <!-- Diary Results -->
        <div class="row">
          <div class="col-sm-12" id="accordion">
            <div class="box">
              <div class="box-header bg-head-box">
                <span class="blade-title panel-head">
                  <i class="fa fa-pencil" aria-hidden="true"></i> Design
                </span>
                <div class="box-tools pull-right">
                    <img [src]="over[0] ? 'assets/img/decision-tree.png' : 'assets/img/decision-tree-hover.png'"
                    (mouseover)="over[0] = true" (mouseout)="over[0] = false" height="55px" class="pull-left"
                    style="cursor: pointer;margin-top: -15px;" title="Create a New Tree" (click)="ds.createUpdateNode()">
                </div>

              </div>
              <div class="box-body diary-results">
                <div culass="row claim-info">
                  <div class="col-sm-12 claim-col expanded">
                    <div style="height:auto;width:100%">
                      <svg [attr.width]="ds.width" height="600" #decisionTree>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="overlay" *ngIf="ds.loading">
          <img src="assets/1.gif">
      </div>
    </div>
  </div>
</div>