<div class="row">
  <div class="col-md-12">
    <section class="content-header">
      <ol class="breadcrumb pull-left">
        <li>
          <a routerLink="/">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li>
          <a [routerLink]="['/main/decision-tree',(!allowed ? 'list':''),(!allowed ? claimId:'')]">
            Decision Tree
          </a>
        </li>
        <li class="active">
          <a [routerLink]="[]">
            Design
          </a>
        </li>
      </ol>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title"> Design Decision Tree</h3>
      </div>
      <div class="box-body">

        <!-- Diary Results -->
        <div class="row">
          <div class="col-sm-12" id="accordion">
            <div class="box">
              <div class="box-header bg-head-box">
                <span class="blade-title panel-head">
                  <i class="fa fa-pencil" aria-hidden="true"></i> Design
                </span>
                <div class="box-tools pull-right">
                  <img [src]="over[0] ? 'assets/img/decision-tree.png' : 'assets/img/decision-tree-hover.png'"  [hidden]="claimId"
                    (mouseover)="over[0] = true" (mouseout)="over[0] = false" height="55px" class="pull-left" style="cursor: pointer;margin-top: -15px;"
                    title="Create a New Tree" (click)="ds.createUpdateNode()">
                    <button mat-raised-button style="margin-top: 0px;line-height: 30px;" [hidden]="!claimId" (click)="ds.cancelTree()">Cancel</button>
                </div>

              </div>
              <div class="box-body diary-results">
                <div class="row claim-info">
                  <div class="col-sm-12 claim-col expanded">
                    <div class="content-area" style="height:auto;width:100%">
                      <div class="relative_div">
                        <input type="range" orient="vertical" name="zoomLevel" [(ngModel)]="zoomLevel" (change)="handleZoomLevel(zoomLevel)" step="0.1" min="0" max="2"/>
                      </div>
                      <svg [attr.width]="ds.width" height="600" #decisionTree>
                      </svg>
                    </div>
                  </div>
                  <fieldset class="legend" [hidden]="!claimId">
                    <legend>Legend</legend>
                    <div>A Decision within the tree that has more decisions after it: <img src="assets/img/node-with-children.png"  class="pull-right"/></div>
                    <hr>
                    <div>A Decision within the tree that has no more decisions after it (you're done): <img src="assets/img/node-without-children.png"  class="pull-right"/></div>
                    <hr>
                    <div>A Decision within the tree that has been selected (decision you selected): <img src="assets/img/selected-tree-node.png"  class="pull-right"/></div>
                    <hr>
                    <div>
                        This button makes a selection of the tree,
                        opening up further selections below it:
                        <img src="assets/img/select-node.png"/>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="overlay" *ngIf="ds.loading">
        <img src="assets/1.gif">
      </div>
    </div>
  </div>
</div>
