.page-title h3 {
    margin: 0;
    padding: 10px 0 0 10px;
    font-weight: 400;
}

.box {
    border: 1.5px solid #d2d6de;
    margin-bottom: 0rem;
}
.box .box-body {
    overflow-x: hidden;
}
.bg-head-box {
    background: #992727;
    z-index: 3;
    color: #fff;
}

.blade-title {
    font-size: 18px;
}

.blade-title i {
    margin-right: 10px;
}

.total {
    display: block;
}

/* .diary-results {
    background: #fbeede;
}
 */
.left5 {
    margin-left: 5px;
}

.right5 {
    margin-right: 15px;
}

.white {
    color: #ffffff;
}

.row.claim-info{
    display:flex;
    flex-direction: row
}

.expanded{
    height: calc(100vh - 220px);
    height: -moz-calc(100vh - 220px);
    height: -webkit-calc(100vh - 220px);
    height: -o-calc(100vh - 220px);
    overflow:auto !important;
    flex:1
}
.legend{
    width:250px;
    border:2px solid #ccc;
    padding:8px;
    font-size:10px;
    height:270px;
    height:330px;
}
.legend hr{
    margin: 5px 0px;
    height: 1px;
    background: black;
}
.legend legend{
    margin: 0;
    padding: 5px 15px;
    border: none;
    text-align: center;
    background: transparent;
    width: 69px;
}
.transparent{
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    padding-top: 7px;
    padding-bottom: 2px;
    border-radius: 6px;
}
svg text tspan{
    font-size:12px;
  }
  input[type=range][orient=vertical]
  {
      writing-mode: bt-lr; /* IE */
      -webkit-appearance: slider-vertical; /* WebKit */
      width: 8px;
      height: 350px;
      padding: 0 5px;
      margin-left: 20px;
  }
  .relative_div {
    top: 0px;
    display: inline=block;
    z-index: 100000;
    position: absolute;
    height: 100%;
  }
  .relative_div ~ svg {
    margin-left: 20px;
    z-index: 10000;
    display: inline=block;
    height: 100%;
  }
