<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="BridgeportClaimsConnectionString"
          providerName="System.Data.SqlClient"
          connectionString="Server=jdgdb1.database.windows.net;Database=BridgeportClaims;User Id=bridgeportClaimsUser;Password=eb@Z6sSt$;MultipleActiveResultSets=True;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="as:AudienceId" value="9f2c0ac9d0db0a9d18438c8296f7aac11b30dbc176965bbb09a222d7055bd160"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="as:AudienceSecret" value="a9db664c263dd866551691f844f017e1335007e661e01755a07494e2672ef9a9"  xdt:Transform="Replace" xdt:Locator="Match(key)"  />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>