<mat-card style="padding:0px;">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>{{customerName}} <mat-chip>VIP</mat-chip></span>
      <span class="toolbar-spacer"></span>
      <mat-icon>bar_chart</mat-icon>
      <span>Label:</span>
      <span class="value-label">Value</span>
      <span>Label:</span>
      <span class="value-label">Value</span>
      <span>Label:</span>
      <span class="value-label">Value</span>
      <mat-icon>inbox</mat-icon>
      <span>Message Customer</span>
      <span class="no-margin">Actions</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>print</mat-icon>
          <span>Print Bag Tag</span>
        </button>
        <button mat-menu-item>
          <mat-icon mat-list-icon class="icofont icofont-chart-line-alt"></mat-icon>
          <span>Marketing Popup</span>
        </button>
        <button mat-menu-item>
          <mat-icon>description</mat-icon>
          <span>Referral Coupon</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="row m-b-20 m-t-20">
    <div class="col-sm-2 border-right">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon class="icofont icofont-id"></mat-icon>
          <h4 mat-line>Contact Info</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon class="icofont icofont-jacket"></mat-icon>
          <h4 mat-line>Preferences</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h4 mat-line>Credit Card</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon class="icofont icofont-users-alt-4"></mat-icon>
          <h4 mat-line>Referral</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon class="icofont icofont-tag"></mat-icon>
          <h4 mat-line>Promotion</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon class="icofont icofont-papers"></mat-icon>
          <h4 mat-line>Acct. Receivable</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>notifications</mat-icon>
          <h4 mat-line>Notifications</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon class="icofont icofont-settings"></mat-icon>
          <h4 mat-line>Settings</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon class="icofont icofont-folder-search"></mat-icon>
          <h4 mat-line>Lookup</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon class="icofont icofont-briefcase"></mat-icon>
          <h4 mat-line>Pricing</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon class="icofont icofont-chat"></mat-icon>
          <h4 mat-line>CRM</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item text="primary">
          <mat-icon mat-list-icon class="icofont icofont-tack-pin"></mat-icon>
          <h4 mat-line>Collapse Menu</h4>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-sm-10">
      <form class="row" [formGroup]="contactForm">
        <div class="col-sm-3">
          <h6>Name</h6>
          <mat-card>
            <mat-form-field>
              <input matInput placeholder="First Name" formControlName="firstName">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Last Name" formControlName="lastName">
            </mat-form-field>
          </mat-card>
          <h6>Type</h6>
          <mat-card>
            <mat-form-field>
              <mat-select placeholder="Individual" formControlName="type">
                <mat-option value="Individual">
                  Individual
                </mat-option>
                <mat-option value="Company">
                  Company
                </mat-option>
              </mat-select>
            </mat-form-field>
            VIP User<br />
            <mat-radio-group formControlName="vipUser">
              <mat-radio-button [value]="false">Yes</mat-radio-button>
              <mat-radio-button [value]="true">No</mat-radio-button>
            </mat-radio-group>
          </mat-card>
          <h6>Passwords</h6>
          <mat-card>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password">
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-8">
              <h6>Address <span class="pull-right text-gray"><i class="icofont icofont-plus-circle"></i> Add More
                </span></h6>
              <mat-card>
                <ng-container *ngFor="let address of contactForm.controls.address.value||[]">
                  <div class="row">
                    <div class="col">Address for {{address.for}}</div>
                </ng-container>
                <div class="row">
                  <div class="col">{{address.line1}} {{address.city}} {{address.city}} {{address.zip}} </div>
                </div>
            </div>
</mat-card>
</div>
</div>
<div class="row">
  <div class="col-sm-5">
    <h6>Phone <span class="pull-right text-gray"><i class="icofont icofont-plus-circle"></i> Add More </span></h6>
    <mat-card>
      <mat-form-field>
        <mat-select placeholder="Mobile" formControlName="phoneType">
          <mat-option value="Mobile">
            Mobile
          </mat-option>
          <mat-option value="Landline">
            Landline
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Number *" formControlName="lastName">
      </mat-form-field>
    </mat-card>
  </div>
  <div class="col-sm-5">
    <h6>Email <span class="pull-right text-gray"><i class="icofont icofont-plus-circle"></i> Add More </span></h6>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </mat-card>
  </div>
</div>
</div>
</form>
</div>
</div>
</mat-card>