
    
      <form class="row" [formGroup]="customerService.contactForm">
        <div class="col-sm-3">
          <h6>Name</h6>
          <mat-card>
            <mat-form-field>
              <input matInput placeholder="First Name" formControlName="firstName">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Last Name" formControlName="lastName">
            </mat-form-field>
          </mat-card>
          <h6>Type</h6>
          <mat-card>
            <mat-form-field>
              <mat-select placeholder="Individual" formControlName="type">
                <mat-option value="Individual">
                  Individual
                </mat-option>
                <mat-option value="Company">
                  Company
                </mat-option>
              </mat-select>
            </mat-form-field>
            VIP User<br />
            <mat-radio-group formControlName="vipUser">
              <mat-radio-button [value]="false">Yes</mat-radio-button> &nbsp; &nbsp;
              <mat-radio-button [value]="true">No</mat-radio-button>
            </mat-radio-group>
          </mat-card>
          <h6>Passwords</h6>
          <mat-card>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password">
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-8">
              <h6>Address <span class="pull-right text-gray"><i class="icofont icofont-plus-circle"></i> Add More
                </span></h6>
              <mat-card>
                <ng-container *ngFor="let address of customerService.contactForm.controls.address.value||[]">
                  <div class="row">
                    <div class="col">Address for {{address.for}}</div>
                  </div>
                  <div class="row">
                    <div class="col">{{address.line1}} {{address.city}} {{address.city}} {{address.zip}} </div>
                  </div>
                </ng-container>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <h6>Phone <span class="pull-right text-gray"><i class="icofont icofont-plus-circle"></i> Add More </span></h6>
              <mat-card>
                <mat-form-field>
                  <mat-select placeholder="Mobile" formControlName="phoneType">
                    <mat-option value="Mobile">
                      Mobile
                    </mat-option>
                    <mat-option value="Landline">
                      Landline
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Number *" formControlName="lastName">
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-5">
              <h6>Email <span class="pull-right text-gray"><i class="icofont icofont-plus-circle"></i> Add More </span></h6>
              <mat-card>
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
              </mat-card>
            </div>
          </div>
        </div>
      </form>