<div class="row">
  <div class="col-sm-12 expanded" style="overflow:hidden;">
    <div class="table-responsive top-header" *ngIf="ds.display=='list'">
      <ul class="products-list product-list-in-box">
        <li class="item row">
          <div class="col-xs-3 col-sm-3">
            Name
          </div>
          <div class="col-xs-2 col-sm-2">
            Created On
          </div>
          <div class="col-xs-2 col-sm-2">
            Created By
          </div>
          <div class="col-xs-4 col-sm-4">
            Description
          </div>
        </li>
      </ul>
    </div>
    <div class="table-responsive table-body" *ngIf="ds.display=='list'">
      <ul class="products-list product-list-in-box">
        <li class="item row" *ngFor="let t of ds.treeArray" [class.deleted]="t.deleted">
          <div class="col-xs-3 col-sm-3"  (click)="viewTree(t)">
            {{t.nodeName}}
          </div>
          <div class="col-xs-2 col-sm-2">
            {{t.createdOn|date:'mediumDate'}} {{t.createdOn|date:'mediumTime'}}
          </div>
          <div class="col-xs-2 col-sm-2">
            {{t.createdBy}}
          </div>
          <div class="col-xs-5 col-sm-5">
            {{t.nodeDescription}}
            <button type="button" class="btn btn-danger bg-darkRed btn-xs pull-right" (click)="viewTree(t)">
              <span class="fa fa-eye"></span> View
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn-group pagination-row">
      <button type="button" class="btn btn-default  btn-md" [disabled]="ds.data.page<=1" (click)="prev()">Prev</button>
      <button type="button" class="btn btn-default  selected btn-md" style="width:76px"> {{ds.data.page}} of {{ds.totalPages}}</button>
      <button type="button" class="btn btn-default  btn-md" [disabled]="ds.end" (click)="next()">Next</button>
      <div class="input-group" style="width:164px">
        <input class="form-control" [attr.placeholder]="ds.data.page" [(ngModel)]="goToPage" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event)" (keyup.enter)="goto()">
        <div class="input-group-btn">
          <button type="button" class="btn btn-success goto" (click)="goto()">Go to Page</button>
        </div>
      </div>
    </div>
  </div>
</div>