<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Payments</h3>
            </div>
            <div class="box-body">                
                <div class="row ">
                    <div class="col-sm-12" id="accordion">
                        <div class="box bottom-0">
                            <div class="box-body payment-input">
                                <app-payment-input></app-payment-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" id="accordion">
                        <div class="box">
                            <div class="box-body payment-invoice">
                                <app-payment-invoice></app-payment-invoice>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" id="accordion">
                        <div class="box">
                            <div class="box-body payment-result panel-body-bg">
                                <app-payment-result></app-payment-result>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>