<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Payments</h3>
            </div>
            <div class="box-body">                
                <div class="row" *ngIf="paymentService.prescriptionSelected">
                    <div class="col-sm-12" id="accordion">
                        <div class="box bottom-0">
                            <div class="box-body payment-input">
                                <app-payment-input></app-payment-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!paymentService.prescriptionSelected">
                    <div class="col-sm-12" id="accordion">
                        <div class="box">
                            <div class="box-body payment-invoice">
                                <app-payment-invoice></app-payment-invoice>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" id="accordion">
                        <div class="box">
                            <div class="box-header bg-head-box">
                                <h4 class="box-title text-center panel-head">
                                    <u><img src="assets/img/iconClaims.png"> Claims</u>
                                </h4>
                                <div class="box-tools pull-right" *ngIf="!paymentService.prescriptionSelected">
                                    <span style="color:white;font-size:16pt" *ngIf="paymentService.claimsData.length>0"> {{paymentService.claimsData.length}} records found</span>
                                    <button class="btn bg-darkblue btn-flat btn-small" type="button" (click)="viewClaims()" *ngIf="paymentService.claimsData.length>0" style="margin-left:auto;margin-right:auto;">View Claims</button>                                
                                </div>
                                <div class="box-tools pull-right" *ngIf="paymentService.prescriptionSelected">
                                    <span style="color:white;font-size:16pt" *ngIf="paymentService.detailedClaimsData.length>0"> {{paymentService.detailedClaimsData.length}} records found</span>
                                    <button class="btn bg-darkblue btn-flat btn-small" type="button" (click)="paymentService.prescriptionSelected=false" style="margin-left:auto;margin-right:auto;"><i class="fa fa-arrow-back"></i> Back to Claims</button>                                
                                </div>
                            </div>
                            <div class="box-body claims payment-result panel-body-bg">
                                <app-payment-result></app-payment-result>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="overlay" *ngIf="paymentService.loading" style="text-align:center;">
                <img src="assets/1.gif">
            </div>
        </div>

    </div>
</div>