<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Payments</h3>
            </div>
            <div class="box-body">
                <div class="row" *ngIf="paymentService.prescriptionSelected">
                    <div class="col-sm-12" id="accordion">
                        <div class="box bottom-0">
                            <div class="box-body payment-input">
                                <app-payment-input></app-payment-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!paymentService.prescriptionSelected">
                    <div class="col-sm-12" id="accordion">
                        <div class="box">
                            <div class="box-body payment-invoice">
                                <app-payment-invoice></app-payment-invoice>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" id="accordion">
                        <div class="box">
                            <div class="box-header bg-head-box" *ngIf="!paymentService.prescriptionSelected">
                                <h4 class="box-title text-center panel-head">
                                    <u *ngIf="!paymentService.prescriptionSelected"><img src="assets/img/iconClaims.png"> Claims</u>
                                    <u *ngIf="paymentService.prescriptionSelected"><img src="assets/img/iconPrescriptions.png"> Prescriptions</u>
                                </h4>
                                <span  class="tally pull-right"  *ngIf="!paymentService.prescriptionSelected && paymentService.claimsData.length>0" style="margin-right:250px;">
                                    <span>
                                        <span style="font-size:13pt">
                                        {{paymentService.claimsData.length}}
                                        </span> Record{{paymentService.claimsData.length>1 ? 's':''}} found
                                    </span>
                                    <span class="label bg-darkblue" *ngIf="paymentService.claimsDataCount" style="margin-left:20px;font-size:9pt">
                                        <span style="font-size:11pt">
                                            {{paymentService.claimsDataCount}}
                                        </span> Row{{paymentService.claimsDataCount>1 ? 's':''}} selected
                                    </span>
                                </span>
                                <span  class="tally pull-right"  *ngIf="paymentService.prescriptionSelected && paymentService.detailedClaimsData.length>0" style="margin-right:250px;">
                                    <span>
                                        <span style="font-size:13pt">
                                            {{paymentService.detailedClaimsData.length}}
                                        </span> Record{{paymentService.detailedClaimsData.length>1 ? 's':''}} found
                                    </span>
                                    <span class="label" *ngIf="paymentService.claimsDataCount" style="margin-left:20px;background:#414772;font-size:9pt">
                                        <span style="font-size:11pt">
                                           {{paymentService.detailedClaimsDataCount}}
                                        </span> Row{{paymentService.detailedClaimsDataCount>1 ? 's':''}} selected
                                    </span>
                                </span>
                                <div class="box-tools pull-right" *ngIf="!paymentService.prescriptionSelected">
                                    <button class="btn bg-darkblue btn-flat btn-small" type="button" (click)="viewClaims()" *ngIf="paymentService.claimsData.length>0" style="margin-left:auto;margin-right:auto;">View Prescriptions</button>
                                </div>
                                <div class="box-tools pull-right" *ngIf="paymentService.prescriptionSelected">
                                    <button class="btn bg-darkblue btn-flat btn-small" type="button" (click)="paymentService.prescriptionSelected=false" style="margin-left:auto;margin-right:auto;"><i class="fa fa-arrow-left"></i> Back to Claims</button>
                                </div>
                            </div>
                            <div class="box-body claims payment-result panel-body-bg">
                                <app-payment-result></app-payment-result>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="overlay" *ngIf="paymentService.loading" style="text-align:center;">
                <img src="assets/1.gif">
            </div>
        </div>

    </div>
</div>
