<form (keyup.enter)="search()" autocapitalize="none" autocomplete="off" autocomplete="off" role="form">
  <div class="row">
    <!--</div>-->
    <div class="col-md-6">
      <div class="form-group">
        <label>Adjustor Name</label>
        <div class="input-group date">
          <div class="input-group-addon">
            <i class="fa fa-file-text"></i>
          </div>
          <input (focus)="submitted=false" [(ngModel)]="adjustorName" class="form-control pull-right"
                 id="adjustorName" name="adjustorName" placeholder="Type Adjustor Name..."
                 type="text">

        </div>
      </div>
    </div>

    <div class="col-sm-3 col-md-2 flex">
      <div class="form-group">
        <label>&nbsp;</label>
        <br/>
        <span>
                    <button (click)="search()" class="color-palette btn bg-DarkGreen btn-flat btn-small" type="button">
                        <i class="fa fa-search"></i> Search</button> &nbsp;
                    <button (click)="clearFilters()" class="color-palette btn bg-darkblue btn-flat btn-small"
                            type="button">
                        <i class="fa fa-eraser"></i> Clear Filters</button>
           <button class="color-palette btn bg-darkRed btn-flat btn-small" data-target="#modalAddAdjustor"
                   data-toggle="modal" style="margin-left: 4px;"
                   type="button">
                    <i aria-hidden="true" class="fa fa-plus"></i> Add Adjustor</button>
                </span>
      </div>
    </div>
  </div>
</form>

<div class="modal fade" id="modalAddAdjustor" tabindex="-1" role="dialog" aria-labelledby="modalAddAdjustorTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!--<div class="modal-header">-->
        <!--<h5 class="modal-title" id="exampleModalLongTitle">Adjustor</h5>-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      <!--</div>-->
      <div class="modal-body">

        


        <form role="form" [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off">

          <div class="row">
            <div class="form-group col-sm-12">
              <label>Adjustor Name <span class="text-danger">*</span>: </label>
              <input class="form-control" placeholder="Adjustor Name" formControlName="adjustorName" tabindex="1">
              <p class="text-danger form-control-static" *ngIf="form.get('adjustorName').errors && form.get('adjustorName').touched">adjustorName
                is required</p>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <label>Phone Number <span class="text-danger">*</span>:</label>
              <input class="form-control" placeholder="Phone Number" id="phoneNumber"
                     data-inputmask='"mask": "(999) 999-9999"' data-mask
                     formControlName="phoneNumber" tabindex="2">
              <p class="text-danger form-control-static" *ngIf="form.get('phoneNumber').errors && form.get('phoneNumber').touched">Phone # is required</p>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <label>Fax <span class="text-danger">*</span>:</label>
              <input class="form-control" placeholder="Fax" formControlName="faxNumber" tabindex="3">
              <p class="text-danger form-control-static" *ngIf="form.get('faxNumber').errors && form.get('faxNumber').touched">Fax
                is required</p>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <label>Email <span class="text-danger">*</span>:</label>
              <input class="form-control" placeholder="Email" id="email" formControlName="emailAddress"
                      tabindex="4" >
              <p class="text-danger form-control-static" *ngIf="form.get('emailAddress').errors && form.get('emailAddress').touched">Email is required</p>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <label>Extension <span class="text-danger">*</span>:</label>
              <input class="form-control" placeholder="Extension" formControlName="extension" id="extension"
                     tabindex="5" inputs-mask>
              <p class="text-danger form-control-static" *ngIf="form.get('extension').errors && form.get('extension').touched">Injury
                Date is required</p>
            </div>
          </div>


        </form>


      </div>
      <div class="modal-footer">
        <button class="color-palette btn bg-darkblue btn-flat btn-small"
                type="button" data-dismiss="modal">
          <i class="fa fa-eraser"></i> Cancel
        </button>
        <button style="margin-left: 4px;" class="color-palette btn bg-darkRed btn-flat btn-small"
(click)="addadjustor()" [disabled]="!form.valid"
                type="button">
          <i aria-hidden="true" class="fa fa-plus"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>
