<form (keyup.enter)="search()" autocapitalize="none" autocomplete="off" autocomplete="off" role="form">
  <section class="row" style="margin-top: 0.5%">
    <section class="col-md-3">
      <section class="form-group">
        <label>{{rs.typeSelected}} Name</label>
        <section class="">
          <section class="">
            <i class=""></i>
          </section>
          <input (focus)="submitted=false" [(ngModel)]="entitySearchName" class="form-control pull-right" id="entitySearchName"
            name="entitySearchName" [placeholder]="'Type '+rs.typeSelected+' Name...'" type="text">
        </section>
      </section>
    </section>
    <section class="col-md-2">
      <section class="form-group">
        <label>Reference</label>
        <mat-form-field>
          <mat-select (selectionChange)="changeSelection($event)" [(value)]="rs.typeSelected">
            <mat-option *ngFor="let type of rs.types" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
    </section>
    <section class="col-sm-3 col-md-2 flex">
      <section class="form-group">
        <label>&nbsp;</label>
        <br />
        <span>
          <button (click)="search()" class="color-palette btn bg-DarkGreen btn-flat btn-small" type="button">
            <i class="fa fa-search"></i> Search</button> &nbsp;
          <button (click)="clearFilters()" class="color-palette btn bg-darkblue btn-flat btn-small" type="button">
            <i class="fa fa-eraser"></i> Clear Filters</button>
          <button (click)="openModal(false)" class="color-palette btn bg-darkRed btn-flat btn-small" style="margin-left: 4px;"
            type="button">
            <i aria-hidden="true" class="fa fa-plus"></i> Add {{rs.typeSelected}}</button>
        </span>
      </section>
    </section>
  </section>
</form>
<section class="modal fade" id="modalAddAdjustor" tabindex="-1" role="dialog" aria-labelledby="modalAddAdjustorTitle"
  aria-hidden="true">
  <section class="modal-dialog modal-dialog-centered" role="document">
    <section class="modal-content">
      <section class="modal-body">
        <!-- Adjustors -->
        <form role="form" *ngIf="rs.typeSelected==rs.types[0]" [formGroup]="rs.adjustorForm" autocomplete="off"
          autocapitalize="none">
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Adjustor Name <span class="text-danger">*</span>: </label>
              <input class="form-control" placeholder="Adjustor Name" formControlName="adjustorName" tabindex="1">
              <p class="text-danger form-control-static" *ngIf="rs.adjustorForm.get('adjustorName').errors && rs.adjustorForm.get('adjustorName').touched">Adjustor
                Name
                is required</p>
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Address 1:</label>
              <input class="form-control" placeholder="Address 1" id="address1" formControlName="address1" tabindex="2">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Address 2:</label>
              <input class="form-control" placeholder="Address 2" id="address2" formControlName="address2" tabindex="3">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>City:</label>
              <input class="form-control" placeholder="City" id="city" formControlName="city" tabindex="4">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>State Name:</label>
              <!-- Using this:
                    https://material.angular.io/components/autocomplete/overview#automatically-highlighting-the-first-option
                  -->
              <mat-form-field>
                <input type="text" formControlName="state" placeholder="" aria-label="State:" matInput [formControl]="adjustorStateControl"
                  tabindex="5" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let state of adjustorFilteredStates | async" [value]="state.stateName"
                    (onSelectionChange)="onAdjustorStateSelection(state.stateId)">
                    {{state.stateName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </section>
          </section>
          <!-- End State Drop Down -->
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Zip:</label>
              <input class="form-control" placeholder="Zip" id="postalCode" formControlName="postalCode" tabindex="6">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Phone Number:</label>
              <input class="form-control" placeholder="Phone Number" id="adjustorPhoneNumber" formControlName="phoneNumber"
                tabindex="7" data-inputmask='"mask": "(999) 999-9999"' data-mask>
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Fax:</label>
              <input class="form-control" placeholder="Fax" formControlName="faxNumber" tabindex="8" id="adjustorFaxNumber"
                data-inputmask='"mask": "(999) 999-9999"' data-mask>
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Email:</label>
              <input class="form-control"  type="email" placeholder="Email" id="email" formControlName="emailAddress" tabindex="9">
              <p class="text-danger form-control-static" *ngIf="rs.adjustorForm.get('emailAddress').errors && rs.adjustorForm.get('emailAddress').touched">
                *Email must be valid</p>
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Extension:</label>
              <input class="form-control" placeholder="Extension" formControlName="extension" id="extension" tabindex="10"
                inputs-mask>
            </section>
          </section>
        </form>
        <!-- End Adjustors -->
        <!-- Attorneys -->
        <form role="form" *ngIf="rs.typeSelected==rs.types[1]" [formGroup]="rs.attorneyForm" autocomplete="off"
          autocapitalize="none">
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Attorney Name <span class="text-danger">*</span>: </label>
              <input class="form-control" placeholder="Attorney Name" formControlName="attorneyName" tabindex="1">
              <p class="text-danger form-control-static" *ngIf="rs.attorneyForm.get('attorneyName').errors && rs.attorneyForm.get('attorneyName').touched">Attorney
                Name
                is required</p>
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Adress 1:</label>
              <input class="form-control" placeholder="Address 1" formControlName="address1" id="address1" tabindex="2">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Address 2:</label>
              <input class="form-control" placeholder="Address 2" formControlName="address2" id="address2" tabindex="3">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>City:</label>
              <input class="form-control" placeholder="City" formControlName="city" id="city" tabindex="4">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>State Name:</label>
              <!-- Using this:
                    https://material.angular.io/components/autocomplete/overview#automatically-highlighting-the-first-option
                  -->
              <mat-form-field>
                <input type="text" formControlName="state" placeholder="" aria-label="State:" matInput [formControl]="attorneyStateControl"
                  tabindex="5" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let state of attorneyFilteredStates | async" [value]="state.stateName"
                    (onSelectionChange)="onAttorneyStateSelection(state.stateId)">
                    {{state.stateName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </section>
          </section>
          <!-- End State Drop Down -->
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Zip:</label>
              <input class="form-control" placeholder="Zip" formControlName="postalCode" id="postalCode" tabindex="6">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Phone Number:</label>
              <input class="form-control" placeholder="Phone Number" id="attorneyPhoneNumber" data-inputmask='"mask": "(999) 999-9999"'
                data-mask formControlName="phoneNumber" tabindex="7">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Fax:</label>
              <input class="form-control" placeholder="Fax Number" formControlName="faxNumber" tabindex="8" id="attorneyFaxNumber"
                data-inputmask='"mask": "(999) 999-9999"' data-mask>
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Email:</label>
              <input class="form-control"  type="email" placeholder="Email" id="email" formControlName="emailAddress" tabindex="9">
              <p class="text-danger form-control-static" *ngIf="rs.attorneyForm.get('emailAddress').errors && rs.attorneyForm.get('emailAddress').touched">
                *Email must be valid</p>
            </section>
          </section>
        </form>
        <!-- End Attorneys -->
        <!-- Payors -->
        <form role="form" *ngIf="rs.typeSelected==rs.types[2]" [formGroup]="rs.payorForm" autocomplete="off"
          autocapitalize="none">
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Group Name <span class="text-danger">*</span>: </label>
              <input class="form-control" placeholder="Group Name" formControlName="groupName" tabindex="1">
              <p class="text-danger form-control-static" *ngIf="rs.payorForm.get('groupName').errors && rs.payorForm.get('groupName').touched">Group
                Name is required</p>
            </section>
          </section>
          <section>
            <label>Bill To Name <span class="text-danger">*</span>: </label>
            <input class="form-control" placeholder="Bill to Name" formControlName="billToName" tabindex="2">
            <p class="text-danger form-control-static" *ngIf="rs.payorForm.get('billToName').errors && rs.payorForm.get('billToName').touched">Bill
              to Name is required</p>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Address 1:</label>
              <input class="form-control" placeholder="Address 1" id="address1" formControlName="billToAddress1"
                tabindex="3">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Address 2:</label>
              <input class="form-control" placeholder="Address 2" id="address2" formControlName="billToAddress2"
                tabindex="4">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>City:</label>
              <input class="form-control" placeholder="City" id="city" formControlName="billToCity" tabindex="5">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>State Name:</label>
              <!-- Using this:
                    https://material.angular.io/components/autocomplete/overview#automatically-highlighting-the-first-option
                  -->
              <mat-form-field>
                <input type="text" formControlName="billToStateName" placeholder="" aria-label="State:" matInput [formControl]="payorStateControl" tabindex="6" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
                  <mat-option *ngFor="let state of payorFilteredStates | async" [value]="state.stateName" (onSelectionChange)="onPayorStateSelection(state.stateId)">
                    {{state.stateName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </section>
          </section>
          <!-- End State Drop Down -->
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Zip:</label>
              <input class="form-control" placeholder="Zip" id="billToPostalCode" formControlName="billToPostalCode"
                tabindex="7">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Phone Number:</label>
              <input class="form-control" placeholder="Phone Number" id="payorPhoneNumber" formControlName="phoneNumber"
                tabindex="8" data-inputmask='"mask": "(999) 999-9999"' data-mask>
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Alternate Phone Number:</label>
              <input class="form-control" placeholder="Alt. Phone Number" id="payorAlternatePhoneNumber" formControlName="alternatePhoneNumber"
                tabindex="9" data-inputmask='"mask": "(999) 999-9999"' data-mask>
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Fax:</label>
              <input class="form-control" placeholder="Fax" formControlName="faxNumber" tabindex="10" id="payorFaxNumber"
                data-inputmask='"mask": "(999) 999-9999"' data-mask>
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Notes:</label>
              <input class="form-control" placeholder="Notes" formControlName="notes" tabindex="11" id="notes">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Contact:</label>
              <input class="form-control" placeholder="Contact" formControlName="contact" tabindex="12" id="contact">
            </section>
          </section>
          <section class="row">
            <section class="form-group col-sm-12">
              <label>Letter Name <span class="text-danger">*</span>: </label>
              <input class="form-control" placeholder="Letter Name" formControlName="letterName" tabindex="13">
              <p class="text-danger form-control-static" *ngIf="rs.payorForm.get('letterName').errors && rs.payorForm.get('letterName').touched">Letter Name is required</p>
            </section>
          </section>
        </form>
      </section>
      <section class="modal-footer">
        <button (click)="cancel()" class="color-palette btn bg-darkblue btn-flat btn-small" type="button" data-dismiss="modal">
          <i class="fa fa-eraser"></i> Cancel
        </button>
        <button *ngIf="rs.typeSelected==rs.types[0]" style="margin-left: 4px;" class="color-palette btn bg-darkRed btn-flat btn-small"
          (click)="openAdjustorModal()" [disabled]="!rs.adjustorForm.valid" type="button">
          <i aria-hidden="true" class="fa fa-plus"></i> Save
        </button>
        <button *ngIf="rs.typeSelected==rs.types[1]" style="margin-left: 4px;" class="color-palette btn bg-darkRed btn-flat btn-small"
          (click)="openAttorneyModal()" [disabled]="!rs.attorneyForm.valid" type="button">
          <i aria-hidden="true" class="fa fa-plus"></i> Save
        </button>
        <button *ngIf="rs.typeSelected==rs.types[2]" style="margin-left: 4px;" class="color-palette btn bg-darkRed btn-flat btn-small"
          (click)="openPayorModal()" [disabled]="!rs.payorForm.valid" type="button">
          <i aria-hidden="true" class="fa fa-plus"></i> Save
        </button>
      </section>
    </section>
  </section>
</section>
<section>
  <div class="overlay" *ngIf="rs.loading">
    <img src="assets/1.gif">
  </div>
</section>
