.bg-DarkGreen {
  background: #084205;
  color: #fff;
}
.bg-darkRed {
  background: #992727;
  color: #fff;
}
.bg-darkblue {
  background-color: #414772;
  color: #fff;
}
.no-padding{
  padding-left:0px;
  padding-right:0px;
}
/* input[type=radio]{
    position: absolute;
    visibility: hidden;
}
label.check-label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.1em;
    padding: 0px 5px 5px 25px;
    margin: 9px auto;
    height: 10px;
    z-index: 9;
    cursor: pointer;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear
  }
.check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 35px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  } */
.form-control {
  height: 37px !important;
}
.form-group.green:hover .check,.form-group.green input[type=radio]:checked ~ .check {
  border: 5px solid rgb(54, 102, 75);
}
.form-group.green input[type=radio]:checked ~ .check::before {
  border: 5px solid rgb(54, 102, 75);
}
.form-group.green:hover label.check-label, .form-group.green input[type=radio]:checked ~ label{
  color: rgb(54, 102, 75);
  font-weight: 700;
}

.form-group.red:hover .check,.form-group.red input[type=radio]:checked ~ .check {
  border: 5px solid #832121;
}
.form-group.red input[type=radio]:checked ~ .check::before {
  border: 5px solid #832121;
}
.form-group.red:hover label.check-label, .form-group.red input[type=radio]:checked ~ label{
  color: #832121;
  font-weight: 700;
}
.no-padding{
  padding:0px;
  width:5.5% !important;
}
.no-padding.red{
  width:4% !important;
}
form .col-md-2:not(.flex){
  width:10.99%;
  padding-right:2.5px;
  padding-left:2.5px;
}
form .col-md-2.flex{
  width:165px;
  padding-right:2px;
  padding-left:2px;
}
form .col-md-3{
  width:21.5%;
  padding-right:2px;
  padding-left:2px;
}
form .col-md-2.flex .form-group span{
  display:flex;
  flex-direction: row;
}
form .col-md-1:not(.no-padding){
  padding-right:5px;
  padding-left:5px;
}
.left2p5 {
  margin-left: 2.5%;
}

.commonCheckBox label:not(.archived){
  font-weight: normal;
  margin-left:20px;
  margin-top: 5px;
}
.modal-dialog.modal-dialog-centered {
  min-height: calc(100% - (1.75rem * 2));
  margin: 1.75rem auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
mat-form-field{
  width: 98%;
  top: -5px;
}

.md-select-menu-container {
  z-index: 9999;
}

.mat-select-menu-container,
.mat-open-menu-container {
  z-index: 999999 !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}
.ng-trigger.ng-trigger-transformPanel.ng-tns-c8-3.mat-select-panel.mat-primary.mat-select-panel-done-animating {
  z-index: 999999999 !important;
}
.cdk-global-overlay-wrapper {
  z-index: 1000;
}

.cdk-overlay-container {
  z-index: 1000000000 !important;
}
