<div class="wrapper" style="height: auto;">
        <!--top header -->
        <app-header></app-header>
        <app-sidebar *ngIf="isLoggedIn"></app-sidebar>
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
      <!-- /.content-wrapper -->
    </div>
    <footer class="main-footer">
        <div class="row">
            <div class="col-md-12">
                    <p class="text-muted">
                        <span>
                            <small>Build {{buildSha}}, {{buildDate}}</small>
                        </span>
                </p>
            </div>
        </div>
    </footer>