<div class="wrapper" style="height: 100%;">
<!-- <div class="wrapper" style="height: 100%;"> -->
    <!--top header -->
    <app-header></app-header>
    <app-sidebar *ngIf="isLoggedIn"></app-sidebar>
    <div class="content-wrapper" [class.no-overflow]="currentURL=='/main/payments' || currentURL=='/main/diary'  || currentURL=='/main/reports/account-receivable' || currentURL=='/main/reports/list' || currentURL=='/main/unpaid-scripts' || currentURL=='/main/unindexed-images' || currentURL.indexOf('/main/indexed-image/')>-1  || currentURL.indexOf('/main/indexing')>-1 || currentURL =='/main/firewall' || currentURL.indexOf('/main/reports/skipped-payment')>-1">
        <div #toastContainer> </div>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
    <!-- /.content-wrapper -->
    <div id='taskbar'></div>
</div>
