 .content-wrapper {
     min-height: 90vh;
     padding-bottom: 40px;
 }
 .content-wrapper.no-overflow {
    overflow: hidden;
    height: calc(100vh - 50px) !important;
    height: -o-calc(100vh - 50px) !important;
    height: -webkit-calc(100vh - 50px) !important;
    height: -moz-calc(100vh - 50px) !important;
 }
