<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- This is the flag that decides whether or not to log all of the app's activity to the database. -->
    <add key="ApplicationIsInDebugMode" value="true" />
    <!--************************************************************************************************-->
    <add key="LakerFilePath" value="F:\Development\Clients\BridgeportClaims\LakerExtractFiles" />
    <add key="EnvisionFilePath" value="F:\Development\Clients\BridgeportClaims\EnvisionExtractFiles" />
    <add key="FileProcessorTopNumber" value="10" />
    <add key="FileUploadApiHostName" value="https://bridgeportclaims.azurewebsites.net" />
    <add key="FileUploadApiUrl" value="/api/fileupload/upload" />
    <add key="AuthenticationApiUrl" value="/oauth/token" />
    <add key="AuthenticationUserName" value="jordangurney@gmail.com" />
    <add key="AuthenticationPassword" value="Binah9991010" />
    <add key="LakerFileProcessingApiUrl" value="/api/laker/process" />
    <add key="EnvisionFileProcessingApiUrl" value="/api/envision/process" />
    <add key="MonthFolderFormat" value="MM-yy" />
    <add key="SftpPort" value=""/>
    <add key="ProcessSftp" value="true" />
    <!-- SFTP Laker File Credentials -->
    <add key="LakerSftpHost" value="brifiles.lakersoftware.com" />
    <add key="LakerSftpUserName" value="bridgeport" />
    <add key="LakerSftpRemoteSitePath" value="/dat/sftp/home/bridgeport/Processed" />
    <!-- SFTP Envision File Credentials -->
    <add key="EnvisionSftpHost" value="ftp1.rxoptions.net" />
    <add key="SftpEnvisionUserName" value="bridgeport_claims" />
    <add key="EnvisionSftpRemoteSitePath" value="/Daily Paid Claims File" />
    <add key="EnvisionFileProcessingCount" value="10"/>
    <add key="EmptyEnvisionFileByteSize" value="748"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>