<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BridgeportClaimsConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVzCyZHas0kugDPKn63LpEAAAAAACAAAAAAAQZgAAAAEAACAAAADWeDCe9FFYn6XCU8JmsJSkEPhp2/mURVmWzym+OH39mAAAAAAOgAAAAAIAACAAAADI1cG9nnlx/o0sH051Tk/Q8atUqcWgXRxu5hOpHPMZPkABAADO6i/J2uFGKgeqCA5MFSurL3P8Q60WSzR5zaAqrfkIinRrsZ7O8L9BCuR0OzVkMJJmesMnDZEc570UX4DHWG7BQ8Yhs03cazP/RkheuP+U2NH+lj1yViRjeBHe80SN7QM9zum4Mytpf6FV5LOYOnMlgcln5D75t3XGu+XHQdqC6FuXyZwGBwW7sbqaCztiH7ZvNxKT7c+cfT6eeO35KRnKTcfCHWhhYl0AgzjyUCWu0Fkcta3L7D4JUv3TZ8N1erGBsiTU+jB6kJ4ePCFBNqRM3xPRfttfqvyXdY+4OqSzoCrG0eagjk5WojbyGbvYXU05ADp5AAY5bgm3rrUR8veV7dD6dOxZ0A8ik/taj2QbF1rhPD9ibv90N3VEr05Uj0bCRQqF84pe72hnZBd3aD0NOqMIlpjfpNoxpBLoQ8x1qUAAAABJ562QtFXklIW0va0Z/kIO7gnXeTehfqLGsJWFvKSsFeaENoblo/BRkVdlvjBaVeSohW6uHKP0g3XEoXLkGaEX"/>
  </connectionStrings>
  <appSettings>
    <add key="ApplicationIsInDebugMode" value="true" />
    <add key="LakerFilePath" value="D:\Jordan\Development\Clients\BridgeportClaims\LakerExtractFiles"/>
    <add key="LakerFileTopNumber" value="10"/>
    <add key="FileUploadApiHostName" value="https://bridgeportclaims.com"/>
    <add key="FileUploadApiUrl" value="/api/fileupload/upload"/>
    <add key="AuthenticationApiUrl" value="/oauth/token"/>
    <add key="AuthenticationUserName" value="jordangurney@gmail.com"/>
    <add key="AuthenticationPassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVzCyZHas0kugDPKn63LpEAAAAAACAAAAAAAQZgAAAAEAACAAAABHn9XQCq9PkBjmcxOkAbXvSWP7ZZj7b2FA/gnwVPa2rgAAAAAOgAAAAAIAACAAAABNJ0iQvQZR87rOfoum7aEJ54IZn+X7ai5aQHawp339nCAAAAAZXVR80j/xoioVBjG9x/5VT9pzNGP/bBeGy2lNKlpZK0AAAAAtioIoqTE+M/7vrMnt7suOFZu1ra9Qu8ZLxkMo8p5bNV/TY940jHQ60PLYs+bhbF/5dIqFChZ1vf3VCt5iFPYy"/>
    <add key="LakerFileProcessingApiUrl" value="/api/laker/process"/>
    <add key="MonthFolderFormat" value="MM-yy"/>
    <add key="ProcessSftp" value="false"/>
    <!-- SFTP Laker File Credentials -->
    <add key="SftpHost" value="brifiles.lakersoftware.com"/>
    <add key="SftpUserName" value="bridgeport"/>
    <add key="SftpRemoteSitePath" value="/dat/sftp/home/bridgeport/Processed"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>