<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BridgeportClaimsConnectionString" providerName="System.Data.SqlClient" connectionString="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVzCyZHas0kugDPKn63LpEAAAAAACAAAAAAAQZgAAAAEAACAAAADWeDCe9FFYn6XCU8JmsJSkEPhp2/mURVmWzym+OH39mAAAAAAOgAAAAAIAACAAAADI1cG9nnlx/o0sH051Tk/Q8atUqcWgXRxu5hOpHPMZPkABAADO6i/J2uFGKgeqCA5MFSurL3P8Q60WSzR5zaAqrfkIinRrsZ7O8L9BCuR0OzVkMJJmesMnDZEc570UX4DHWG7BQ8Yhs03cazP/RkheuP+U2NH+lj1yViRjeBHe80SN7QM9zum4Mytpf6FV5LOYOnMlgcln5D75t3XGu+XHQdqC6FuXyZwGBwW7sbqaCztiH7ZvNxKT7c+cfT6eeO35KRnKTcfCHWhhYl0AgzjyUCWu0Fkcta3L7D4JUv3TZ8N1erGBsiTU+jB6kJ4ePCFBNqRM3xPRfttfqvyXdY+4OqSzoCrG0eagjk5WojbyGbvYXU05ADp5AAY5bgm3rrUR8veV7dD6dOxZ0A8ik/taj2QbF1rhPD9ibv90N3VEr05Uj0bCRQqF84pe72hnZBd3aD0NOqMIlpjfpNoxpBLoQ8x1qUAAAABJ562QtFXklIW0va0Z/kIO7gnXeTehfqLGsJWFvKSsFeaENoblo/BRkVdlvjBaVeSohW6uHKP0g3XEoXLkGaEX" />
  </connectionStrings>
  <appSettings>
    <!-- This is the flag that decides whether or not to log all of the app's activity to the database. -->
    <add key="ApplicationIsInDebugMode" value="true" />
    <!--************************************************************************************************-->
    <add key="LakerFilePath" value="F:\Development\Clients\BridgeportClaims\LakerExtractFiles" />
    <add key="FileProcessorTopNumber" value="10" />
    <add key="FileUploadApiHostName" value="https://bridgeportclaims.com" />
    <add key="FileUploadApiUrl" value="/api/fileupload/upload" />
    <add key="AuthenticationApiUrl" value="/oauth/token" />
    <add key="AuthenticationUserName" value="jordangurney@gmail.com" />
    <add key="AuthenticationPassword" value="Binah9991010" />
    <add key="LakerFileProcessingApiUrl" value="/api/laker/process" />
    <add key="MonthFolderFormat" value="MM-yy" />
    <add key="ProcessSftp" value="true" />
    <!-- SFTP Laker File Credentials -->
    <add key="LakerSftpHostKey" value="brifiles.lakersoftware.com" />
    <add key="LakerSftpUserName" value="bridgeport" />
    <add key="LakerSftpRemoteSitePath" value="/dat/sftp/home/bridgeport/Processed" />
    <!-- SFTP Envision File Credentials -->
    <add key="EnvisionSftpHostKey" value="ftp1.rxoptions.net" />
    <add key="SftpEnvisionUserName" value="bridgeport_claims" />
    <add key="EnvisionSftpRemoteSitePath" value="/Daily Paid Claims Files" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>