<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <!-- Local -->
    <!--<add name="BridgeportClaimsConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Server=.\DB1;Database=BridgeportClaims;Integrated Security=True;MultipleActiveResultSets=True;" />-->
    <add name="BridgeportClaimsConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVzCyZHas0kugDPKn63LpEAAAAAACAAAAAAAQZgAAAAEAACAAAACoNXnNsyIz5PB1n3FCn6iITLIfoAwb8R+u+ZghjSWRTwAAAAAOgAAAAAIAACAAAAApvAPhhjNMqAzfSIrMckdiaequDy4H7OPIRx3Tjb60G1ABAAAIocVeGBH6SOXGl0I9+1E43HjPUx52XQVtVfiyG0it1fzbXn1GWXFMnsRcpyJLDQh/CQN3kpFEfDdP0fgBEuqGHleIGSS7xU5uVPDWUHdlY/zeQj29Mjamy4xX+q5MO2XMUs0IbzcgyymN7OWv7cpVoymW3OrPQgTfaiAbiIsAreT8/8Iz2mdlszhu3iAYjRzRJNL0j7Wr3pN2zbjHD1NqijGpU7SYTgB/UGz/8JWQwUt+eL+dVgA6fpgcJKgMnOcwdhsu1POkZDMSjwRoCgSORx7MYY1xsHNY6Jl6g9smTljxk9UySmRr/P6pg85HI2b3dr/dlMtSSbaEq6OIbeiFZB0BXclI3UwA815qWxaoOKSfHqbvp41tTSITTx8wf1/VqzEGZHh5Ub++8eL4+JbDPRuAkL3qkR+fOyMv47CLAk2KtFsV9Yn1/66LnlXyESdAAAAAtFi+LI4zm3ESC8qSHFX/V4E80a8o+jiwW+ZH3t5J/TnRte/YuNRd0L0663Q1hvlthUTV8ZTSLpwo9K7104mTRQ=="/>
  </connectionStrings>
  <appSettings>
    <add key="ApplicationIsInDebugMode" value="true" />
    <add key="LakerFilePath" value="D:\Jordan\Development\Clients\BridgeportClaims\LakerExtractFiles"/>
    <add key="LakerFileTopNumber" value="10"/>
    <add key="FileUploadApiHostName" value="https://bridgeportclaims-bridgeportclaimsstaging.azurewebsites.net"/>
    <!--<add key="FileUploadApiHostName" value="https://localhost:44398"/>-->
    <add key="FileUploadApiUrl" value="/api/fileupload/upload"/>
    <add key="AuthenticationApiUrl" value="/oauth/token"/>
    <add key="AuthenticationUserName" value="jordangurney@gmail.com"/>
    <add key="AuthenticationPassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVzCyZHas0kugDPKn63LpEAAAAAACAAAAAAAQZgAAAAEAACAAAABHn9XQCq9PkBjmcxOkAbXvSWP7ZZj7b2FA/gnwVPa2rgAAAAAOgAAAAAIAACAAAABNJ0iQvQZR87rOfoum7aEJ54IZn+X7ai5aQHawp339nCAAAAAZXVR80j/xoioVBjG9x/5VT9pzNGP/bBeGy2lNKlpZK0AAAAAtioIoqTE+M/7vrMnt7suOFZu1ra9Qu8ZLxkMo8p5bNV/TY940jHQ60PLYs+bhbF/5dIqFChZ1vf3VCt5iFPYy"/>
    <add key="LakerFileProcessingApiUrl" value="/api/laker/process"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="db" xsi:type="Database" connectionStringName="BridgeportClaimsConnectionString" commandType="StoredProcedure" commandText="[dbo].[uspNLogInsert]">
        <parameter name="@machineName" layout="${machinename}" />
        <parameter name="@siteName" layout="${iis-site-name}" />
        <!--<parameter name="@logged" layout="${date:universalTime=true:format=M/d/yyyy HH\:mm\:ss.fff}" />-->
        <parameter name="@logged" layout="${date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@username" layout="${aspnet-user-identity}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@properties" layout="${all-event-properties:separator=|}" />
        <parameter name="@serverName" layout="${aspnet-request:serverVariable=SERVER_NAME}" />
        <parameter name="@port" layout="${aspnet-request:serverVariable=SERVER_PORT}" />
        <parameter name="@url" layout="${aspnet-request:serverVariable=HTTP_URL}" />
        <parameter name="@https" layout="${when:inner=1:when='${aspnet-request:serverVariable=HTTPS}' == 'on'}${when:inner=0:when='${aspnet-request:serverVariable=HTTPS}' != 'on'}" />
        <parameter name="@serverAddress" layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
        <parameter name="@remoteAddress" layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />
        <parameter name="@callSite" layout="${callsite}" />
        <parameter name="@exception" layout="${exception:tostring}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" maxLevel="Fatal" writeTo="db" enabled="true" final="true" />
    </rules>
  </nlog>
</configuration>