/* For use in src/lib/core/theming/_palette.scss */
$md-primary-text: rgba(#c78500, 1);
$md-spot-primary: (
    50 : #f8f0e0,
    100 : #eedab3,
    200 : #e3c280,
    300 : #d8aa4d,
    400 : #cf9726,
    500 : #c78500,
    600 : #c17d00,
    700 : #ba7200,
    800 : #b36800,
    900 : #a65500,
    A100 : #ffe5d0,
    A200 : #ffc99d,
    A400 : #ffac6a,
    A700 : #ff9e51,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
