@model BridgeportClaims.Web.Email.Models.EmailViewModel

<!DOCTYPE html>
<table style="width:100%; font-family: Droid Sans, Helvetica, Arial, Sans-Serif; border-width:0px;">
    <thead style="border-width:0px;">
        <tr>
            <th colspan="2" style="text-align:left; vertical-align:top; padding:8px 10px 10px; font-family: Droid Sans, Helvetica, Arial, Sans-Serif; border-style:solid; border-width:1px; border-bottom-color:#cccccc; border-top-color:#eeeeee; border-left-color:#eeeeee; border-right-color:#eeeeee; background-color:#eeeeee;">
                <p style="margin:0; font-size:38px; color:#555555;">Bridgeport Claims</p>
                <p style="margin:0; color:#666666; font-weight:normal; font-size:17px;">Envision File Import Status:</p>
            </th>
        </tr>
    </thead>
</table>
<table style="width:450px; font-family: Droid Sans, Helvetica, Arial, Sans-Serif;">
    <tbody>
        <tr>
            <td style="padding:10px 14px 6px;">
                <p style="font-size:22px; font-weight:bold; font-family:Droid Serif, Verdana, Geneva, Tahoma, sans-serif; margin:0;">@Model.FullName</p>
            </td>            
        </tr>
        <tr>
            <td style="padding:14px; font-size:14px; line-height: 15px">
                <p style="padding:-110px; font-size:14px; line-height: 15px">                
        </tr>
    </tbody>
</table>
