<div class="row claim-info">
  <div class="col-sm-12 claim-col expanded-custom" style="overflow:hidden; padding-right: 0px;  padding-left: 0px;">
    <div class="table-responsive top-header">
      <!-- Adjustors -->
      <ng-container *ngIf="rs.typeSelected==rs.types[0]">
        <table class="table no-margin table-striped adjustor" id="adjustorTable">
          <thead class="overflowable" id="fixed-thead">
          <!--<tr #referencesTable='table-sort' (tableSort)="rs.onSortColumn($event)">-->
          <!--<th>-->
          <!--<span [sort-table]="referencesTable" columnSort="AdjustorName">-->
          <!--Adjustor Name-->
          <!--</span>-->
          <!--</th>-->
          <!--<th>-->
          <!--<span [sort-table]="referencesTable" columnSort="Address1">-->
          <!--Address 1-->
          <!--</span>-->
          <!--</th>-->
          <!--<th>-->
          <!--<span [sort-table]="referencesTable" columnSort="Address2">-->
          <!--Address 2-->
          <!--</span>-->
          <!--</th>-->
          <!--<th>-->
          <!--<span [sort-table]="referencesTable" columnSort="City">-->
          <!--City-->
          <!--</span>-->
          <!--</th>-->
          <!--<th>-->
          <!--<span [sort-table]="referencesTable" columnSort="StateName">-->
          <!--State-->
          <!--</span>-->
          <!--</th>-->
          <!--<th>-->
          <!--<span [sort-table]="referencesTable" columnSort="PostalCode">-->
          <!--Zip-->
          <!--</span>-->
          <!--</th>-->
          <!--<th>-->
          <!--<span [sort-table]="referencesTable" columnSort="PhoneNumber">-->
          <!--Phone-->
          <!--</span>-->
          <!--</th>-->
          <!--<th>-->
          <!--<span [sort-table]="referencesTable" columnSort="FaxNumber">-->
          <!--Fax-->
          <!--</span>-->
          <!--</th>-->
          <!--<th>-->
          <!--<span [sort-table]="referencesTable" columnSort="EmailAddress">-->
          <!--Email-->
          <!--</span>-->
          <!--</th>-->
          <!--<th>-->
          <!--<span [sort-table]="referencesTable" columnSort="Extension">-->
          <!--Extension-->
          <!--</span>-->
          <!--</th>-->
          <!--<th>-->
          <!--<span [sort-table]="referencesTable" columnSort="ModifiedBy">-->
          <!--Modified By-->
          <!--</span>-->
          <!--</th>-->
          <!--<th></th>-->
          <!--&lt;!&ndash; Edit Button Empty Header &ndash;&gt;-->
          <!--</tr>-->
          <div #referencesTable='table-sort' (tableSort)="rs.onSortColumn($event)" class="row row-with-no-margin">
            <div class="col-lg-1" style="width: 10.333%;">
              <span [sort-table]="referencesTable" columnSort="AdjustorName">
              Adjustor Name
              </span>
            </div>
            <div class="col-lg-1" style="width: 16.333%;">

            <span [sort-table]="referencesTable" columnSort="Address1">
            Address 1
            </span>
            </div>
            <div class="col-lg-1" style="width: 12.333%;">

            <span [sort-table]="referencesTable" columnSort="Address2">
            Address 2
            </span>
            </div>
            <div class="col-lg-1" style="width: 6.333%;">

            <span [sort-table]="referencesTable" columnSort="City">
            City
            </span>
            </div>
            <div class="col-lg-1" style="width: 6.333%;">

            <span [sort-table]="referencesTable" columnSort="StateName">
            State
            </span>
            </div>
            <div class="col-lg-1" style="width: 5.333%;">

            <span [sort-table]="referencesTable" columnSort="PostalCode">
            Zip
            </span>
            </div>
            <div class="col-lg-1" style="width: 6.333%;">

            <span [sort-table]="referencesTable" columnSort="PhoneNumber">
            Phone
            </span>
            </div>
            <div class="col-lg-1" style="width: 6.333%;">

            <span [sort-table]="referencesTable" columnSort="FaxNumber">
            Fax
            </span>
            </div>
            <div class="col-lg-1" style="width: 11.333%;">

            <span [sort-table]="referencesTable" columnSort="EmailAddress">
            Email
            </span>
            </div>
            <div class="col-lg-1" style="width: 7.333%;">

            <span [sort-table]="referencesTable" columnSort="Extension">
            Extension
            </span>
            </div>
            <div class="col-lg-1">

            <span [sort-table]="referencesTable" columnSort="ModifiedBy">
            Modified By
            </span>
            </div>

          </div>
          </thead>
        </table>
      </ng-container>
      <!-- End Adjustors -->
      <!-- Attorneys -->
      <ng-container *ngIf="rs.typeSelected==rs.types[1]">
        <table class="table no-margin table-striped" id="attorneyTable">
          <thead class="overflowable" id="fixed-thead">
          <div #referencesTable='table-sort' (tableSort)="rs.onSortColumn($event)" class="row row-with-no-margin">
            <div class="col-lg-1 width-12">
                <span [sort-table]="referencesTable" columnSort="AttorneyName">
            Attorney Name
            </span>
            </div>
            <div class="col-lg-1 width-14">
                <span [sort-table]="referencesTable" columnSort="Address1">
                  Address 1
                </span>
            </div>
            <div class="col-lg-1 width-12">
                <span [sort-table]="referencesTable" columnSort="Address2">
                  Address 2
                </span>
            </div>
            <div class="col-lg-1 width-6">

                <span [sort-table]="referencesTable" columnSort="City">
                  City
                </span>
            </div>
            <div class="col-lg-1 ">

                <span [sort-table]="referencesTable" columnSort="StateName">
                  State
                </span>
            </div>
            <div class="col-lg-1 width-6">

                <span [sort-table]="referencesTable" columnSort="PostalCode">
                  Zip
                </span>
            </div>
            <div class="col-lg-1 ">

                <span [sort-table]="referencesTable" columnSort="PhoneNumber">
                  Phone
                </span>
            </div>
            <div class="col-lg-1 ">

                <span [sort-table]="referencesTable" columnSort="FaxNumber">
                  Fax
                </span>
            </div>
            <div class="col-lg-1 width-10">

                <span [sort-table]="referencesTable" columnSort="EmailAddress">
                  Email
                </span>
            </div>
            <div class="col-lg-1">

                <span [sort-table]="referencesTable" columnSort="ModifiedBy">
                  Modified By
                </span>
            </div>

          </div>
          </thead>
        </table>
      </ng-container>
      <!-- End Attorneys -->
      <!-- Payors -->
      <ng-container *ngIf="rs.typeSelected==rs.types[2]">
        <table class="table no-margin table-striped" id="payorTable">
          <thead class="overflowable" id="fixed-thead">
          <tr #referencesTable='table-sort' (tableSort)="rs.onSortColumn($event)">
            <th>
                <span [sort-table]="referencesTable" columnSort="GroupName">
                  Group Name
                </span>
            </th>
            <th>
                <span [sort-table]="referencesTable" columnSort="BillToName">
                  Bill to
                </span>
            </th>
            <th>
                <span [sort-table]="referencesTable" columnSort="BillToAddress1">
                  Address 1
                </span>
            </th>
            <th>
                <span [sort-table]="referencesTable" columnSort="BillToAddress2">
                  Address 2
                </span>
            </th>
            <th>
                <span [sort-table]="referencesTable" columnSort="BillToCity">
                  City
                </span>
            </th>
            <th>
                <span [sort-table]="referencesTable" columnSort="BillToStateName">
                  State
                </span>
            </th>
            <th>
                <span [sort-table]="referencesTable" columnSort="BillToPostalCode">
                  Zip
                </span>
            </th>
            <th>
                <span [sort-table]="referencesTable" columnSort="PhoneNumber">
                  Phone
                </span>
            </th>
            <th>
                <span [sort-table]="referencesTable" columnSort="AlternatePhoneNumber">
                  Alt Phone
                </span>
            </th>
            <th>
                <span [sort-table]="referencesTable" columnSort="FaxNumber">
                  Fax
                </span>
            </th>
            <th>
                <span [sort-table]="referencesTable" columnSort="Notes">
                  Notes
                </span>
            </th>
            <th>
                <span [sort-table]="referencesTable" columnSort="Contact">
                  Contact
                </span>
            </th>
            <th>
                <span [sort-table]="referencesTable" columnSort="LetterName">
                  LetterName
                </span>
            </th>
            <th>
                <span [sort-table]="referencesTable" columnSort="ModifiedBy">
                  Modified By
                </span>
            </th>
            <th></th><!-- Edit Button Empty Header -->
          </tr>
          </thead>
        </table>
      </ng-container>
      <!-- End Payors -->
    </div>
    <div class="table-responsive table-body">
      <table class="table no-margin table-striped adjustor" id="maintable">
        <!-- Adjustors -->
        <tbody *ngIf="rs.typeSelected==rs.types[0]" class="overflowable" tabindex="0">
        <ng-container *ngFor="let adjustor of rs.getAdjustors(); let i = index;">
          <div (click)="setSelected(adjustor)" [ngClass]="{'light-clr': i%2==0}" class="row row-with-no-margin adjstor"
               id="{{adjustor.adjustorId}}"
               style="    margin-bottom: 9px;">
            <div class="col-lg-1" style="width: 10.333%;">{{adjustor?.adjustorName}}</div>
            <div class="col-lg-1 col-custom" style="width: 16.333%;">{{adjustor?.address1}}</div>
            <div class="col-lg-1 col-custom" style="width: 12.333%;">{{adjustor?.address2}}</div>
            <div class="col-lg-1 col-custom" style="width: 6.333%;">{{adjustor?.city}}</div>
            <div class="col-lg-1 col-custom" style="width: 6.333%;">{{adjustor?.stateName}}</div>
            <div class="col-lg-1 col-custom" style="width: 5.333%;">{{adjustor?.postalCode}}</div>
            <div class="col-lg-1 col-custom"
                 style="width: 6.333%;">{{adjustor?.phoneNumber ? rs.convertPhoneNumber(adjustor.phoneNumber) : ''}}</div>
            <div class="col-lg-1 col-custom"
                 style="width: 6.333%;">{{adjustor?.faxNumber ? rs.convertPhoneNumber(adjustor.faxNumber) : ''}}</div>
            <div class="col-lg-1 col-custom" style="width: 11.333%;">{{adjustor?.emailAddress}}</div>
            <div class="col-lg-1" style="width: 7.333%;">{{adjustor?.extension}}</div>
            <div class="col-lg-1">{{adjustor?.modifiedBy}}</div>
            <div class="col-lg-1" style="width: 3.333%;">
              <button (click)="edit(adjustor)" class="btn btn-primary btn-xs" style="float: right;" type="button">
                Edit
              </button>
            </div>
          </div>
        </ng-container>
        </tbody>
        <!-- End Adjustors -->
        <!-- Attorneys -->
        <tbody *ngIf="rs.typeSelected==rs.types[1]" class="overflowable" tabindex="0">
        <ng-container *ngFor="let attorney of rs.getAttorneys(); let i=index">
          <div (click)="setSelectedAttorney(attorney)" [ngClass]="{'light-clr': i%2==0}" class="row row-with-no-margin attorney"
               id="{{attorney.attorneyId}}" style="margin-bottom: 10px;">
            <div class="col-lg-1 width-12">{{attorney?.attorneyName}}</div>
            <div class="col-lg-1 width-14">{{attorney?.address1}}</div>
            <div class="col-lg-1 width-12">{{attorney?.address2}}</div>
            <div class="col-lg-1 width-6">{{attorney?.city}}</div>
            <div class="col-lg-1">{{attorney?.stateName}}</div>
            <div class="col-lg-1 width-6">{{attorney?.postalCode}}</div>
            <div class="col-lg-1 ">{{attorney?.phoneNumber ? rs.convertPhoneNumber(attorney.phoneNumber) : ''}}</div>
            <div class="col-lg-1 ">{{attorney?.faxNumber ? rs.convertPhoneNumber(attorney.faxNumber) : ''}}</div>
            <div class="col-lg-1 width-10">{{attorney?.emailAddress}}</div>
            <div class="col-lg-1">{{attorney?.modifiedBy}}</div>
            <div class="col-lg-1 width-4">
              <button (click)="edit(attorney)" class="btn btn-primary btn-xs" style="float: right;" type="button">
                Edit
              </button>
            </div>
          </div>
        </ng-container>
        </tbody>
        <!-- End Attorneys -->
        <!-- Payors -->
        <tbody *ngIf="rs.typeSelected==rs.types[2]" class="overflowable" tabindex="0">
        <ng-container *ngFor="let payor of rs.getPayors()">
          <tr (click)="setSelectedPayor(payor)" id="{{payor.payorId}}">
            <td>{{payor?.groupName}}</td>
            <td>{{payor?.billToName}}</td>
            <td>{{payor?.billToAddress1}}</td>
            <td>{{payor?.billToAddress2}}</td>
            <td>{{payor?.billToCity}}</td>
            <td>{{payor?.billToStateName ? payor.billToStateName : payor.state}}</td>
            <td>{{payor?.billToPostalCode}}</td>
            <td>{{payor?.phoneNumber ? rs.convertPhoneNumber(payor.phoneNumber) : ''}}</td>
            <td>{{payor?.alternatePhoneNumber ? rs.convertPhoneNumber(payor.alternatePhoneNumber) : ''}}</td>
            <td>{{payor?.faxNumber ? rs.convertPhoneNumber(payor.faxNumber) : ''}}</td>
            <td>{{payor?.notes}}</td>
            <td>{{payor?.contact}}</td>
            <td>{{payor?.letterName}}</td>
            <td>{{payor?.modifiedBy}}</td>
            <td>
              <button (click)="edit(payor)" class="btn btn-primary btn-xs" style="float: right;" type="button">
                Edit
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
        <!-- End Payors -->
      </table>
    </div>
    <div class="btn-group pagination-row">
      <button (click)="prev()" [disabled]="rs.currentPage<=1" class="btn btn-default  btn-md" type="button">Prev
      </button>
      <button class="btn btn-default  selected btn-md" style="width:76px" type="button"> {{rs.currentPage}}
        of {{rs.getTotalRows() + 1}}</button>
      <button (click)="next()" [disabled]="rs.getTotalRows()+1 <= rs.currentPage" class="btn btn-default  btn-md"
              type="button">Next
      </button>
      <div class="input-group" style="width:164px">
        <input (keypress)="keyPress($event)" (keyup.enter)="goto()" [(ngModel)]="goToPage"
               [attr.placeholder]="rs.currentPage"
               [ngModelOptions]="{standalone: true}" class="form-control">
        <div class="input-group-btn">
          <button (click)="goto()" class="btn btn-success goto" type="button">Go to Page</button>
        </div>
      </div>
    </div>
  </div>
</div>
