<div class="row claim-info">
  <div class="col-sm-12 claim-col expanded-custom" style="overflow:hidden;">
    <div class="table-responsive top-header">
      <!-- Adjustors -->
      <ng-container *ngIf="rs.typeSelected==rs.types[0]">
        <table class="table no-margin table-striped" id="adjustorTable">
          <thead class="overflowable" id="fixed-thead">
            <tr #referencesTable='table-sort' (tableSort)="rs.onSortColumn($event)">
              <th>
                <span [sort-table]="referencesTable" columnSort="AdjustorName">
                  Adjustor Name
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="Address1">
                  Address 1
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="Address2">
                  Address 2
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="City">
                  City
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="StateName">
                  State
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="PostalCode">
                  Zip
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="PhoneNumber">
                  Phone
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="FaxNumber">
                  Fax
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="EmailAddress">
                  Email
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="Extension">
                  Extension
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="ModifiedBy">
                  Modified By
                </span>
              </th>
              <th></th><!-- Edit Button Empty Header -->
            </tr>
          </thead>
        </table>
      </ng-container>
      <!-- End Adjustors -->
      <!-- Attorneys -->
      <ng-container *ngIf="rs.typeSelected==rs.types[1]">
        <table class="table no-margin table-striped" id="attorneyTable">
          <thead class="overflowable" id="fixed-thead">
            <tr #referencesTable='table-sort' (tableSort)="rs.onSortColumn($event)">
              <th>
                <span [sort-table]="referencesTable" columnSort="AttorneyName">
                  Attorney Name
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="Address1">
                  Address 1
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="Address2">
                  Address 2
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="City">
                  City
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="StateName">
                  State
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="PostalCode">
                  Zip
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="PhoneNumber">
                  Phone
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="FaxNumber">
                  Fax
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="EmailAddress">
                  Email
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="ModifiedBy">
                  Modified By
                </span>
              </th>
              <th></th><!-- Edit Button Empty Header -->
            </tr>
          </thead>
        </table>
      </ng-container>
      <!-- End Attorneys -->
      <!-- Payors -->
      <ng-container *ngIf="rs.typeSelected==rs.types[2]">
        <table class="table no-margin table-striped" id="payorTable">
          <thead class="overflowable" id="fixed-thead">
            <tr #referencesTable='table-sort' (tableSort)="rs.onSortColumn($event)">
              <th>
                <span [sort-table]="referencesTable" columnSort="GroupName">
                  Group Name
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="BillToName">
                  Bill to
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="BillToAddress1">
                  Address 1
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="BillToAddress2">
                  Address 2
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="BillToCity">
                  City
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="BillToStateName">
                  State
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="BillToPostalCode">
                  Zip
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="PhoneNumber">
                  Phone
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="AlternatePhoneNumber">
                  Alt Phone
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="FaxNumber">
                  Fax
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="Notes">
                  Notes
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="Contact">
                  Contact
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="LetterName">
                  LetterName
                </span>
              </th>
              <th>
                <span [sort-table]="referencesTable" columnSort="ModifiedBy">
                  Modified By
                </span>
              </th>
              <th></th><!-- Edit Button Empty Header -->
            </tr>
          </thead>
        </table>
      </ng-container>
      <!-- End Payors -->
    </div>
    <div class="table-responsive table-body">
      <table class="table no-margin table-striped" id="maintable">
        <!-- Adjustors -->
        <tbody class="overflowable" tabindex="0" *ngIf="rs.typeSelected==rs.types[0]">
            <!-- <ng-container *ngIf="claimManager.selectedClaim.prescriptions">
                <tr *ngFor="let prescription of claimManager.selectedClaim.prescriptions;let i=index;" [id]="'row'+i" [attr.prescription]="prescription | json" (click)="setSelected(prescription,prescription.selected)" (dblclick)="claimManager.showDetails(prescription)" [class.isReversed]="prescription.isReversed" [class.bgBlue]="prescription.selected">
                    <td>
                        <div class="commonCheckBox">
                            <input type="checkbox" name="check" value="None" class="pescriptionCheck" [id]="prescription.prescriptionId" [attr.labelName]="prescription.labelName"
                                [checked]="(prescription.selected || checkAll)" (change)="select(prescription,$event,i)"
                                #inv>
                            <label [for]="prescription.prescriptionId" (click)="inv.click()"></label>
                        </div>
                    </td>
                    <td>{{prescription.invoiceDate | date:"shortDate"}}</td>
                    <td  [class.invoiceIsIndexed]="prescription.invoiceIsIndexed">{{prescription.invoiceNumber}}</td>
                    <td>{{prescription.labelName}}</td>
                    <td>{{prescription.billTo}}</td>
                    <td>{{prescription.rxNumber}}</td>
                    <td>{{prescription.rxDate | date:"shortDate"}}</td>
                    <td class="text-right">{{prescription.invoiceAmount | currency:'USD'}}</td>
                    <td class="text-right">{{prescription.amountPaid | currency:'USD'}}</td>
                    <td class="text-right">{{prescription.outstanding | currency:'USD'}}</td>
                    <td>
                        <div class="btn-group status">
                            <button type="button" class="btn btn-box-tool dropdown-toggle status" data-toggle="dropdown">
                                {{prescription.status}} <i class="fa fa-sort pull-right"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li *ngFor="let status of claimManager.selectedClaim.prescriptionStatuses;" [class.active]="status.statusName==claimManager.selectedClaim.status" (click)="claimManager.changePrescriptionStatus(prescription,status)"><a  style="cursor:pointer;">{{status.statusName}}</a></li>
                            </ul>
                        </div>
                    </td>
                    <td *ngIf="prescription.noteCount"><a class="label label-info bg-vdarkgrey" (click)="showNotes(prescription.prescriptionId)">{{prescription.noteCount}}</a></td>
                    <td *ngIf="!prescription.noteCount">{{prescription.noteCount}}</td>
                </tr>
            </ng-container> -->
          <ng-container *ngFor="let adjustor of rs.getAdjustors(); let i = index;">
            <tr id="{{adjustor.adjustorId}}" (click)="setSelected(adjustor)">
              <td>{{adjustor?.adjustorName}}</td>
              <td>{{adjustor?.address1}}</td>
              <td>{{adjustor?.address2}}</td>
              <td>{{adjustor?.city}}</td>
              <td>{{adjustor?.stateName}}</td>
              <td>{{adjustor?.postalCode}}</td>
              <td>{{adjustor?.phoneNumber}}</td>
              <td>{{adjustor?.faxNumber}}</td>
              <td>{{adjustor?.emailAddress}}</td>
              <td>{{adjustor?.extension}}</td>
              <td>{{adjustor?.modifiedBy}}</td>
              <td>
                <button style="float: right;" (click)="edit(adjustor)" class="btn btn-primary btn-xs" type="button">
                  Edit
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <!-- End Adjustors -->
        <!-- Attorneys -->
        <tbody class="overflowable" tabindex="0" *ngIf="rs.typeSelected==rs.types[1]">
          <ng-container *ngFor="let attorney of rs.getAttorneys()">
            <tr>
              <td>{{attorney?.attorneyName}}</td>
              <td>{{attorney?.address1}}</td>
              <td>{{attorney?.address2}}</td>
              <td>{{attorney?.city}}</td>
              <td>{{attorney?.stateName}}</td>
              <td>{{attorney?.postalCode}}</td>
              <td>{{attorney?.phoneNumber}}</td>
              <td>{{attorney?.faxNumber}}</td>
              <td>{{attorney?.emailAddress}}</td>
              <td>{{attorney?.modifiedBy}}</td>
              <td>
                <button style="float: right;" (click)="edit(attorney)" class="btn btn-primary btn-xs" type="button">
                  Edit
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <!-- End Attorneys -->
        <!-- Payors -->
        <tbody class="overflowable" tabindex="0" *ngIf="rs.typeSelected==rs.types[2]">
          <ng-container *ngFor="let payor of rs.getPayors()">
            <tr [id]="payor.payorId">
              <td>{{payor?.groupName}}</td>
              <td>{{payor?.billToName}}</td>
              <td>{{payor?.billToAddress1}}</td>
              <td>{{payor?.billToAddress2}}</td>
              <td>{{payor?.billToCity}}</td>
              <td>{{payor.billToStateName?payor.billToStateName:payor.state}}</td>
              <td>{{payor?.billToPostalCode}}</td>
              <td>{{payor?.phoneNumber}}</td>
              <td>{{payor?.alternatePhoneNumber}}</td>
              <td>{{payor?.faxNumber}}</td>
              <td>{{payor?.notes}}</td>
              <td>{{payor?.contact}}</td>
              <td>{{payor?.letterName}}</td>
              <td>{{payor?.modifiedBy}}</td>
              <td>
                <button style="float: right;" (click)="edit(payor)" class="btn btn-primary btn-xs" type="button">
                  Edit
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <!-- End Payors -->
      </table>
    </div>
    <div class="btn-group pagination-row">
      <button (click)="prev()" [disabled]="rs.currentPage<=1" class="btn btn-default  btn-md" type="button">Prev
      </button>
      <button class="btn btn-default  selected btn-md" style="width:76px" type="button"> {{rs.currentPage}}
        of {{rs.getTotalRows() + 1}}</button>
      <button (click)="next()" [disabled]="rs.getTotalRows()+1 <= rs.currentPage" class="btn btn-default  btn-md" type="button">Next
      </button>
      <div class="input-group" style="width:164px">
        <input (keypress)="keyPress($event)" (keyup.enter)="goto()" [(ngModel)]="goToPage" [attr.placeholder]="rs.currentPage"
          [ngModelOptions]="{standalone: true}" class="form-control">
        <div class="input-group-btn">
          <button (click)="goto()" class="btn btn-success goto" type="button">Go to Page</button>
        </div>
      </div>
    </div>
  </div>
</div>
