td,
th {
  text-align: center;
  font-size: 9pt;
  font-family: 'Cambay', sans-serif !important;
}
td {
  text-align: center;
  font-size: 9pt;
  font-family: 'Cambay', sans-serif !important;
}
tr>th:first-child,
tr>td:first-child
{
  width: 9%;
}
tr>th:nth-child(2),
tr>td:nth-child(2),
tr>th:nth-child(3),
tr>td:nth-child(3),
tr>th:nth-child(4),
tr>td:nth-child(4),
tr>th:nth-child(5),
tr>td:nth-child(5),
tr>th:nth-child(6),
tr>td:nth-child(6),
tr>th:nth-child(7),
tr>td:nth-child(7),
tr>th:nth-child(8),
tr>td:nth-child(8),
tr>th:nth-child(9),
tr>td:nth-child(9),
tr>th:nth-child(10),
tr>td:nth-child(10),
tr>th:nth-child(11),
tr>td:nth-child(11),
tr>th:nth-child(12),
tr>td:nth-child(12)
{
  text-align: center;
  width:6%;
}

tr>th:nth-child(13),
tr>td:nth-child(13),
tr>th:nth-child(14),
tr>td:nth-child(14)
{
  text-align: center;
  width:9%;
}

/*tr>th:first-child,
tr>td:first-child,
tr>th:nth-child(3),
tr>td:nth-child(3),
tr>th:nth-child(4),
tr>td:nth-child(4)
{
  width:9%;
}
tr>th:nth-child(9),
tr>td:nth-child(9)
{
  width:10%;
}
tr>th:nth-child(2),
tr>td:nth-child(2),
tr>th:nth-child(8),
tr>td:nth-child(8)
{
  width: 6%;
}
tr>th:nth-child(5),
tr>td:nth-child(5){
  width:9%;
}
tr>th:nth-child(6),
tr>td:nth-child(6),
tr>th:nth-child(7),
tr>td:nth-child(7)
{
  width: 8%;
}
tr>th:last-child,
tr>td:last-child{
  width: 26%;
}*/

/* ROW COLOR CHANGE*/

tr:nth-of-type(odd) {
  background: #fbeede !important;
}

tr:nth-of-type(even) {
  background: #fff8ef !important;
}
.claim-info.row,.col-sm-12.claim-col.expanded{
  margin:0px;
  padding:0px;
  overflow: hidden;
}
.claim-col{
  height:60px;
}
.expanded{
  height: calc(100vh - 290px);
  height: -moz-calc(100vh - 290px);
  height: -webkit-calc(100vh - 290px);
  height: -o-calc(100vh - 290px);
  overflow:hidden;
}
.top-header,.table-body{
  width:98%;
}

.top-header{
  height:56px;
  width: calc(98% - 15px);
  width: -webkit-calc(98% - 15px);
  width: -o-calc(98% - 15px);
  width: -moz-calc(98% - 15px);
  position: absolute;
  overflow: hidden;
}
.table-body{
  position: absolute;
  top:40px;
  height: calc(100% - 110px);
  max-height: calc(100% - 110px);
  max-height: -moz-calc(100% - 110px);
  max-height: -webkit-calc(100% - 110px);
  max-height: -o-calc(100% - 110px);
  overflow-y: auto;
  overflow-x: hidden;
}
.top-header table{
  height:99%;
}
tbody>tr:hover {
  background: #b6f1ff !important;
  cursor: pointer;
}
/*SORT*/

thead span {
  cursor: pointer;
}

.fa-unsorted:before,
.fa-sort:before,
.fa-sort-up:before,
.fa-sort-asc:before,
.fa-sort-down:before,
.fa-sort-desc:before {
  padding-right: 0.6rem;
  font-size: 1.4rem;
  color: #666;
}

.fa.rotate.fa-exchange {
  margin-left: 0;
}


/*Unnecessary-space*/

.table>thead>tr>th[_ngcontent-c9] {
  border-bottom: 0px;
}
.pagination-row{
  position:absolute;
  right: calc(50% - 234px);
  bottom:15px;
  background: -webkit-linear-gradient(top, #fff 0%, #eeedec 40%, #faf6e9 100%);
  background: linear-gradient(to bottom, #fff 0%, #eeedec 40%, #faf6e9 100%);
  padding:5px 35px;
  width: 468px;
  border-radius:10px;
  text-align: center;
}
.pagination-row button:not(.goto){
  margin:5px;
  /* background:transparent; */
  font-family: 'Cambay', sans-serif !important;
  line-height: normal;
  vertical-align:middle;
  width:60px;
  font-weight: 700;
  padding:4px 10px 1px 10px;
  font-size: 13px;
  text-anchor: middle;
}

.pagination-row button.goto,.pagination-row  .input-group .form-control{
  margin:5px;
  /* background:transparent; */
  font-family: 'Cambay', sans-serif !important;
  line-height: normal;
  vertical-align:middle;
  font-weight: 700;
  padding:4px 10px 1px 10px;
  font-size: 13px;
  text-anchor: middle;
}

.pagination-row  .input-group .form-control{
  height:28px;
}
.box-body{
  padding: unset!important;
}
.expanded-custom{
  height: calc(100vh - 290px);
}

tbody>tr.bgBlue{
  background: #56a1ff !important;
  color: white;
}
tbody>tr.bgBlue td .btn-group.status button{
  color:white;
}
tbody>tr.bgBlue td::selection,
tbody>tr.bgBlue td a::selection {
  background: #56a1ff !important;
}


tr:not(.bgBlue) td.invoiceIsIndexed,tr:not(.bgBlue):hover td.invoiceIsIndexed,
tr:not(.bgBlue) td.invoiceIsIndexed .btn-group button.dropdown-toggle.status{
    color:blue !important;
}
tr.bgBlue td.invoiceIsIndexed, tr.bgBlue td.invoiceIsIndexed, tr.bgBlue:hover td.invoiceIsIndexed,
tr.bgBlue td.invoiceIsIndexed .btn-group button.dropdown-toggle.status{
    color:white !important;
}
.cliked-row{
  background: #204d74 !important;
  cursor: pointer;
}
