<div class="row">
  <div class="col-sm-12 expanded" style="overflow:hidden;">
    <div *ngIf="rs.checkDisplay=='list'" class="table-responsive top-header">
      <ul class="products-list product-list-in-box">
        <li class="item row">
          <div class="col-md-2" style="text-indent: 30px">
            Name
          </div>
          <div class="col-md-2">
            Phone
          </div>
          <div class="col-md-2">
            Fax
          </div>
          <div class="col-md-2">
            Email
          </div>
          <div class="col-md-2">
            Extension
          </div>
          <div class="col-md-2">
            Modified
          </div>
        </li>
      </ul>

    </div>
    <div *ngIf="rs.checkDisplay=='list'" class="table-responsive table-body">
      <ul class="products-list product-list-in-box">
        <li *ngFor="let adjustor of rs.getadjustors()" class="item row">
          <ng-container *ngIf="adjustor.adjustorName!=''">
          <div class="col-md-2">

            {{adjustor?.adjustorName}}
          </div>
          <div class="col-md-2">
            {{adjustor.phoneNumber}}
          </div>
          <div class="col-md-2">
            {{adjustor.faxNumber}}
          </div>
          <div class="col-md-2">
            {{adjustor.emailAddress}}
          </div>
          <div class="col-md-2">
            {{adjustor.extension}}
          </div>
          <div class="col-md-2">
            {{adjustor.modifiedBy }}
          </div>
          </ng-container>
        </li>
      </ul>
    </div>

    <div class="btn-group pagination-row">
      <button type="button" class="btn btn-default  btn-md" [disabled]="rs.currentPage<=1" (click)="prev()">Prev</button>
      <button type="button" class="btn btn-default  selected btn-md" style="width:76px"> {{rs.currentPage}} of {{rs.getTotalRows()+1}}</button>
      <button type="button" class="btn btn-default  btn-md" [disabled]="rs.getTotalRows()+1 <=rs.currentPage" (click)="next()">Next</button>
      <div class="input-group" style="width:164px">
        <input class="form-control" [attr.placeholder]="rs.currentPage" [(ngModel)]="goToPage" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event)" (keyup.enter)="goto()">
        <div class="input-group-btn">
          <button type="button" class="btn btn-success goto" (click)="goto()">Go to Page</button>
        </div>
      </div>
    </div>
  </div>
</div>
