<form role="form">
    <div class="row search-container">
      <div class="col-xs-12 p-0 m-0">
          <div class="form-group p-0 m-0 pl-1 f-width-1">
              <label>Start Date</label>
              <div class="input-group date">
                  <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                  </div>
                  <input class="form-control pull-right" id="startDate" name="startDate" type="text" [(ngModel)]="startDate" (focus)="submitted=false"
                      data-inputmask="'alias': 'mm/dd/yyyy'" data-mask focus-on>
              </div>
          </div>
          <div class="form-group p-0 m-0 pl-1 f-width-1 mr-1">
              <label>End Date</label>
              <div class="input-group date">
                  <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                  </div>
                  <input class="form-control pull-right" id="endDate" name="endDate" type="text" [(ngModel)]="endDate" (focus)="submitted=false"
                      data-inputmask="'alias': 'mm/dd/yyyy'" data-mask focus-on>
              </div>
          </div>
          <div class="form-group f-width-1 mr-1">
              <label>&nbsp;</label>
              <div class="form-control col-sm-12 pr-0">
                  <mat-slide-toggle [(ngModel)]="resolved" name="resolved">
                  {{resolved ? 'Resolved' : 'Unresolved' }}
                </mat-slide-toggle>
              </div>
          </div>
          <div class="form-group p-0 m-0 f-width-1 mr-1">
              <label>Owner name</label>
              <div class="col-md-12 p-0 m-0 f-margin-adjust-1">
                <mat-form-field>
                  <mat-select class="col-md-12" name="owner" [(ngModel)]="ownerId" (focus)="submitted=false">
                    <mat-option value="" selected>All Owners</mat-option>
                    <mat-option *ngFor="let e of ds.owners" [value]="e.ownerId">{{e.owner}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </div>
          <div class="form-group p-0 m-0 f-width-2 mr-1">
              <label>Category</label>
              <div class="col-md-12 p-0 m-0 f-margin-adjust-1">
                <mat-form-field>
                  <mat-select class="col-md-12" name="episodeCategoryId" [(ngModel)]="episodeCategoryId" (focus)="submitted=false">
                    <mat-option value="" selected>All</mat-option>
                    <mat-option value="1">Call</mat-option>
                    <mat-option value="2">Image</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </div>
          <div class="form-group p-0 m-0 f-width-2 mr-1">
              <label>Episode Type</label>
              <div class="col-md-12 p-0 m-0 f-margin-adjust-1">
                <mat-form-field>
                  <mat-select class="col-md-12" name="episodeNote" [(ngModel)]="episodeTypeId">
                      <mat-option value="" selected>All Episode Types</mat-option>
                      <mat-option *ngFor="let e of ds.episodeTypes" [value]="e.episodeTypeId">{{e.episodeTypeName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </div>
          <div class="form-group p-0 m-0 f-width-4 mr-1">
              <label>&nbsp;</label>
              <div class="col-md-12 f-margin-adjust-1" style="padding:20px 0px;">
                  <div class="commonCheckBox flex">
                      <input class="archivedCheck" name="check" type="checkbox" id="archivedCheck" (change)="filter($event)">
                      <label for="archivedCheck" class="archived"></label>
                      <label for="archivedCheck">Archived</label>
                  </div>
              </div>
          </div>
          <div class="form-group p-0 m-0">
              <label >&nbsp;</label>
              <div class="col-md-12 p-0 m-0 f-margin-adjust-2">
                <button mat-raised-button class="p-0 m-0 mr-1 f-width-3 pt-1 btn bg-darkRed" type="button" (click)="search()" id="claimSearchBtn">
                    <i class="fa fa-search" aria-hidden="true"></i> Search</button>
                <button mat-raised-button class="p-0 m-0 mr-1 f-width-3 pt-1 btn bg-darkblue" type="button" (click)="reset()">
                    <i class="fa fa-eraser" aria-hidden="true"></i> Clear</button>
                <button mat-raised-button class="color-palette p-0 m-0 mr-1 f-width-3 pt-1 btn bg-DarkGreen btn-small" type="button" (click)="refresh()">
                    <i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
                <button mat-raised-button class="p-0 m-0 mr-1 f-width-2 btn bg-darkRed pt-1" type="button" (click)="episode()" id="claimSearchBtn">
                    <i class="fa fa-search" aria-hidden="true"></i> Add Episode</button>
                <div style="display: inline-block;" >
                  <img type="button" [src]="over[0] ? 'assets/img/decision-tree-hover.png' : 'assets/img/decision-tree.png'"
                    (mouseover)="over[0] = true" (mouseout)="over[0] = false" height="55px"
                    style="cursor: pointer;margin-top: 0px;" title="Decision Trees" (click)="showDecisionTreeWindow()" />
                </div>
              </div>
          </div>
        </div>
    </div>
</form>
<swal #episodeSwal [showCancelButton]="false" [showConfirmButton]="false" customClass="payment-modal" [focusCancel]="false"
    title="Episode Entry">
    <app-new-episode *swalPartial [episode]="true">
    </app-new-episode>
<swal>
