<form role="form">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Start Date</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input class="form-control pull-right" id="startDate" name="startDate" type="text" [(ngModel)]="startDate" (focus)="submitted=false"
                        data-inputmask="'alias': 'mm/dd/yyyy'" data-mask focus-on>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>End Date</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input class="form-control pull-right" id="endDate" name="endDate" type="text" [(ngModel)]="endDate" (focus)="submitted=false"
                        data-inputmask="'alias': 'mm/dd/yyyy'" data-mask focus-on>
                </div>
            </div>
        </div>
        <div class="col-md-1 no-padding">
            <div class="form-group red">
                <label>&nbsp;</label>
                <input type="radio" id="f-option1" name="selector" (click)="setClosed($event,false)" [checked]="!resolved" />
                <label for="f-option1" class="form-control border0 text-right">Unresolved</label>
                <label class="check" for="f-option1"></label>
            </div>
        </div>
        <div class="col-md-1 no-padding">
            <div class="form-group green">
                <label>&nbsp;</label>
                <input type="radio" id="f-option" name="selector" (click)="setClosed($event,true)" [checked]="resolved" />
                <label for="f-option" class="form-control border0 text-right">Resolved</label>
                <label class="check" for="f-option"></label>
            </div>
        </div>
        <div class="col-md-2" style="padding-left: 35px;">
            <div class="form-group">
                <label>Owner name</label>
                <select class="form-control" name="owner" [(ngModel)]="ownerId" (focus)="submitted=false">
                    <option value="">All Owners</option>
                    <option *ngFor="let e of ds.owners" [value]="e.ownerId">{{e.owner}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Episode Category</label>
                <select class="form-control" name="episodeCategoryId" [(ngModel)]="episodeCategoryId" (focus)="submitted=false">
                    <option value="">All</option>
                    <option value="1">Call</option>
                    <option value="2">Image</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Episode Type</label>
                <select class="form-control" name="episodeNote" [(ngModel)]="episodeTypeId">
                    <option value="">All Episode Types</option>
                    <option *ngFor="let e of ds.episodeTypes" [value]="e.episodeTypeId">{{e.episodeTypeName}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 flex">
            <div class="form-group">
                <label>&nbsp;</label>
                <br/>
                <span>
                    <button class="color-palette btn bg-darkRed btn-flat btn-small" type="button" (click)="search()">
                        <i class="fa fa-search" aria-hidden="true"></i> Search</button> &nbsp;
                    <button class="color-palette btn bg-darkblue btn-flat btn-small" type="button" (click)="reset()">
                        <i class="fa fa-eraser" aria-hidden="true"></i> Clear</button> &nbsp;
                    <button class="color-palette btn bg-DarkGreen btn-flat btn-small" type="button" (click)="refresh()">
                        <i class="fa fa-refresh"></i> Refresh</button>
                </span>
            </div>
        </div>
    </div>
</form>