.bg-DarkGreen {
    background: #084205;
    color: #fff;
}
.bg-darkRed {
  background: #992727;
  color: #fff;
}
.no-padding{
    padding-left:0px;
    padding-right:0px;
}
input[type=radio]{
    position: absolute;
    visibility: hidden;
}
label.check-label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.1em;
    padding: 0px 5px 5px 25px;
    margin: 9px auto;
    height: 10px;
    z-index: 9;
    cursor: pointer;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
  }
.check{
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    cursor: pointer;
  }
  span.green:hover .check,span.green input[type=radio]:checked ~ .check {
    border: 5px solid rgb(54, 102, 75);
  }
  span.green input[type=radio]:checked ~ .check::before {
    border: 5px solid rgb(54, 102, 75);
  }
  span.green:hover label.check-label, span.green input[type=radio]:checked ~ label{
    color: rgb(54, 102, 75);
    font-weight: 700;
  }
  
  span.red:hover .check,span.red input[type=radio]:checked ~ .check {
    border: 5px solid #832121;
  }
  span.red input[type=radio]:checked ~ .check::before {
    border: 5px solid #832121;
  }
  span.red:hover label.check-label, span.red input[type=radio]:checked ~ label{
    color: #832121;
    font-weight: 700;
  }
  .no-padding{
    padding:0px;
    width:5.5% !important;
  }
  .no-padding.red{
    width:4% !important;
  }
  form .col-md-2:not(.flex){
    width:10.99%;
    padding-right:2.5px;
    padding-left:2.5px;
  }
  form .col-md-2.flex{
    width:180px;
    padding-right:2px;
    padding-left:2px;
   }
  form .col-md-2.flex .form-group span{
   display:flex;
   flex-direction: row;
  }
  .flex .form-group span button{
    padding: 8px 6px 4px 6px;
  }
  form .col-md-1:not(.no-padding){
   padding-right:5px;
   padding-left:5px;
  }
  .left2p5 {
    margin-left: 2.5%;
  }
  .border0{
    border:0px;
    padding: 0px 5px 0px;
    height: fit-content;
    width: fit-content;
    margin-left:0px;
    cursor: pointer;
    font-weight: normal;
  }
  .flex{
    display: flex;
    flex-direction: row;
  }
  .flexb{
    padding: 15px 4px 4px 0px;
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
  }
  .search-container{
    padding:10px;
  }

    
  .field-lg:not(.field-lgr) .form-group,.field-lgr{
    width: fit-content;
    padding-top:17px;
    display: flex;
    flex-direction: row;
  }
  .field-lgr,.field-lg{
    padding:0px 2px;
  }
  .field-lgr{
    padding-top:0px;
  }
  .field-lg .form-group button{
    margin:5px 2px;
  }
  @media (max-width: 1020px){ 
    .search-container{
      flex-wrap: wrap; 
    }
  }
  @media (min-width: 800px){
    .search-container{
      display: flex;
      flex-direction: row;
    }
    form .col-md-3{
      width:21.5%;
      padding-right:2px;
      padding-left:2px;
    }
    .col-md-1,.field-sm {
          min-width: 84px;
          max-width: 8%;
      }
      .col-md-2 {
          width: 13%;
      }
      .col-md-3,
      .field-lg {
        width: fit-content;
      } 
    }
    .commonCheckBox label {
      line-height:17px;
      margin-left:2px;
    }
    .commonCheckBox label:first-of-type {
      position: relative;
      margin-right: 1px;
      top:0px
    }