<div class="row claim-info">
  <div class="col-sm-12 expanded" style="overflow:hidden;">

      <div class="btn-group pagination-row">
          <button type="button" class="btn btn-default  btn-md" [disabled]="ds.data.page<=1" (click)="prev()">Prev</button>
          <button type="button" class="btn btn-default  selected btn-md">   {{ds.data.page}} of {{ds.totalPages}}</button>
          <button type="button" class="btn btn-default  btn-md" [disabled]="ds.end" (click)="next()">Next</button>
          <div class="input-group" style="width:134px">
              <input class="form-control" [attr.placeholder]="ds.data.page" [(ngModel)]="goToPage" (keypress)="keyPress($event)" (keyup.enter)="goto()">
              <div class="input-group-btn">
                  <button type="button" class="btn btn-success goto" (click)="goto()">Go to Page</button>
              </div>
          </div>
      </div>
  </div>
</div>