.products-list>.item{
    padding: 5px;    
    padding-left: 10px; 
    cursor: pointer; 
    margin: 0px;  
}
.products-list>.item:nth-of-type(odd) {
    background: #fbdede;
}

.products-list>.item:nth-of-type(even) {
    background: #ffefef;
}
.expanded{
    height: calc(100vh - 250px);
    height: -moz-calc(100vh - 250px);
    height: -webkit-calc(100vh - 250px);
    height: -o-calc(100vh - 250px);
    overflow:hidden;
}
.top-header{
    height:43px;
    position: absolute;
    overflow: hidden;
    width: 100%;
}
.table-body{
    position: absolute;
    top:31px;
    height: calc(100% - 110px);
    max-height: calc(100% - 110px);
    max-height: -moz-calc(100% - 110px);
    max-height: -webkit-calc(100% - 110px);
    max-height: -o-calc(100% - 110px);
    overflow-y: auto;
    overflow-x: hidden;
} 
.products-list>.item:hover,.flex-row>.file:hover {
    background: #ffb6b6 !important;
    cursor: pointer;
  }

.pagination-row{
    position:absolute;
    right: calc(50% - 234px);
    bottom:15px;
    background: -webkit-linear-gradient(top, #fff 0%, #eeedec 40%, #faf6e9 100%);
    background: linear-gradient(to bottom, #fff 0%, #eeedec 40%, #faf6e9 100%);
    padding:5px 35px;
    width: 468px;
    border-radius:10px;
    text-align: center;
}
 .pagination-row button:not(.goto){
    margin:5px;
    /* background:transparent; */
    font-family: 'Cambay', sans-serif !important;
    line-height: normal;
    vertical-align:middle;
    width:60px;
    font-weight: 700;
    padding:4px 10px 1px 10px;
    font-size: 13px;
    text-anchor: middle;
}

.pagination-row button.goto,.pagination-row  .input-group .form-control{
    margin:5px;
    /* background:transparent; */
    font-family: 'Cambay', sans-serif !important;
    line-height: normal;
    vertical-align:middle; 
    font-weight: 700;
    padding:4px 10px 1px 10px;
    font-size: 13px;
    text-anchor: middle;
}

.pagination-row  .input-group .form-control{
    height:28px;
}
.table-body.grid{
    top:2px;
}
.flex-row{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-row .file{
    text-align: center;
    width:100px;
    margin:2.5px;
    padding:5px;
    border:1px solid #ddd;
    display: flex;
    flex-direction: column;
    max-width:100px; 
    cursor: pointer;
}
.flex-row .file,
.flex-row .caption {
	height: auto;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    padding-left: 8px;
    padding-right: 7px;
}
.flex-text {
	flex-grow: 1;
}
.products-list>.item.edited,
.edited
{
    background: lightseagreen !important;
}
.products-list>.item.added,
.added
{
   background: lightskyblue !important;
}
.products-list>.item.deleted,
.deleted
{
  background: lightcoral !important;
}