<div class="row">
  <div class="col-md-12">
    <section class="content-header">
      <ol class="breadcrumb pull-left">
        <li>
          <a routerLink="/">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="active">
          <a [routerLink]="[]">
            Episodes
          </a>
        </li>
      </ol>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="box" id="modalWindowMax">
      <div class="box-body">
        <!-- Input Form -->
        <div class="row search">
          <div class="col-sm-12" id="accordion">
            <div class="box no-border" style="padding: 0px;margin-bottom:0rem;">
              <div class="box-header bg-head-box">
                <span class="blade-title panel-head">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <i class="fa fa-search white" aria-hidden="true"></i>
                      <span class="left5 right5 white">Search and Filter</span>
                      <i class="fa fa-filter white" aria-hidden="true"></i>
                    </a>
                  </h4>
                </span>
              </div>
              <div class="box-body" style="padding:15px;" id="collapseOne" class="panel-collapse collapse in collapse out">
                <app-episode-filter></app-episode-filter>
              </div>
            </div>
          </div>
        </div>
        <!-- episode Results -->
        <div class="row">
          <div class="col-sm-12" id="accordion">
            <div class="box">
              <div class="box-header bg-head-box">
                <span class="blade-title panel-head">
                  <i class="fa fa-book" aria-hidden="true"></i> Episode Entries
                </span>
                <span class="total pull-right">
                  <span *ngIf="ds.episodeFilterSize.length>=0 && ds.episodeFilterSize.length!=ds.episodeList.length">
                    <span style="font-size:13pt">{{ds.episodeFilterSize.length}}</span> Record{{ds.episodeFilterSize.length>1 ? 's':''}} filtered</span>
                  &nbsp;&nbsp; &nbsp;
                  <span *ngIf="ds.pageStart  && ds.episodeFilterSize.length==ds.episodeList.length" style="margin-right:100px;">
                    {{ds.pageStart+ " to "+ds.pageEnd}}</span>
                  <span *ngIf="ds.episodeList.length>0">
                    <span style="font-size:13pt">{{ds.totalRowCount}}</span> Record{{ds.totalRowCount>1 ? 's':''}} found</span>
                </span>
              </div>
              <div class="box-body episode-results">
                <app-episode-results></app-episode-results>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay" *ngIf="ds.loading">
        <img src="assets/1.gif">
      </div>
    </div>
  </div>
</div>