<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Local -->
    <!--<add name="BridgeportClaimsConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Server=.\DB1;Database=BridgeportClaims;Trusted_Connection=True;Integrated Security=True;"/>-->
    <!-- Staging -->
    <add name="BridgeportClaimsConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Server=jdgdb1.database.windows.net;Database=BridgeportClaimsStaging;User ID=bridgeportClaimsWindowsServiceUser;Password=dY@fk$UYFK!;Trusted_Connection=False;Encrypt=True;"/>
  </connectionStrings>
  <appSettings>
    <!-- This is the flag that decides whether or not to log all of the app's activity to the database. -->
    <add key="ApplicationIsInDebugMode" value="true" />
    <!--************************************************************************************************-->
    <add key="ScannedLocation" value="D:\Jordan\Development\Clients\BridgeportClaims\ScannedDocuments"/>
    <add key="PerformInitialDirectoryTraversal" value="true"/>
    <add key="ImagesRootDomainName" value="https://bridgeportclaims-images.azurewebsites.net"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>