<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BridgeportClaimsConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Server=jdgdb1.database.windows.net;Database=BridgeportClaims;User ID=bridgeportClaimsWindowsServiceUser;Password=dY@fk$UYFK!;Trusted_Connection=False;Encrypt=True;"/>
  </connectionStrings>
  <appSettings>
    <!-- This is the flag that decides whether or not to log all of the app's activity to the database. -->
    <add key="ApplicationIsInDebugMode" value="true" />
    <!--************************************************************************************************-->
    <add key="ScannedLocation" value="\\bpserver\Scans\Correspondence"/>
    <add key="PerformInitialDirectoryTraversal" value="true"/>
    <add key="ImagesRootDomainName" value="http://images.bridgeportclaims.com"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>