<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="box">
      <div class="box-header bg-head-box with-border">
        <h3 class="box-title">SignalR Document Demo <span style="margin-left:70px" *ngIf="lastUpdated">Last updated on: {{lastUpdated | date : 'mediumDate'}} {{lastUpdated | date : 'mediumTime'}}</span></h3>
        <div class="box-tools pull-right">
          <div class="btn-group">
            <button type="button" *ngIf="display=='list'" class="pull-right transparent btn btn-flat btn-sm" (click)="display='grid'"
              title="Grid View">
              <i class="fa fa-th"></i>
            </button>
            <button type="button" *ngIf="display=='grid'" class="pull-right  transparent btn btn-flat btn-sm" (click)="display='list'"
              title="List View">
              <i class="fa fa-list"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="box-body" id="chat-box">
        <div class="row">
          <div class="col-sm-12 expanded" style="overflow:hidden;">
            <div class="table-responsive top-header" *ngIf="display=='list'">
              <ul class="products-list product-list-in-box">
                <li class="item row">
                  <div class="col-md-1">
                    &nbsp;
                  </div>
                  <div class="col-md-2">
                    Name
                  </div>
                  <div class="col-md-1">
                    Size
                  </div>
                  <div class="col-md-2">
                    Created
                  </div>
                  <div class="col-md-2">
                    Last Accessed
                  </div>
                  <div class="col-md-2">
                    Last Write
                  </div>
                </li>
              </ul>
            </div>
            <div class="table-responsive table-body" *ngIf="display=='list'">
              <ul class="products-list product-list-in-box">
                <li class="item row" *ngFor="let file of documentItems" (click)="openFile(file)">
                  <div class="col-md-1">
                    <i class="fa fa-file-pdf-o text-red"></i>
                  </div>
                  <div class="col-md-2">
                    {{file.FileName || file.fileName}}
                  </div>
                  <div class="col-md-1">
                    {{file.FileSize || file.fileSize}}
                  </div>
                  <div class="col-md-2">
                    {{file.creationTimeLocal | date : 'mediumDate'}} {{file.creationTimeLocal | date : 'mediumTime'}}
                  </div>
                  <div class="col-md-2">
                    {{file.lastAccessTimeLocal | date : 'mediumDate'}} {{file.lastAccessTimeLocal | date : 'mediumTime'}}
                  </div>
                  <div class="col-md-2">
                    {{file.lastWriteTimeLocal | date : 'mediumDate'}} {{file.lastWriteTimeLocal | date : 'mediumTime'}}
                  </div>
                </li>
              </ul>
            </div>
            <div class="table-responsive table-body grid" *ngIf="display=='grid'">
              <div class="row">
                <div class="col-md-12 flex-row">
                  <div class="file" *ngFor="let file of documentItems" [title]="(file.fileSize || file.fileSize)" (click)="openFile(file)">
                    <div class="card-body">
                      <i class="fa fa-3x text-red fa-file-pdf-o"></i>
                    </div>
                    <div class="caption">
                      {{file.FileName || file.fileName}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay text-center" *ngIf="signalR.loading">
        <img src="assets/1.gif">
        <br>Sending ...
      </div>
    </div>
  </div>
</div>