.box-header {
  padding: 10px 10px 5px 10px;
}

.table-responsive {
  overflow-x: hidden;
}

table {
  table-layout: fixed;
  width: 99% !important;
  overflow-x: hidden;
}

tbody>tr:hover {
  background: #b6f1ff !important;
  cursor: pointer;
}

td,
th {
  font-size: 9pt;
  word-wrap: break-word;
  padding-left: 1px !important;
  padding-right: 1px !important;
  vertical-align: top !important;
}

tr>th:first-child,
tr>td:first-child,
tr>th:nth-child(3),
tr>td:nth-child(3) {
  width: 9%;
  padding-left: 2px !important;
}

tr>th:nth-child(2),
tr>td:nth-child(2){
  width:10%;
}
tr>th:nth-child(4),
tr>td:nth-child(4),
tr>th:nth-child(6),
tr>td:nth-child(6) {
  width: 12%;
}

tr>th:nth-child(7),
tr>td:nth-child(7) {
  width: 40%;
  padding-right: 2px !important;
}

tr>th:nth-child(5),
tr>td:nth-child(5){
  width: 8%;
}

/* ROW COLOR CHANGE*/

tr:nth-of-type(odd) {
  background: #fbeede !important;
}

tr:nth-of-type(even) {
  background: #fff8ef !important;
}

.note-text {
  background: #d6d8cc;
  padding: 2rem;
}

.invoice-col {
  padding-right: 5px;
}

.info-box.bg-green{
    min-height:50px;
}
.info-box.bg-green .info-box-content{
  margin-left:0px !important;
}
.custom-modal .swal2-content{
  display:block;
}