<div class="main-wrap">
    <div class="overlay"></div>
    <div class="header">
        <div class="container">
            <div class="row">
                <!--start first section-->
                <div class="uper-img">
                    <div class="col-lg-3 upper-left"></div>
                    <div class="col-lg-6 upper-mid">
                        <img src="assets/img/logo.png">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-5">
                                <img src="assets/logo/Color All.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
                <!--end first section-->

                <!--start second section-->
                <div class="col-lg-12 logo">
                    <span>
                        <img src="assets/img/signal.png" /> Oops! you are in wrong place!
                    </span>
                    <h2>There be dragons here...</h2>
                </div>
                <div class="col-lg-4">
                    <div class="timer">
                        <img src="assets/img/dragon8.png">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-lg-12 timer-mid">
                        <div class="timeset"></div>
                    </div>
                    <div class="col-lg-12">
                        <div class="buttom">
                            <div class="seach_bar">
                                <h2>Go now, while you still can!</h2>
                                <p>run to
                                    <span>
                                        <a [routerLink]="'/main/private'">home</a>
                                    </span> to save you
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="timer">
                        <img src="assets/img/dragon8.png">
                    </div>
                </div>
                <!--end second section-->
            </div>
            <!--end row section-->
        </div>
        <!--end container section-->
    </div>
    <!--end header section-->
</div>