<div class="row">
    <div class="col-sm-12 expanded" [class.exp]="isIndexedImage">
        <div class="box">
            <div class="box-header bg-head-box text-center">
                <img src="assets/img/back.png" class="pull-left" *ngIf="!isIndexedImage" (click)="cancel()" style="cursor:pointer;margin:-8px 0px;"/>
                <h2 class="box-title text-center" *ngIf="file" style="padding:0px 20px;">
                    <span id="titlel767546778">{{file.fileName}}</span> <i style="cursor:pointer;margin-left:15px;" data-placement="top" data-toggle="tooltip" (click)="isHighlighted('titlel767546778')" title="Click to copy to clipboard" class="fa fa-2x fa-copy"></i>
                    <button class="btn btn-primary" *ngIf="file.episodeNoteCount>=0" (click)="showNoteWindow()">Open Episode Note{{file.episodeNoteCount!=1 ? 's':''}}: {{file.episodeNoteCount}}</button>
                </h2>
            </div>
            <div class="box-body" [id]="'fileCanvas'+fileId">

            </div>
            <div class="overlay" *ngIf="loading">
                <img src="assets/1.gif">
            </div>
        </div>
    </div>
</div>