<div class="row">
    <div class="col-sm-12 expanded" [class.exp]="isIndexedImage">
        <div class="box">
            <div class="box-header bg-head-box text-center">
                <img src="assets/img/back.png" class="pull-left" *ngIf="!isIndexedImage" (click)="cancel()" style="cursor:pointer;margin:-8px 0px;"/>
                <h2 class="box-title text-center" *ngIf="file" data-placement="top" data-toggle="tooltip" #title (dbclick)="isHighlighted(title)" title="Double click to highlight and copy to clipboard">
                    {{file.fileName}}
                    <button class="btn btn-primary" *ngIf="file.episodeNoteCount>=0" (click)="showNoteWindow()">Open Episode Note{{file.episodeNoteCount!=1 ? 's':''}}: {{file.episodeNoteCount}}</button>
                </h2>
            </div>
            <div class="box-body" [id]="'fileCanvas'+fileId">

            </div>
            <div class="overlay" *ngIf="loading">
                <img src="assets/1.gif">
            </div>
        </div>
    </div>
</div>