.bg-darkRed {
  background: #992727;
  color: #fff;
}

.box-header.with-border{
  margin-bottom:0px;
}

.bg-vdarkgrey {
  background-color: #111d21 !important;
  color: #fff;
}

.bg-DarkGreen {
  background: #084205;
  color: #fff;
}

.form-group,.form-group label {
  margin-bottom: 0 !important;
}
.form-group input {
  font-size: 1.2rem;
  padding-top: 1.2rem;
}

.btn {
  padding-top: 10px;
  padding: 8px 15.8px 4px 15.8px;
}

.btn i {
  margin-right: 4px;
}
.search-container .field,
.search-container .col-md-2,
.search-container .col-md-1,
.search-container .col-md-3 {
  padding-right: 0;
}
.search-container .field,
.search-container .col-md-2,
.search-container .col-md-1{
  padding-left: 5px;
}

@media (min-width: 800px){
.search-container{
  display: flex;
  flex-direction: row;
}
.col-md-1,.field-sm {
      min-width: 84px;
      max-width: 8%;
  }
  .col-md-2 {
      width: 13%;
  }
  .col-md-3,
  .field-lg {
    width: fit-content;
  }
}

.field-lg .form-group{
  width: fit-content;
  padding-top:17px;
  display: flex;
  flex-direction: row;
}
.field-lg .form-group button{
  margin:5px 2.5px;
}
