.bg-darkRed {
  background: #992727;
  color: #fff;
}

.box-header.with-border{
  margin-bottom:0px;
}

.bg-vdarkgrey {
  background-color: #111d21 !important;
  color: #fff;
}

.bg-DarkGreen {
  background: #084205;
  color: #fff;
}

.form-group,.form-group label {
  margin-bottom: 0 !important;
}
.form-group input {
  font-size: 1.2rem;
  padding-top: 1.2rem;
}

.btn {
  padding-top: 10px;
  padding: 8px 15.8px 4px 15.8px;
}

.btn i {
  margin-right: 4px;
}

.search-container .col-md-2,
.search-container .col-md-1,
.search-container .col-md-3 {
  padding-right: 0; 
}
.search-container .col-md-2,
.search-container .col-md-1{
  padding-left: 5px;
}

