<form role="form" [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off" (keyup.enter)="search()">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Claim #</label>
                <input class="form-control" name="claimNumber" formControlName="claimNumber" (change)="textChange('claimNumber')" (focus)="submitted=false" focus-on>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>FirstName</label>
                <input class="form-control" name="firstName" formControlName="firstName" (change)="textChange('firstName')" (focus)="submitted=false" focus-on>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" name="lastName" formControlName="lastName" (change)="textChange('lastName')" (focus)="submitted=false" focus-on>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Rx Number</label>
                <input class="form-control" name="rxNumber" formControlName="rxNumber" (change)="textChange('rxNumber')" (focus)="submitted=false" focus-on>
            </div>
        </div>
        <div class="col-sm-2 col-md-1">
            <div class="form-group">
                <label>Invoice #</label>
                <input class="form-control" name="invoiceNumber" formControlName="invoiceNumber" (change)="textChange('invoiceNumber')" (focus)="submitted=false" focus-on>
            </div>
        </div>

        <div class="col-sm-2 col-md-3">
            <div class="form-group">
                <label>&nbsp;</label><br/>
                <button class="btn bg-darkRed btn-flat btn-small" type="button" (click)="search()">Search</button>
                <button class="btn bg-darkblue btn-flat btn-small" type="button" (click)="clear()">Clear</button>
                <button class="color-palette btn bg-black btn-flat btn-small" type="button" (click)="refresh()">Refresh</button>
            </div>
        </div>
    </div>
</form>