<form role="form"  [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off" (keyup.enter)="search()">
    <div class="row">
        <div class="col-md-2">
          <div class="form-group">
              <label>Claim #</label>
              <input class="form-control" name="claimNumber" class="form-control" formControlName="claimNumber" (change)="textChange('claimNumber')" (focus)="submitted=false" focus-on>
          </div>
      </div>
      <div class="col-md-2">
          <div class="form-group">
              <label>FirstName</label>
              <input class="form-control"  name="firstName" class="form-control" formControlName="firstName"  (change)="textChange('firstName')" (focus)="submitted=false" focus-on>
          </div>
      </div>
       <div class="col-md-2">
          <div class="form-group">
              <label>Last Name</label>
              <input class="form-control"  name="lastName" class="form-control" formControlName="lastName"  (change)="textChange('lastName')" (focus)="submitted=false" focus-on>
          </div>
      </div>
      <div class="col-md-2">
          <div class="form-group">
              <label>Rx Number</label>
              <input class="form-control"  name="rxNumber" class="form-control" formControlName="rxNumber"  (change)="textChange('rxNumber')" (focus)="submitted=false" focus-on>
          </div>
      </div>
      <div class="col-md-2">
          <div class="form-group">
              <label>Inv #</label>
              <input class="form-control"  name="invoiceNumber" class="form-control" formControlName="invoiceNumber"  (change)="textChange('invoiceNumber')" (focus)="submitted=false" focus-on>
          </div>
      </div>

      <div class="col-md-2">
           <label>&nbsp;</label>
          <button class="btn btn-primary btn-block" type="button" (click)="search()">Search</button>
      </div>
    </div>
</form>
