<form role="form" [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off" (keyup.enter)="search()">
    <div class="row search-container" style="padding:15px">
        <div class="col-sm-6 field">
            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" name="lastName"  formControlName="lastName" (change)="textChange('lastName')" (focus)="submitted=false"
                    autofocus>
            </div>
        </div>
        <div class="col-sm-6 field">
            <div class="form-group">
                <label>FirstName</label>
                <input class="form-control" name="firstName"  formControlName="firstName" (change)="textChange('firstName')" (focus)="submitted=false">
            </div>
        </div>
        <div class="col-sm-6 field">
            <div class="form-group">
                <label>Claim #</label>
                <input class="form-control" name="claimNumber"  formControlName="claimNumber" (change)="textChange('claimNumber')" (focus)="submitted=false">
            </div>
        </div>
        <div class="col-sm-6 field field-sm">
            <div class="form-group">
                <label>Rx Number</label>
                <input class="form-control" name="rxNumber" formControlName="rxNumber" (change)="textChange('rxNumber')" (focus)="submitted=false">
            </div>
        </div>
        <div class="col-sm-6 field">
            <div class="form-group">
                <label>Invoice #</label>
                <input class="form-control" name="invoiceNumber" formControlName="invoiceNumber" (change)="textChange('invoiceNumber')" (focus)="submitted=false">
            </div>
        </div>

        <div class="col-sm-6 field field-lg">
            <div class="form-group">
                <button mat-raised-button class="btn bg-darkRed" type="button" (click)="search()" id="claimSearchBtn">
                    <i class="fa fa-search" aria-hidden="true"></i> Search</button>
                <button mat-raised-button class="btn bg-darkblue" type="button" (click)="clear()">
                    <i class="fa fa-eraser" aria-hidden="true"></i> Clear</button>
                <button mat-raised-button class="color-palette btn bg-DarkGreen btn-small" type="button" (click)="refresh()">
                    <i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
            </div>
        </div>
    </div>
</form>
<!-- 

red #992727
blue #414772
green #084205


 -->
