  <div class="row invoice-info">
        <div class="col-sm-12 invoice-col">
          <div class="table-responsive">
            <table>
              <thead>
              <tr (tableSort)="onSortColumn($event)" #myTable='table-sort'>
                <th columnSort="postedDate" [sort-table]="myTable">	Posted Date</th>
                <th columnSort="checkNumber" [sort-table]="myTable">Check Num</th>
                <th columnSort="checkAmount" [sort-table]="myTable">Check Amount</th>
                <th columnSort="rxNumber" [sort-table]="myTable">Rx Num</th>
                <th columnSort="rxDate" [sort-table]="myTable">Rx Date</th>
                <th columnSort="invoiceNumber" [sort-table]="myTable">	Inv Num</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody  *ngIf="payments">
              <tr *ngFor="let pay of payments">
                <td>{{pay.postedDate  | date:"shortDate"}}</td>
                <td>{{pay.checkNumber}}</td>
                <td>{{pay.checkAmount}}</td>   
                <td>{{pay.rxNumber}}</td> 
                <td>{{pay.rxDate  | date:"shortDate"}}</td>    
                <td>{{pay.invoiceNumber}}</td>       
                <td>
                    <button type="button" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button type="button" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>  
                </td>       
              </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>