<div class="row invoice-info">
    <div class="col-sm-12 invoice-col">

      <div class="table-responsive top-header scroll-y">
        <table class="table no-margin table-striped">
          <thead class="overflowable">
            <tr (tableSort)="onSortColumn($event)" #myTable='table-sort'  [class.rows6]="!allowed">
              <th>
                <span columnSort="postedDate" [sort-table]="myTable"> Posted Date</span>
              </th>
              <th>
                <span columnSort="checkNumber" [sort-table]="myTable">Check Num</span>
              </th>
              <th>
                <span columnSort="CheckAmt" [sort-table]="myTable">Check Amount</span>
              </th>
              <th>
                <span columnSort="rxNumber" [sort-table]="myTable">Rx Num</span>
              </th>
              <th>
                <span columnSort="rxDate" [sort-table]="myTable">Rx Date</span>
              </th>
              <th>
                <span columnSort="invoiceNumber" [sort-table]="myTable"> Inv Num</span>
              </th>
              <th *ngIf="allowed">
                &nbsp;                
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <form role="form" [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off" (keyup.enter)="saveButtonClick()">
        <div class="table-responsive table-body scroll-y">
          <table class="table no-margin table-striped" id="maintable">
            <tbody class="overflowable" #paymentsTable tabindex="0">
              <ng-container *ngIf="claimManager.loadingPrescription">
                <div class="loader" style="align-self: center;  margin-top: 30px;">
                  <a>
                      <img src="assets/img/Spinner.gif">
                    </a>
                </div>
            </ng-container>
              <tr *ngFor="let pay of claimManager.selectedClaim.payments" [class.rows6]="!allowed" [class.isReversed]="pay.isReversed">
                <ng-container *ngIf="editingPaymentId==pay.prescriptionPaymentId">
                  <td>
                    <div class="input-group">
                      <input class="form-control" name="datePosted" formControlName="datePosted" (change)="textChange('datePosted')" (focus)="submitted=false" id="datePostedPicker"  inputs-inputmask="'alias': 'mm/dd/yyyy'" inputs-mask>
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <input class="form-control" (keypress)="validateNumber($event)" name="checkNumber" formControlName="checkNumber" (change)="textChange('checkNumber')"
                        (focus)="submitted=false">
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <div class="input-group-addon">$</div>
                      <input class="form-control" (keypress)="validateNumber($event)" name="amountPaid" formControlName="amountPaid" (change)="textChange('amountPaid')"
                        (focus)="submitted=false">
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <input class="form-control" name="rxNumber" [(ngModel)]="pay.rxNumber" [ngModelOptions]="{standalone: true}" disabled>
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <input class="form-control" name="rxDate" [(ngModel)]="pay.rxDate" [ngModelOptions]="{standalone: true}" disabled>
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <input class="form-control" name="invoiceNumber" [(ngModel)]="pay.invoiceNumber" [ngModelOptions]="{standalone: true}" disabled>
                    </div>
                  </td>
                  <td *ngIf="allowed">
                    <button type="button" class="btn btn-primary btn-xs" (click)="savePayment(pay)" id="savePaymentButton">
                        <span class="glyphicon glyphicon-edit"></span> Save
                    </button>
                    <button type="button" class="btn bg-darkRed btn-xs" (click)="cancel()">
                        <span class="glyphicon glyphicon-trash"></span> Cancel
                    </button>
                  </td>
                </ng-container>
                <ng-container *ngIf="editingPaymentId!=pay.prescriptionPaymentId">
                  <td>{{pay.postedDate | date:"shortDate"}}</td>
                  <td>{{pay.checkNumber}}</td>
                  <td>{{pay.checkAmt | currency:'USD':true:'1.2-2'}}</td>
                  <td>{{pay.rxNumber}}</td>
                  <td>{{pay.rxDate | date:"shortDate"}}</td>
                  <td>{{pay.invoiceNumber}}</td>
                  <td *ngIf="allowed">
                    <button type="button" class="btn btn-primary btn-xs" (click)="update(pay)">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button type="button" class="btn btn-danger bg-darkRed btn-xs" (click)="del(pay)">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>