.table-responsive {
    position: relative;
    overflow-x: hidden;
}

#fixed-header {
    position: fixed;
    top: 43px;
    background: #fbeede;
    z-index: 2;
    padding: 1.6rem 0;
}

table {
    table-layout: fixed;
    width: 99% !important;
    overflow-x: hidden;
}

thead,
tbody {
    overflow-y: hidden !important;
}

td,
th {
    font-size: 9pt;
    word-wrap: break-word;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

textarea {
    resize: vertical;
}

tr>th,
tr>td {
    width: 100%;
    text-align: center;
}

tr>th:first-child,
tr>td:first-child,
tr>th:nth-child(2),
tr>td:nth-child(2),
tr>th:nth-child(3),
tr>td:nth-child(3),
tr>th:nth-child(4),
tr>td:nth-child(4),
tr>th:nth-child(5),
tr>td:nth-child(5),
tr>th:nth-child(6),
tr>td:nth-child(6) {
    max-width: 12%;
}

tr>th:nth-child(7),
tr>td:nth-child(7) {
    max-width: 28%; 
    text-align: right;
    word-wrap: normal;
}

tr>td:last-child {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
}

tr>th:last-child,
tr>td:last-child,
{
    text-align: right !important;
}

td>a.label {
    font-size: 1.2rem;
}

table {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

tbody,
thead {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: scroll;
}

tbody.overflowable,
thead.overflowable {
    flex-grow: 1;
    flex-shrink: 1;
}

tr {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
}

td,
th {
    display: block;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}


.bg-darkblue {
    background-color: #414772 !important;
}

.fa.rotate {
    transform: rotate(-90deg);
    margin-top: 5px;
    position: absolute;
    margin-left: 2px;
}

@media screen and (max-width: 300px) {
    .fa.rotate {
        margin-left: 2px;
    }
}

@media screen and (min-width: 300px) {
    .fa.rotate {
        margin-left: 25px;
    }
}

tbody>tr.bgBlue td::selection,
tbody>tr.bgBlue td a::selection {
    background: transparent !important;
}

tbody>tr:hover {
    background: #b6f1ff !important;
    cursor: pointer;
    color: #000;
}

tbody>tr:hover td,
tbody>tr:hover td::selection {
    color: #000;
}

.row.invoice-info,
.row.invoice-info .invoice-col {
    height: 100% !important;
    position: relative;
    display: block;
}

.invoice-col {
    overflow: hidden;
}

.top-header {
    width: 96%;
    height: 43px;
    position: absolute;
    overflow: hidden;
}

.table-body {
    position: absolute;
    width: 96%;
    top: 43px;
    height: calc(100% - 43px);
    overflow-y: scroll;
}

/*SORT*/

thead span {
    cursor: pointer;
}

.fa-unsorted:before,
.fa-sort:before,
.fa-sort-up:before,
.fa-sort-asc:before,
.fa-sort-down:before,
.fa-sort-desc:before {
    padding-right: 0.6rem;
    font-size: 1.4rem;
    color: #666;
}

/*Unnecessary-space*/
.table>thead>tr>th[_ngcontent-c9] {
    border-bottom: 0px;
}