<div class="row">
  <div class="col-md-12">
    <section class="content-header">
      <ol class="breadcrumb pull-left">
        <li>
          <a routerLink="/">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="active">
          <a [routerLink]="[]">
            References
          </a>
        </li>
      </ol>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="box">
      <div class="box-header with-border" style=" display: flex;flex-direction: row;padding:12px 10px ">
        <h3 class="box-title">References

        </h3>
      </div>
    </div>
    <ng-container>
      <div class="row search">
        <div class="col-sm-12" id="accordion">
          <div class="box no-border" style="font-weight:normal;padding: 0px;margin-bottom:0rem;">
            <div class="box-header bg-head-box">
                                    <span class="blade-title panel-head">
                                        <h4 class="panel-title" style="font-weight:normal;">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseCheckA">
                                                <i class="fa fa-search white" aria-hidden="true"></i>
                                                <span class="left5 right5 white">Search and Filter</span>
                                                <i class="fa fa-filter white" aria-hidden="true"></i>
                                            </a>
                                            <span class="total">
                                                <span style="font-size:16px;margin-right:100px;">
                                                     REFERENCES</span>
                                            </span>
                                        </h4>
                                    </span>
            </div>

            <div class="box-body" style="padding: 0px 15px;" id="collapseCheckA" class="panel-collapse collapse in">
              <app-referencesfilter></app-referencesfilter>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" id="accordion">
          <div class="box">
            <div class="box-header bg-head-box">
                                    <span class="blade-title panel-head">
                                        <i class="fa fa-book" aria-hidden="true"></i> References
                                    </span>
              <span class="total">
                                        <span *ngIf="rs.totalAdjustors" style="margin-right:100px;">
                                            {{rs.getcurrentstartpage() + " to "+rs.currentPage * rs.pageSize}}</span>
                                        <span *ngIf="rs.totalAdjustors">
                                            <span style="font-size:13pt">{{rs.totalAdjustors}}</span>
                                            Record{{rs.totalAdjustors>1 ? 's':''}} found</span>
                                    </span>
              <div class="box-tools pull-right">
                <div class="btn-group">
                  <div class="dropdown menu">
                    <button class="btn transparent dropdown-toggle" type="button"
                            data-toggle="dropdown">Sort
                      by
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu">
                        <a tabindex="-1">Name</a>
                        <ul class="dropdown-menu">
                          <li
                              (click)="rs.setSortType('ASC')">
                            <a tabindex="-1">Ascending</a>
                          </li>
                          <li
                              (click)="rs.setSortType('DESC')">
                            <a tabindex="-1">Descending</a>
                          </li>
                        </ul>
                      </li>
                      <!--<ng-container *ngIf="!ds.postedChecks">-->
                        <!--<li class="dropdown-submenu" [class.active]="ds.checksData.sort=='CreationTime'">-->
                          <!--<a tabindex="-1">Date Created</a>-->
                          <!--<ul class="dropdown-menu">-->
                            <!--<li [class.active]="ds.checksData.sort=='CreationTime' && ds.checksData.sortDirection=='ASC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'CreationTime','dir':'asc'})">-->
                              <!--<a tabindex="-1">Ascending</a>-->
                            <!--</li>-->
                            <!--<li [class.active]="ds.checksData.sort=='CreationTime' && ds.checksData.sortDirection=='DESC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'CreationTime','dir':'desc'})">-->
                              <!--<a tabindex="-1">Descending</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown-submenu" [class.active]="ds.checksData.sort=='fileSize'">-->
                          <!--<a class="test" tabindex="-1">Size</a>-->
                          <!--<ul class="dropdown-menu">-->
                            <!--<li [class.active]="ds.checksData.sort=='fileSize' && ds.checksData.sortDirection=='ASC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'fileSize','dir':'asc'})">-->
                              <!--<a tabindex="-1">Ascending</a>-->
                            <!--</li>-->
                            <!--<li [class.active]="ds.checksData.sort=='fileSize' && ds.checksData.sortDirection=='DESC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'fileSize','dir':'desc'})">-->
                              <!--<a tabindex="-1">Descending</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown-submenu" [class.active]="ds.checksData.sort=='LastAccessTime'">-->
                          <!--<a class="test" tabindex="-1">-->
                            <!--Last Accessed-->
                          <!--</a>-->
                          <!--<ul class="dropdown-menu">-->
                            <!--<li [class.active]="ds.checksData.sort=='LastAccessTime' && ds.checksData.sortDirection=='ASC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'LastAccessTime','dir':'asc'})">-->
                              <!--<a tabindex="-1">Ascending</a>-->
                            <!--</li>-->
                            <!--<li [class.active]="ds.checksData.sort=='LastAccessTime' && ds.checksData.sortDirection=='DESC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'LastAccessTime','dir':'desc'})">-->
                              <!--<a tabindex="-1">Descending</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown-submenu" [class.active]="ds.checksData.sort=='LastWriteTime'">-->
                          <!--<a class="test" tabindex="-1">-->
                            <!--Last Write-->
                          <!--</a>-->
                          <!--<ul class="dropdown-menu">-->
                            <!--<li [class.active]="ds.checksData.sort=='LastWriteTime' && ds.checksData.sortDirection=='ASC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'LastWriteTime','dir':'asc'})">-->
                              <!--<a tabindex="-1">Ascending</a>-->
                            <!--</li>-->
                            <!--<li [class.active]="ds.checksData.sort=='LastWriteTime' && ds.checksData.sortDirection=='DESC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'LastWriteTime','dir':'desc'})">-->
                              <!--<a tabindex="-1">Descending</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                      <!--</ng-container>-->
                      <!--<ng-container *ngIf="ds.postedChecks">-->
                        <!--<li class="dropdown-submenu" [class.active]="ds.checksData.sort=='CheckNumber'">-->
                          <!--<a tabindex="-1">Check Number</a>-->
                          <!--<ul class="dropdown-menu">-->
                            <!--<li [class.active]="ds.checksData.sort=='CheckNumber' && ds.checksData.sortDirection=='ASC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'CheckNumber','dir':'asc'})">-->
                              <!--<a tabindex="-1">Ascending</a>-->
                            <!--</li>-->
                            <!--<li [class.active]="ds.checksData.sort=='CheckNumber' && ds.checksData.sortDirection=='DESC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'CheckNumber','dir':'desc'})">-->
                              <!--<a tabindex="-1">Descending</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown-submenu" [class.active]="ds.checksData.sort=='FileUrl'">-->
                          <!--<a tabindex="-1">File URL</a>-->
                          <!--<ul class="dropdown-menu">-->
                            <!--<li [class.active]="ds.checksData.sort=='FileUrl' && ds.checksData.sortDirection=='ASC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'FileUrl','dir':'asc'})">-->
                              <!--<a tabindex="-1">Ascending</a>-->
                            <!--</li>-->
                            <!--<li [class.active]="ds.checksData.sort=='FileUrl' && ds.checksData.sortDirection=='DESC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'FileUrl','dir':'desc'})">-->
                              <!--<a tabindex="-1">Descending</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown-submenu" [class.active]="ds.checksData.sort=='IndexedBy'">-->
                          <!--<a tabindex="-1">Indexed By</a>-->
                          <!--<ul class="dropdown-menu">-->
                            <!--<li [class.active]="ds.checksData.sort=='IndexedBy' && ds.checksData.sortDirection=='ASC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'IndexedBy','dir':'asc'})">-->
                              <!--<a tabindex="-1">Ascending</a>-->
                            <!--</li>-->
                            <!--<li [class.active]="ds.checksData.sort=='IndexedBy' && ds.checksData.sortDirection=='DESC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'IndexedBy','dir':'desc'})">-->
                              <!--<a tabindex="-1">Descending</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown-submenu" [class.active]="ds.checksData.sort=='NumberOfPayments'">-->
                          <!--<a tabindex="-1">Number Of Payments</a>-->
                          <!--<ul class="dropdown-menu">-->
                            <!--<li [class.active]="ds.checksData.sort=='NumberOfPayments' && ds.checksData.sortDirection=='ASC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'NumberOfPayments','dir':'asc'})">-->
                              <!--<a tabindex="-1">Ascending</a>-->
                            <!--</li>-->
                            <!--<li [class.active]="ds.checksData.sort=='NumberOfPayments' && ds.checksData.sortDirection=='DESC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'NumberOfPayments','dir':'desc'})">-->
                              <!--<a tabindex="-1">Descending</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown-submenu" [class.active]="ds.checksData.sort=='TotalAmountPaid'">-->
                          <!--<a tabindex="-1">Total Amount Paid</a>-->
                          <!--<ul class="dropdown-menu">-->
                            <!--<li [class.active]="ds.checksData.sort=='TotalAmountPaid' && ds.checksData.sortDirection=='ASC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'TotalAmountPaid','dir':'asc'})">-->
                              <!--<a tabindex="-1">Ascending</a>-->
                            <!--</li>-->
                            <!--<li [class.active]="ds.checksData.sort=='TotalAmountPaid' && ds.checksData.sortDirection=='DESC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'TotalAmountPaid','dir':'desc'})">-->
                              <!--<a tabindex="-1">Descending</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown-submenu" [class.active]="ds.checksData.sort=='IndexedOn'">-->
                          <!--<a tabindex="-1">Indexed On</a>-->
                          <!--<ul class="dropdown-menu">-->
                            <!--<li [class.active]="ds.checksData.sort=='IndexedOn' && ds.checksData.sortDirection=='ASC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'IndexedOn','dir':'asc'})">-->
                              <!--<a tabindex="-1">Ascending</a>-->
                            <!--</li>-->
                            <!--<li [class.active]="ds.checksData.sort=='IndexedOn' && ds.checksData.sortDirection=='DESC'"-->
                                <!--(click)="ds.onCheckSortColumn({'column':'IndexedOn','dir':'desc'})">-->
                              <!--<a tabindex="-1">Descending</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                      <!--</ng-container>-->
                    </ul>
                  </div>
                  <!--<button type="button" *ngIf="rs.checkDisplay=='list'" class="pull-right transparent btn btn-flat btn-sm"-->
                          <!--(click)="rs.checkDisplay='grid'" title="Grid View" style=" margin-right: 60px; ">-->
                    <!--<i class="fa fa-th"></i>-->
                  <!--</button>-->
                  <!--<button type="button" *ngIf="rs.checkDisplay=='grid'" class="pull-right  transparent btn btn-flat btn-sm"-->
                          <!--(click)="rs.checkDisplay='list'" title="List View" style=" margin-right: 60px; ">-->
                    <!--<i class="fa fa-list"></i>-->
                  <!--</button>-->
                </div>
              </div>
            </div>
            <div class="box-body documents">
<app-adjustors></app-adjustors>
            </div>
          </div>
        </div>
      </div>

    </ng-container>

  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="box" id="modalWindowMax">


      <div class="overlay" *ngIf="rs.loading">
        <img src="assets/1.gif">
      </div>
    </div>
  </div>
</div>
