<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="BridgeportClaimsConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Server=jdgdb2.database.windows.net;Database=BridgeportClaims;User ID=bridgeportClaimsWindowsServiceUser;Password=dY@fk$UYFK!;Trusted_Connection=False;Encrypt=True;"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="ImagesLocation" value="C:\Network Drive\Scans\Correspondence" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InvoicesLocation" value="C:\Network Drive\Common\Invoicing" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ChecksLocation" value="C:\Network Drive\Scans\Check\Index" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>