form{
  background: #ffffff;
}

form .col-md-2.flex{
  width:165px;
  padding-right:2px;
  padding-left:2px;
}

form .col-md-2.flex .form-group span{
  display:flex;
  flex-direction: row;
}

#filter-text-box {
  border: 1px solid black;
}
