.box-header {
  padding: 10px 10px 5px 10px;
}

.table-responsive {
  overflow-x: hidden;
}

table {
  table-layout: fixed;
  width: 99% !important;
  overflow-x: hidden;
}

td,
th {
  padding-bottom: 8px !important;
  padding-top: 3px !important;
  font-size: 9pt;
  word-wrap: break-word;
}

tr.active,
tr.active td {
  background: lightblue !important;
}

textarea {
  resize: vertical;
}

.bg-darkblue {
  background-color: #414772;
  color: #fff;
}

.bg-vdarkgrey {
  background-color: #111d21 !important;
  color: #fff;
}

.view-btn {
  padding-bottom: 2px;
  top: 2px;
  position: relative;
  border-radius: .25em;
}
/*ROW COLOR CHANGE*/

tr:nth-of-type(odd) {
  background: #fbeede !important;
}

tr:nth-of-type(even) {
  background: #fff8ef !important;
}

.btn-group.flex2.open .dropdown-toggle,.btn-group.flex2 .dropdown-toggle{
  color:black !important;
  box-shadow: none;
}
