<div class="row">
    <a routerLink="/main/reports/revenue" class="col-xs-3">
        <div class="small-box bg-orange">
            <div class="inner">  
              <h3>&nbsp;</h3>    
              <p>Revenue From Last 21 Days</p>
            </div>
            <div class="icon">
              <i class="fa fa-bar-chart"></i>
            </div>
        </div>
      </a>
    <!-- ./col -->
    <a routerLink="/main/reports/account-receivable" class="col-xs-3">
        <div class="small-box bg-aqua">
            <div class="inner">           
              <h3> &nbsp;</h3>
              <p>Accounts Receivable</p>
            </div>
            <div class="icon">
              <i class="fa fa-table"></i>
            </div>
        </div>
      </a>
    <!-- ./col -->
    <a class="col-xs-3 not-allowed">
        <div class="small-box bg-green">
            <div class="inner">
              <h3>Stats</h3>            
              <p>Report Name</p>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-basket"></i>
            </div>
        </div>
      </a>
      <!-- ./col -->
    <a class="col-xs-3 not-allowed">
        <div class="small-box bg-yellow">
            <div class="inner">
              <h3>Stats</h3>            
              <p>Report Name</p>
            </div>
            <div class="icon">
              <i class="fa fa-pie-chart"></i>
            </div>
        </div>
      </a>
      <!-- ./col -->
    <a class="col-xs-3 not-allowed">
      <div class="small-box bg-red">
          <div class="inner">
            <h3>Stats</h3>            
            <p>Report Name</p>
          </div>
          <div class="icon">
            <i class="fa fa-line-chart"></i>
          </div>
      </div>
    </a>
    <!-- ./col -->
    <a class="col-xs-3 not-allowed">
      <div class="small-box bg-purple">
          <div class="inner">
            <h3>Stats</h3>            
            <p>Report Name</p>
          </div>
          <div class="icon">
            <i class="fa fa-line-chart"></i>
          </div>
      </div>
    </a>
    <!-- ./col -->
  </div>