<div class="row list">
  <a routerLink="/main/reports/revenue" class="col-xs-3">
    <div class="small-box bg-orange">
      <div class="inner">
        <h4>Revenue From Last 21 Days</h4>
        <p>&nbsp;</p>
      </div>
      <div class="icon">
        <i class="fa fa-bar-chart"></i>
      </div>
    </div>
  </a>
  <!-- ./col -->
  <a routerLink="/main/reports/account-receivable" class="col-xs-3">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h4> Accounts Receivable</h4>
        <p>&nbsp;</p>
      </div>
      <div class="icon">
        <i class="fa fa-table"></i>
      </div>
    </div>
  </a>
  <!-- <a class="col-xs-3 not-allowed">
        <div class="small-box bg-green">
            <div class="inner">
              <h4>Report Name</h4>            
              <p>&nbsp;</p>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-basket"></i>
            </div>
        </div>
      </a> 
    <a class="col-xs-3 not-allowed">
        <div class="small-box bg-yellow">
            <div class="inner">
              <h4>Report Name</h4>            
              <p>&nbsp;</p>
            </div>
            <div class="icon">
              <i class="fa fa-pie-chart"></i>
            </div>
        </div>
      </a> 
    <a class="col-xs-3 not-allowed">
      <div class="small-box bg-red">
          <div class="inner">
            <h4>Report Name</h4>            
            <p>&nbsp;</p>
          </div>
          <div class="icon">
            <i class="fa fa-line-chart"></i>
          </div>
      </div>
    </a> 
    <a class="col-xs-3 not-allowed">
      <div class="small-box bg-purple">
          <div class="inner">
            <h4>Report Name</h4>            
            <p>&nbsp;</p>
          </div>
          <div class="icon">
            <i class="fa fa-line-chart"></i>
          </div>
      </div>
    </a>  -->
</div>