<div class="row">
  <div class="col-sm-12 expanded" style="overflow:hidden;">
    <div class="table-responsive top-header" *ngIf="firewallService.display=='list'">
      <ul class="products-list product-list-in-box">
        <li class="item row" style="font-weight: 600">
          <div class="col-md-3">
            Rule Name
          </div>
          <div class="col-md-3">
            Start IP Address
          </div>
          <div class="col-md-3">
            End IP Address
          </div>
          <div class="col-md-3">
            &nbsp;
          </div>
        </li>
      </ul>
    </div>
    <div class="table-responsive table-body" *ngIf="firewallService.display=='list'">
      <ul class="products-list product-list-in-box">
        <li class="item row" *ngFor="let fw of firewallService.firewallList" [class.edited]="fw.edited" [class.added]="fw.added"
          [class.deleted]="fw.deleted">
          <div class="col-md-3">
            {{fw.ruleName}}
          </div>
          <div class="col-md-3">
            {{fw.startIpAddress}}
          </div>
          <div class="col-md-3">
            {{fw.endIpAddress}}
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-danger bg-darkRed btn-xs" (click)="delete(fw)">
              <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
