<div class="row claim-info">
    <div class="col-sm-12 claim-col expanded" style="overflow:hidden;">
        <!-- Table Header -->
        <div class="table-responsive top-header">
            <table class="table no-margin table-striped">
                <thead class="overflowable" id="fixed-thead">
                    <tr (tableSort)="episodeService.onSortColumn($event)" #myTable='table-sort'>
                        <th>
                            <span>Action</span>
                        </th>
                        <th [class.resolved]="episodeService.data.resolved">
                            <span>Resolve</span>
                        </th>
                        <th>
                            <span columnSort="episodeId" [sort-table]="myTable">
                                ID
                            </span>
                        </th>
                        <th>
                            <span columnSort="owner" [sort-table]="myTable">
                                Owner
                            </span>
                        </th>
                        <th>
                            <span columnSort="created" [sort-table]="myTable">
                                Created
                            </span>
                        </th>
                        <th>
                            <span columnSort="patientName" [sort-table]="myTable">
                                Patient Name
                            </span>
                        </th>
                        <th>
                            <span columnSort="claimNumber" [sort-table]="myTable">
                                Claim #
                            </span>
                        </th>
                        <th>
                            <span columnSort="type" [sort-table]="myTable">
                                Type
                            </span>
                        </th>
                        <th>
                            <span columnSort="pharmacy" [sort-table]="myTable">
                                Pharmacy
                            </span>
                        </th>
                        <th>
                            <span columnSort="carrier" [sort-table]="myTable">
                                Insurance Carrier
                            </span>
                        </th>
                        <th>
                            <span columnSort="fileUrl" [sort-table]="myTable">
                                Images
                            </span>
                        </th>
                        <th [class.resolved]="episodeService.data.resolved">
                            <span columnSort="episodeNote" [sort-table]="myTable">
                                Note Count
                            </span>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- Table Body -->
        <div class="table-responsive table-body">
            <table class="table no-margin table-striped" id="maintable">
                <tbody class="overflowable" #episodeTable tabindex="0">
                    <tr *ngIf="episodeService.totalRowCount==0" class="no-result">
                        <td colspan="11" class="no-result">
                            No Episode Found matching your search criteria
                        </td>
                    </tr>
                    <tr *ngFor="let episode of (episodeService.episodeList | episodePipe : episodeService.episodeNote : episodeService.owner);" (dblclick)="openClaim(episode)">
                        <td class="dropdown">
                             <button type="button" class="btn btn-primary btn-xs" (click)="assign(episode)">
                                <span class="fa fa-list-ul"></span> Action
                            </button>
                        </td>
                        <td [class.resolved]="episodeService.data.resolved">
                            <div class="commonCheckBox">
                                <input type="checkbox" name="check" value="None" [id]="'checkbox-h'+episode.episodeId" #inv (change)="markAsResolved($event,episode)"
                                    [checked]="episodeService.data.resolved" [disabled]="episodeService.data.resolved">
                                <label [for]="'checkbox-h'+episode.episodeId"></label>
                            </div>
                        </td>
                        <td>{{episode.episodeId}}</td>
                        <td>{{episode.owner}}</td>
                        <td>{{formatDate(episode.created)}}</td>
                        <td>{{episode.patientName}}</td>
                        <td>{{episode.claimNumber}}</td>
                        <td>{{episode.type}}</td>
                        <td>{{episode.pharmacy}}</td>
                        <td>{{episode.carrier}}</td>
                        <td>
                            <i class="fa fa-2x fa-file-pdf-o text-red" *ngIf="episode.fileUrl" (click)="openFile(episode)"></i>
                        </td>
                        <td [class.resolved]="episodeService.data.resolved">
                            <a class="label label-info bg-vdarkgrey" (click)="showNoteWindow(episode)">{{episode.episodeNoteCount}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btn-group pagination-row">
            <button type="button" class="btn btn-default  btn-md" [disabled]="episodeService.data.pageNumber<=1" (click)="prev()">Prev</button>
            <button type="button" class="btn btn-default  selected btn-md" style="width:76px"> {{episodeService.data.pageNumber}} of {{episodeService.totalPages}}</button>
            <button type="button" class="btn btn-default  btn-md" [disabled]="episodeService.end" (click)="next()">Next</button>
            <div class="input-group" style="width:164px">
                <input class="form-control" [attr.placeholder]="episodeService.data.pageNumber" [(ngModel)]="episodeService.goToPage" (keypress)="keyPress($event)"
                    (keyup.enter)="goto()" [disabled]="episodeService.totalPages==1">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-success goto" (click)="goto()">Go to Page</button>
                </div>
            </div>
        </div>
    </div>
</div>
<swal #episodeActionSwal [showCancelButton]="false" [showConfirmButton]="false" customClass="payment-modal episodes" [focusCancel]="false" title="Acquire or Assign Episode"><app-acquire-episode *swalPartial></app-acquire-episode><swal>