.bg-DarkGreen {
    background: #084205;
    color: #fff;
}
.bg-darkRed {
    background: #992727;
    color: #fff;
}
form{
    background: #ffffff;
}
form .col-md-2.flex{
    width:165px;
    padding-right:2px;
    padding-left:2px;
}
form .col-md-2.flex .form-group span{
    display:flex;
    flex-direction: row;
}
.flex65{
    width:fit-content;
    padding-right:2px;
    padding-left:2px;
    padding-top: 25px;
}
.flex65.form-group button{
    max-height:39px;
}
.flex,.flex65.form-group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flexb{
    padding: 0px;
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
  }
.commonCheckBox {
    padding:4px 0px;
}
.commonCheckBox label {
    line-height:20px;
    margin-left:2px;
    margin-bottom: 0px;
}
.commonCheckBox label:first-of-type {
    position: relative;
    margin-right: 1px;
    top:0px
}