<div class="row invoice-info" *ngIf="claimManager.selectedClaim && !claimManager.selectedClaim.editing">
    <div class="label-info-container">
        <span class="label label-info bg-vdarkgrey note-type" *ngIf="claimManager.selectedClaim?.claimNote?.noteType !== null" style="font-size:11pt;"> {{claimManager.selectedClaim?.claimNote?.noteType}}</span>
    </div>
    <div class="col-sm-12 invoice-col">
        <div class="table-responsive">
            <table class="table no-margin table-striped">
                <tbody>
                    <tr>
                        <td *ngIf="claimManager.selectedClaim && claimManager.selectedClaim.claimNote">
                            <span [innerHTML]="parseText(claimManager.selectedClaim.claimNote.noteText)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row invoice-info" *ngIf="claimManager.selectedClaim && claimManager.selectedClaim.editing">
    <form role="form" [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off" (keyup.enter)="saveNote()">
        <div class="form-group col-sm-offset-1 col-sm-10 invoice-col" [class.has-error]="form.controls['noteTypeId'].errors">
            <label><i class="fa fa-times-circle-o" *ngIf="form.controls['noteTypeId'].errors"></i>Claim Types</label>
            <select class="form-control" [formControl]="form.controls['noteTypeId']">
                <option *ngFor="let note of claimManager.NoteTypes" [value]="note.key">{{note.value}}</option>
              </select>
        </div>
        <div class="form-group col-sm-offset-1 col-sm-10 invoice-col" [class.has-error]="form.controls['noteText'].errors">
            <label><i class="fa fa-times-circle-o" *ngIf="form.controls['noteText'].errors"></i>Claim Text</label>
            <textarea class="form-control" name="noteText" class="form-control" [formControl]="form.controls['noteText']" focus-on></textarea>
        </div>
        <div class="form-group col-sm-offset-1 col-sm-10 invoice-col text-right">
            <button class="btn bg-purple btn-flat" type="button" (click)="saveNote()">Save</button>
            <button class="btn btn-danger btn-flat margin" type="button" (click)="claimManager.selectedClaim.editing=false">Cancel</button>
        </div>
    </form>
</div>
