  <div class="row invoice-info">
        <div class="col-sm-12 invoice-col">
          <div class="table-responsive">
            <table class="table no-margin table-striped">
              <tbody>
                  <tr>
                    <td *ngIf="claimManager.selectedClaim && claimManager.selectedClaim.claimNote">
                      {{claimManager.selectedClaim.claimNote.noteText}}
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>