<form role="form" autocomplete="off" autocapitalize="none" autocomplete="off" (keyup.enter)="search()">
    <div class="row">
        <div class="col-md-12 flex">
            <div class="form-group" style="max-width:135px;margin-right:15px">
                <label>Start Date</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input class="form-control pull-right" id="startDate" name="startDate" type="text" [(ngModel)]="startDate" (focus)="submitted=false"
                        data-inputmask="'alias': 'mm/dd/yyyy'" data-mask focus-on>
                </div>
            </div>
            <div class="form-group" style="max-width:135px;margin-right:15px;">
                <label>End Date</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input class="form-control pull-right" id="endDate" name="endDate" type="text" [(ngModel)]="endDate" (focus)="submitted=false"
                        data-inputmask="'alias': 'mm/dd/yyyy'" data-mask focus-on>
                </div>
            </div>
            <div class="form-group" style="min-width:400px;max-width:850px;margin-right:15px">
                <label>Carrier</label>

                <select class="form-control select2" id="payorsSelection" multiple="multiple" data-placeholder="Start typing to search carriers..."
                    size="1" style="width: 100%;">
                    <option *ngFor="let p of payorsId" [value]="p.payorId">{{p.carrier}}</option>
                </select>

            </div>
            <div class="form-group" style="max-width:95px;margin-right:15px">
                <label>
                    <br>
                </label>
                <div class="input-group date" style="border-right: 1px solid #ccc;border-left: 1px solid #ccc;">
                    <span class="input-group-addon" style="padding:6px 0px;">
                        <div class="commonCheckBox">
                            <input class="archivedCheck" name="check" type="checkbox" id="archivedCheck" (change)="filter($event)">
                            <label for="archivedCheck" class="archived"></label>
                            <label for="archivedCheck">Archived</label>
                        </div>
                    </span>
                </div>
            </div>
            <div class="form-group flex65">
                <label>&nbsp;</label>
                <br/>
                <span>
                    <button class="color-palette btn bg-darkRed btn-flat btn-small" type="button" (click)="search()">
                        <i class="fa fa-search" aria-hidden="true"></i> Search</button> &nbsp;
                    <button class="color-palette btn bg-darkblue btn-flat btn-small" type="button" (click)="clearDates()">
                        <i class="fa fa-eraser" aria-hidden="true"></i> Clear Inputs</button>
                </span>
            </div>
        </div>
    </div>
</form>
