<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box" id="modalWindowMax">
            <div class="box-body">
                <!-- Input Form -->
                <ng-container *ngIf="!ds.newCheck">
                    <!-- Document Results -->
                    <div class="tabbable" *ngIf="!ds.newCheck" style="display: flex;flex-direction: row">
                        <ul class="nav nav-pills nav-stacked" style="width:125px;">
                            <li class="active"><a href="#checksA" data-toggle="tab" (click)="setCurrent('Valid')">Valid</a></li>
                            <li><a href="#checksB" data-toggle="tab"  (click)="setCurrent('Invalid')">Invalid</a></li>
                        </ul>
                        <div class="tab-content" style="width:calc(100% - 127px);">
                            <div class="tab-pane active" id="checksA">
                                <div class="row search">
                                    <div class="col-sm-12" id="accordion">
                                        <div class="box no-border" style="padding: 0px;margin-bottom:0rem;">
                                            <div class="box-header bg-head-box">
                                                <span class="blade-title panel-head">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseCheckA">
                                                            <i class="fa fa-search white" aria-hidden="true"></i>
                                                            <span class="left5 right5 white">Search and Filter</span>
                                                            <i class="fa fa-filter white" aria-hidden="true"></i>
                                                        </a>
                                                        <span class="total">
                                                                <span style="font-size:16px;margin-right:100px;">
                                                                   VALID CHECKS</span>
                                                            </span>
                                                    </h4>
                                                </span>
                                            </div>
                                            <div class="box-body" style="padding: 0px 15px;" id="collapseCheckA" class="panel-collapse collapse in">
                                                <indexing-unindexed-check-filter></indexing-unindexed-check-filter>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" id="accordion">
                                        <div class="box">
                                            <div class="box-header bg-head-box">
                                                <span class="blade-title panel-head">
                                                    <i class="fa fa-book" aria-hidden="true"></i> Documents
                                                </span>
                                                <span class="total">
                                                    <span *ngIf="ds.checkPageStart" style="margin-right:100px;">
                                                        {{ds.checkPageStart+ "
                                                        to "+ds.checkPageEnd}}</span>
                                                    <span *ngIf="ds.checksList.length>0">
                                                        <span style="font-size:13pt">{{ds.totalCheckRowCount}}</span>
                                                        Record{{ds.totalCheckRowCount>1 ? 's':''}} found</span>
                                                </span>
                                                <div class="box-tools pull-right">
                                                    <div class="btn-group">
                                                        <div class="dropdown menu">
                                                            <button class="btn transparent dropdown-toggle" type="button"
                                                                data-toggle="dropdown">Sort
                                                                by
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li class="dropdown-submenu" [class.active]="ds.checksData.sort=='fileName'">
                                                                    <a tabindex="-1">Name</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li [class.active]="ds.checksData.sort=='fileName' && ds.checksData.sortDirection=='ASC'"
                                                                            (click)="ds.onCheckSortColumn({'column':'fileName','dir':'asc'})">
                                                                            <a tabindex="-1">Ascending</a>
                                                                        </li>
                                                                        <li [class.active]="ds.checksData.sort=='fileName' && ds.checksData.sortDirection=='DESC'"
                                                                            (click)="ds.onCheckSortColumn({'column':'fileName','dir':'desc'})">
                                                                            <a tabindex="-1">Descending</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown-submenu" [class.active]="ds.checksData.sort=='CreationTime'">
                                                                    <a tabindex="-1">Date Created</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li [class.active]="ds.checksData.sort=='CreationTime' && ds.checksData.sortDirection=='ASC'"
                                                                            (click)="ds.onCheckSortColumn({'column':'CreationTime','dir':'asc'})">
                                                                            <a tabindex="-1">Ascending</a>
                                                                        </li>
                                                                        <li [class.active]="ds.checksData.sort=='CreationTime' && ds.checksData.sortDirection=='DESC'"
                                                                            (click)="ds.onCheckSortColumn({'column':'CreationTime','dir':'desc'})">
                                                                            <a tabindex="-1">Descending</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown-submenu" [class.active]="ds.checksData.sort=='fileSize'">
                                                                    <a class="test" tabindex="-1">Size</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li [class.active]="ds.checksData.sort=='fileSize' && ds.checksData.sortDirection=='ASC'"
                                                                            (click)="ds.onCheckSortColumn({'column':'fileSize','dir':'asc'})">
                                                                            <a tabindex="-1">Ascending</a>
                                                                        </li>
                                                                        <li [class.active]="ds.checksData.sort=='fileSize' && ds.checksData.sortDirection=='DESC'"
                                                                            (click)="ds.onCheckSortColumn({'column':'fileSize','dir':'desc'})">
                                                                            <a tabindex="-1">Descending</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown-submenu" [class.active]="ds.checksData.sort=='LastAccessTime'">
                                                                    <a class="test" tabindex="-1">
                                                                        Last Accessed
                                                                    </a>
                                                                    <ul class="dropdown-menu">
                                                                        <li [class.active]="ds.checksData.sort=='LastAccessTime' && ds.checksData.sortDirection=='ASC'"
                                                                            (click)="ds.onCheckSortColumn({'column':'LastAccessTime','dir':'asc'})">
                                                                            <a tabindex="-1">Ascending</a>
                                                                        </li>
                                                                        <li [class.active]="ds.checksData.sort=='LastAccessTime' && ds.checksData.sortDirection=='DESC'"
                                                                            (click)="ds.onCheckSortColumn({'column':'LastAccessTime','dir':'desc'})">
                                                                            <a tabindex="-1">Descending</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown-submenu" [class.active]="ds.checksData.sort=='LastWriteTime'">
                                                                    <a class="test" tabindex="-1">
                                                                        Last Write
                                                                    </a>
                                                                    <ul class="dropdown-menu">
                                                                        <li [class.active]="ds.checksData.sort=='LastWriteTime' && ds.checksData.sortDirection=='ASC'"
                                                                            (click)="ds.onCheckSortColumn({'column':'LastWriteTime','dir':'asc'})">
                                                                            <a tabindex="-1">Ascending</a>
                                                                        </li>
                                                                        <li [class.active]="ds.checksData.sort=='LastWriteTime' && ds.checksData.sortDirection=='DESC'"
                                                                            (click)="ds.onCheckSortColumn({'column':'LastWriteTime','dir':'desc'})">
                                                                            <a tabindex="-1">Descending</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <button type="button" *ngIf="ds.checkDisplay=='list'" class="pull-right transparent btn btn-flat btn-sm"
                                                            (click)="ds.checkDisplay='grid'" title="Grid View">
                                                            <i class="fa fa-th"></i>
                                                        </button>
                                                        <button type="button" *ngIf="ds.checkDisplay=='grid'" class="pull-right  transparent btn btn-flat btn-sm"
                                                            (click)="ds.checkDisplay='list'" title="List View">
                                                            <i class="fa fa-list"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-body documents">
                                                <indexing-unindexed-check-list></indexing-unindexed-check-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane isVip" id="checksB">
                                <div class="row search">
                                    <div class="col-sm-12" id="accordion">
                                        <div class="box no-border" style="padding: 0px;margin-bottom:0rem;">
                                            <div class="box-header bg-head-box">
                                                <span class="blade-title panel-head">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseCheckB">
                                                            <i class="fa fa-search white" aria-hidden="true"></i>
                                                            <span class="left5 right5 white">Search and Filter</span>
                                                            <i class="fa fa-filter white" aria-hidden="true"></i>
                                                        </a>
                                                        <span class="total">
                                                            <span style="font-size:16px;margin-right:100px;">
                                                                INVALID CHECKS</span>
                                                        </span>
                                                    </h4>
                                                </span>
                                            </div>
                                            <div class="box-body" style="padding: 0px 15px;" id="collapseCheckB" class="panel-collapse collapse in">
                                                <indexing-unindexed-invalid-check-filter></indexing-unindexed-invalid-check-filter>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" id="accordion">
                                        <div class="box">
                                            <div class="box-header bg-head-box">
                                                <span class="blade-title panel-head">
                                                    <i class="fa fa-book" aria-hidden="true"></i> Documents
                                                </span>
                                                <span class="total">
                                                    <span *ngIf="ds.invalidCheckPageStart" style="margin-right:100px;">
                                                        {{ds.invalidCheckPageStart+ "
                                                        to "+ds.invalidCheckPageEnd}}</span>
                                                    <span *ngIf="ds.invalidChecksList.length>0">
                                                        <span style="font-size:13pt">{{ds.totalInvalidCheckRowCount}}</span>
                                                        Record{{ds.totalInvalidCheckRowCount>1 ? 's':''}} found</span>
                                                </span>
                                                <div class="box-tools pull-right">
                                                    <div class="btn-group">
                                                        <div class="dropdown menu">
                                                            <button class="btn transparent dropdown-toggle" type="button"
                                                                data-toggle="dropdown">Sort
                                                                by
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li class="dropdown-submenu" [class.active]="ds.invalidChecksData.sort=='fileName'">
                                                                    <a tabindex="-1">Name</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li [class.active]="ds.invalidChecksData.sort=='fileName' && ds.invalidChecksData.sortDirection=='ASC'"
                                                                            (click)="ds.onInvalidCheckSortColumn({'column':'fileName','dir':'asc'})">
                                                                            <a tabindex="-1">Ascending</a>
                                                                        </li>
                                                                        <li [class.active]="ds.invalidChecksData.sort=='fileName' && ds.invalidChecksData.sortDirection=='DESC'"
                                                                            (click)="ds.onInvalidCheckSortColumn({'column':'fileName','dir':'desc'})">
                                                                            <a tabindex="-1">Descending</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown-submenu" [class.active]="ds.invalidChecksData.sort=='CreationTime'">
                                                                    <a tabindex="-1">Date Created</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li [class.active]="ds.invalidChecksData.sort=='CreationTime' && ds.invalidChecksData.sortDirection=='ASC'"
                                                                            (click)="ds.onInvalidCheckSortColumn({'column':'CreationTime','dir':'asc'})">
                                                                            <a tabindex="-1">Ascending</a>
                                                                        </li>
                                                                        <li [class.active]="ds.invalidChecksData.sort=='CreationTime' && ds.invalidChecksData.sortDirection=='DESC'"
                                                                            (click)="ds.onInvalidCheckSortColumn({'column':'CreationTime','dir':'desc'})">
                                                                            <a tabindex="-1">Descending</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown-submenu" [class.active]="ds.invalidChecksData.sort=='fileSize'">
                                                                    <a class="test" tabindex="-1">Size</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li [class.active]="ds.invalidChecksData.sort=='fileSize' && ds.invalidChecksData.sortDirection=='ASC'"
                                                                            (click)="ds.onInvalidCheckSortColumn({'column':'fileSize','dir':'asc'})">
                                                                            <a tabindex="-1">Ascending</a>
                                                                        </li>
                                                                        <li [class.active]="ds.invalidChecksData.sort=='fileSize' && ds.invalidChecksData.sortDirection=='DESC'"
                                                                            (click)="ds.onInvalidCheckSortColumn({'column':'fileSize','dir':'desc'})">
                                                                            <a tabindex="-1">Descending</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown-submenu" [class.active]="ds.invalidChecksData.sort=='LastAccessTime'">
                                                                    <a class="test" tabindex="-1">
                                                                        Last Accessed
                                                                    </a>
                                                                    <ul class="dropdown-menu">
                                                                        <li [class.active]="ds.invalidChecksData.sort=='LastAccessTime' && ds.invalidChecksData.sortDirection=='ASC'"
                                                                            (click)="ds.onInvalidCheckSortColumn({'column':'LastAccessTime','dir':'asc'})">
                                                                            <a tabindex="-1">Ascending</a>
                                                                        </li>
                                                                        <li [class.active]="ds.invalidChecksData.sort=='LastAccessTime' && ds.invalidChecksData.sortDirection=='DESC'"
                                                                            (click)="ds.onInvalidCheckSortColumn({'column':'LastAccessTime','dir':'desc'})">
                                                                            <a tabindex="-1">Descending</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown-submenu" [class.active]="ds.invalidChecksData.sort=='LastWriteTime'">
                                                                    <a class="test" tabindex="-1">
                                                                        Last Write
                                                                    </a>
                                                                    <ul class="dropdown-menu">
                                                                        <li [class.active]="ds.invalidChecksData.sort=='LastWriteTime' && ds.invalidChecksData.sortDirection=='ASC'"
                                                                            (click)="ds.onInvalidCheckSortColumn({'column':'LastWriteTime','dir':'asc'})">
                                                                            <a tabindex="-1">Ascending</a>
                                                                        </li>
                                                                        <li [class.active]="ds.invalidChecksData.sort=='LastWriteTime' && ds.invalidChecksData.sortDirection=='DESC'"
                                                                            (click)="ds.onInvalidCheckSortColumn({'column':'LastWriteTime','dir':'desc'})">
                                                                            <a tabindex="-1">Descending</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <button type="button" *ngIf="ds.invalidCheckDisplay=='list'"
                                                            class="pull-right transparent btn btn-flat btn-sm" (click)="ds.invalidCheckDisplay='grid'"
                                                            title="Grid View">
                                                            <i class="fa fa-th"></i>
                                                        </button>
                                                        <button type="button" *ngIf="ds.invalidCheckDisplay=='grid'"
                                                            class="pull-right  transparent btn btn-flat btn-sm" (click)="ds.invalidCheckDisplay='list'"
                                                            title="List View">
                                                            <i class="fa fa-list"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-body documents">
                                                <indexing-unindexed-invalid-check-list></indexing-unindexed-invalid-check-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="ds.newCheck">
                    <div class="row search" *ngIf="ds.indexNewCheck">
                        <div class="col-sm-12" id="accordion">
                            <div class="box no-border" style="padding: 0px;margin-bottom:0rem;" *ngIf="ds.newCheck">
                                <div class="box-header bg-head-box">
                                    <span class="blade-title panel-head">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseCheck">
                                                <i class="fa fa-search white" aria-hidden="true"></i>
                                                <span class="left5 right5 white">Indexing</span>
                                                <i class="fa fa-filter white" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </span>
                                </div>
                                <div class="box-body" style="padding: 0px 15px;" id="collapseCheck" class="panel-collapse collapse in">
                                    <form role="form" [formGroup]="form" autocomplete="off" autocapitalize="none"
                                        autocomplete="off" (keyup.enter)="saveCheck()">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Check Number</label>
                                                    <input class="form-control" type="text" formControlName="checkNumber"
                                                        (focus)="submitted=false">
                                                    <p class="text-danger" *ngIf="form.controls['checkNumber'].errors && form.controls['checkNumber'].touched">Please
                                                        provide a valid Check Number</p>
                                                </div>
                                            </div>
                                            <div class="col-md-2 flex">
                                                <div class="form-group">
                                                    <label>&nbsp;</label>
                                                    <span>
                                                        <button class="color-palette btn btn-block btn-flat bg-DarkGreen btn-md"
                                                            type="button" (click)="saveCheck()"> <i class="fa fa-calculator"></i> Begin Posting</button>
                                                        <button class="color-palette btn bg-darkblue btn-flat  btn-md"
                                                            type="button" (click)="cancel()" style="margin:0px 15px;">
                                                            <i class="fa fa-chevron-left"></i>Cancel
                                                        </button>
                                                        <button class="color-palette btn bg-darkRed btn-flat  btn-md"
                                                            type="button" (click)="archive()">
                                                            <i class="fa fa-trash"></i>Archive
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <indexing-unindexed-image-file [file]="ds.checksFile" type="checks"></indexing-unindexed-image-file>
                </ng-container>
            </div>
            <div class="overlay" *ngIf="ds.loading">
                <img src="assets/1.gif">
            </div>
        </div>
    </div>
</div>
<swal #checkSwal [showCancelButton]="false" [showConfirmButton]="false" customClass="invoice-modal" [focusCancel]="false"
    title="Re-index check">
    <indexing-unindexed-check [checkNumber]="form.controls['checkNumber'].value" *swalPartial></indexing-unindexed-check>
</swal>