.page-title h3 {
    margin: 0;
    padding: 10px 0 0 10px;
    font-weight: 400;
}

.box {
    border: 1.5px solid #d2d6de;
    margin-bottom: 2rem;
}
.box .box-body {
    overflow-x: hidden;
}
.bg-head-box {
    background: #992727;
    z-index: 3;
    color: #fff;
}

.blade-title {
    font-size: 18px;
}

.blade-title i {
    margin-right: 10px;
}

.total {
    display: block;
    margin-left:160px; 
    display: inline-table;
}

.diary-results {
    background: #fbeede;
}

.left5 {
    margin-left: 5px;
}

.right5 {
    margin-right: 15px;
}

.white {
    color: #ffffff;
}
.documents{
    padding-top:0px;
    padding-bottom:5px;
}
.transparent,.transparent:hover{
    background: transparent;
    color:white
}

.dropdown.menu {
    display: inline-table;
    margin-right: 150px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.box-header>.box-tools .dropdown-menu>li.active>a{
    color:white !important;
}

form .col-md-3.flex .form-group span,
form .flex .form-group span
{
  display:flex;
  flex-direction: row;
  
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background:transparent;
    border-left-color: #992727;
    color: #000;
}