.account-receivable-results {
    background: #fbeede;
  }
  .account-receivable-results app-account-receivable-search form{
    background: #ffffff;
  }
  .page-title h3 {
    margin: 0;
    padding: 10px 0 0 10px;
    font-weight: 400;
  }

  .box {
    border: 1.5px solid #d2d6de;
    margin-bottom: 2rem;
  }
  .box .box-body {
    overflow-x: hidden;
  }
  .bg-head-box {
    background: #992727;
    z-index: 3;
    color: #fff;
  }

  .blade-title {
    font-size: 18px;
  }

  .blade-title i {
    margin-right: 10px;
  }

  .total {
    display: block;
  }

  .diary-results {
    background: #fbeede;
  }

  .left5 {
    margin-left: 5px;
  }

  .right5 {
    margin-right: 15px;
  }

  .white {
    color: #ffffff;
  }
  .transparent {
    background: transparent !important;
    color: white !important;
  }

  .not-allowed,
  .not-allowed .form-control {
  cursor: not-allowed;
  }
  .bg-light-maroon{
    background:#fbeede;
  }
  .bg-light-maroon:before{
    content:'Coming Soon';
    left: 0%;
    width:100%;
    height:100%;
    padding-top:100px;
    word-wrap: break-word;
    position: absolute;
    border: none;
    font: normal 110px/0 "Nova Flat", Helvetica, sans-serif;
    color: rgb(150, 59, 59);
    text-align: center;
  }

  .clickable{
    cursor: pointer;
  }

  .expanded {
    height: calc(100vh - 146px);
    height: -moz-calc(100vh - 146px);
    height: -webkit-calc(100vh - 146px);
    overflow-y: scroll;
  }
