<div class="row" style="padding: 0px; margin: 0px; background-color: white;">
    <div class="col-md-12" style="text-align: center;">
        <h3>Select Multiple Files</h3>
    </div>
    <div class="col-md-6" style="text-align: right;">
        <!-- File Upload For CSV -->
        <div class="image-upload">
            <label for="file-input-csv">
                <img src="assets/img/Laker_File_Upload.jpg" style="pointer-events: none; width: 400px; "/>
            </label>
            <input id="file-input-csv" accept=".csv" type="file" ng2FileSelect [uploader]="uploaderCsv" multiple />
        </div>
    </div>
    <div class="col-md-6" style="text-align: left;">
        <!-- File Upload For XLSX  -->
        <div class="image-upload">
            <label for="file-input-excel">
                <img src="assets/img/Payment_File_Upload.jpg" style="pointer-events: none; width: 400px; "/>
            </label>
            <input id="file-input-excel" accept=".xlsx" type="file" ng2FileSelect [uploader]="uploaderExcel" multiple />
        </div>
    </div>

    <div class="col-md-12" style="margin-bottom: 40px">
        <h3>Upload queue</h3>
        <p>Queue length: {{ uploaderCsv?.queue?.length }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <!--<th>Size</th>
                    <th>Progress</th> -->
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of queueFiles">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <!--<td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td> -->
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <div>
                Queue progress Csv files:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploaderCsv.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" (click)="uploaderCsv.uploadAll()" [disabled]="!uploaderCsv.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
            <button type="button" class="btn btn-warning btn-s" (click)="uploaderCsv.cancelAll()" [disabled]="!uploaderCsv.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
            <button type="button" class="btn btn-danger btn-s" (click)="uploaderCsv.clearQueue()" [disabled]="!uploaderCsv.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
        </div>
        <div>
            <div>
                Queue progress Excel files:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploaderExcel.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" (click)="uploaderExcel.uploadAll()" [disabled]="!uploaderExcel.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
            <button type="button" class="btn btn-warning btn-s" (click)="uploaderExcel.cancelAll()" [disabled]="!uploaderExcel.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
            <button type="button" class="btn btn-danger btn-s" (click)="uploaderExcel.clearQueue()" [disabled]="!uploaderExcel.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
        </div>

    </div>

</div>