.image-upload>input {
    visibility: hidden;
    width: 0;
    height: 0
}

.image-upload>label {
    cursor: pointer;
}

.bg-head-box {
    background: #992727;
    z-index: 3;
}

.panel-head {
    color: #fff;
}

.panel-head u {
    text-decoration: none;
}

.panel-head img {
    vertical-align: -5px;
    margin-right: 7px;
}

.panel-body-bg {
    background: #fbeede;
}
tbody>tr:hover {
    background: #b6f1ff !important;
    cursor: pointer;
    color:#000;
}
tbody>tr:hover td,tbody>tr:hover td::selection{
    color:#000;
}
.tally{
    color:white;font-size:10pt;
    font-family: "Comic Sans MS";
    display:block;
}
/* ROW COLOR CHANGE*/

tr:nth-of-type(odd) {
  background: #fbeede !important;
}

tr:nth-of-type(even) {
  background: #fff8ef !important;
}
