<div class="row">
    <div class="col-md-12 full-height">
        <div id="private-nav">
            <ul>
                <li class="dashboard" routerLink="/main/private"></li>
                <li class="claims" routerLink="/main/claims"></li>
                <li class="payments" routerLink="/main/payments"></li>
                <li class="file-uploads" routerLink="/main/fileupload"></li>
                <li class="user-management" routerLink="/main/users"></li>
            </ul>
        </div>
    </div>
</div>