.box{
  margin-bottom:0px;
}
.bg-head-box {
    background: #992727;
    z-index: 3;
    color: #fff;
}
.panel-head,.panel-head a,.panel-head:active,.panel-head:hover {
    color: #fff;
}
.panel-head u {
    text-decoration: none;
  }
  .bg-DarkGreen {
    background: #084205;
    color: #fff;
}
.bg-darkRed {
  background: #992727;
  color: #fff;
}
.no-padding{
    padding-left:0px;
    padding-right:0px;
}
input[type=radio]{
    position: absolute;
    visibility: hidden;
}
label.check-label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.1em;
    padding: 0px 5px 5px 25px;
    margin: 9px auto;
    height: 10px;
    z-index: 9;
    cursor: pointer;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear
  }
.check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 35px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }
  .form-group.green:hover .check,.form-group.green input[type=radio]:checked ~ .check {
    border: 5px solid rgb(54, 102, 75);
  }
  .form-group.green input[type=radio]:checked ~ .check::before {
    border: 5px solid rgb(54, 102, 75);
  }
  .form-group.green:hover label.check-label, .form-group.green input[type=radio]:checked ~ label{
    color: rgb(54, 102, 75);
    font-weight: 700;
  }
  
  .form-group.red:hover .check,.form-group.red input[type=radio]:checked ~ .check {
    border: 5px solid #832121;
  }
  .form-group.red input[type=radio]:checked ~ .check::before {
    border: 5px solid #832121;
  }
  .form-group.red:hover label.check-label, .form-group.red input[type=radio]:checked ~ label{
    color: #832121;
    font-weight: 700;
  }
  .no-padding{
    padding:0px;
    width:5.5% !important;
  }
  .no-padding.red{
    width:4% !important;
  }
  form .col-md-2:not(.flex){
    width:13%;
    padding-right:2.5px;
    padding-left:2.5px;
  }
  form .col-md-2.flex{
    width:190px;
    padding-right:2px;
    padding-left:2px;
   }
   form .col-md-3{
    width:21.5%;
    padding-right:2px;
    padding-left:2px;
   }
  form .col-md-2.flex .form-group span button{
    margin-left:5px;
  }
  form .col-md-2.flex .form-group span{
    display:flex;
    flex-direction: row;
    
  }
  form .col-md-1:not(.no-padding){
   padding-right:5px;
   padding-left:5px;
  }
  .left2p5 {
    margin-left: 2.5%;
  }
  option.instruction,select option:first-child{
      color:red !important;
  }

  .exactMatchCheckBox {
    position: relative;
    padding: 4px;
    min-width:41px;
}

.exactMatchCheckBox label.match {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 2px;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.exactMatchCheckBox label.match:after {
    content: '';
    width: 9px;
    height: 6px;
    position: absolute;
    top: 4px;
    left: 3px;
    border: 2px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.exactMatchCheckBox label.match:hover::after {
    opacity: 0.5;
}

.exactMatchCheckBox input[type=checkbox] {
    position: relative;
    z-index: 9;
    opacity: 0;
    width: 15px;
    height: 15px;
    margin: 0;
    cursor: pointer;
}

.exactMatchCheckBox input[type=checkbox]:checked+label.match:after {
    opacity: 1;
}

.exactMatchCheckBox label:not(.match) { 
  font-size:12px;
  font-weight: 600;
  padding-top: 5px;
}