.bg-darkRed {
  background: #992727;
  color: #fff;
}

.bg-darkblue {
  background-color: #414772;
  color: #fff;
}

.not-allowed,
.not-allowed .form-control {
  cursor: not-allowed;
}

.bg-DarkGreen {
  background: #084205;
  color: #fff;
}

.enMoney::before {
  content: "$";
}

.form-group label {
  margin-bottom: 0 !important;
}

.btn {
  padding-top: 10px;
  padding: 8px 20px 4px 20px;
}

.btn i {
  margin-right: 4px;
}

.search-container .col-md-2,
.search-container .col-md-1,
.search-container .col-md-3 {
  padding-right: 0;
}
.btn{
  padding: 8px 10px 4px 10px; 
}