<form role="form" [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off" (keyup.enter)="search()">
    <div class="row search-container">
        <div class="col-md-1">
            <div class="form-group">
                <label>Check #</label>
                <input class="form-control" [class.not-allowed]="disableCheckEntry" name="checkNumber" formControlName="checkNumber" (change)="textChange('checkNumber')" (focus)="submitted=false" focus-on  [readonly]="disableCheckEntry" autofocus>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Check Amount</label>
                <div class="input-group" [class.not-allowed]="disableCheckEntry">
                    <div class="input-group-addon">$</div>
                    <input class="form-control" (keypress)="checkNumber($event)" name="checkAmount" formControlName="checkAmount" (change)="textChange('checkAmount')"  (focus)="submitted=false" [ngModel]="checkAmount | number:'1.2-2'" [readonly]="disableCheckEntry">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Amount Selected</label>
                <div class="input-group not-allowed">
                    <div class="input-group-addon">$</div>
                    <input class="form-control" name="amountSelected" formControlName="amountSelected" [ngModel]="paymentService.amountSelected  | number:'1.2-2'" (focus)="submitted=false" readonly>
                </div>                
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Amount To Post</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input class="form-control" name="amountToPost" formControlName="amountToPost"   (change)="textChange('amountToPost')" (focus)="submitted=false">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="form-group">
                <label>Amount Remaining</label>
                <div class="input-group not-allowed">
                    <div class="input-group-addon">$</div>
                    <input class="form-control"  (keypress)="checkNumber($event)" name="amountRemaining" formControlName="amountRemaining"  readonly (focus)="submitted=false"><!-- [ngModel]="amountRemaining" -->
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 w20">
            <div class="form-group">
                <label>&nbsp;</label><br/>
                <button class="btn bg-darkblue btn-flat btn-small" type="button" (click)="post()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Post</button>
                <button class="btn bg-darkRed btn-flat btn-small" type="button" (click)="cancel()"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
                <button class="btn bg-DarkGreen btn-flat btn-small" type="button" (click)="tosuspense()"><i class="fa fa-minus-circle" aria-hidden="true"></i> To Suspense</button>
            </div>
        </div>
    </div>
</form>