<div class="row invoice-info">
    <div class="col-sm-12 invoice-col">
        <div class="table-responsive">
            <table class="table no-margin table-striped">
                <thead>
                    <tr (tableSort)="onSortColumn($event)" #myTable='table-sort'>
                        <th>
                            <span columnSort="id" [sort-table]="myTable">ID</span>
                        </th>
                        <th>
                            <span columnSort="created" [sort-table]="myTable">Created</span>
                        </th>
                        <th>
                            <span columnSort="owner" [sort-table]="myTable">Owner</span>
                        </th>
                        <th>
                            <span columnSort="type" [sort-table]="myTable">Type</span>
                        </th>
                        <th>
                            <span columnSort="role" [sort-table]="myTable">Role</span>
                        </th>
                        <th>
                            <span columnSort="pharmacy" [sort-table]="myTable">Pharmacy</span>
                        </th>
                        <th>
                            <span columnSort="rxNumber" [sort-table]="myTable">Rx Number</span>
                        </th>
                        <th>
                            <span columnSort="resolved" [sort-table]="myTable">Resolved</span>
                        </th>
                        <th>
                            <span columnSort="noteCount" [sort-table]="myTable">Note Count</span>
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="claimManager.selectedClaim">
                    <ng-container *ngIf="claimManager.loadingEpisodes">
                        <div class="loader" style="align-self: center;margin-top: 40px;">
                            <a>
                                <img src="assets/img/Spinner.gif">
                            </a>
                        </div>
                    </ng-container>
                    <tr *ngFor="let episode of claimManager.selectedClaim.episodes">
                        <td>{{episode.id}}</td>
                        <td>{{episode.created | date:"shortDate"}}</td>
                        <td>{{episode.owner}}</td>
                        <td>{{episode.type}}</td>
                        <td>{{episode.role}}</td>
                        <td>{{episode.pharmacy}}</td>
                        <td>{{episode.rxNumber}}</td> 
                        <td [class.resolved]="episode.resolved">
                            <div class="commonCheckBox">
                                <input type="checkbox" name="check" value="None" [id]="'checkbox-h'+(episode.id || episode.episodeId)" #inv [checked]="episode.resolved" (change)="markAsResolved($event,episode)"
                                    [disabled]="episode.resolved">
                                <label for="'checkbox-h'+(episode.id || episode.episodeId)"></label>
                            </div>
                        </td>
                        <td>
                            <a class="label label-info bg-vdarkgrey" (click)="showNoteWindow(episode)">{{episode.noteCount || episode.episodeNoteCount || 0}}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<swal #episodeActionSwal [showCancelButton]="false" [showConfirmButton]="false" customClass="payment-modal episodes" [focusCancel]="false" title="Acquire or Assign Episode"><app-acquire-episode *swalPartial></app-acquire-episode><swal>