<div class="row invoice-info">
    <div class="col-sm-12 invoice-col">
        <div class="table-responsive">
            <table class="table no-margin table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>By</th>
                        <th>Type</th>
                        <th>Notes</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody *ngIf="claimManager.selectedClaim">
                    <tr *ngFor="let episode of claimManager.selectedClaim.episodes">
                        <td>{{episode.date | date:"shortDate"}}</td>
                        <td>{{episode.by}}</td>
                        <td>{{getTypeName(episode.episodeTypeId)}}</td>
                        <td>{{episode.note}}</td>
                        <td>
                            <button type="button" class="btn btn-flat bg-darkRed btn-sm pull-right" (click)="edit(episode.episodeId)" title="Edit Episode">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>