  <div class="row invoice-info">
        <div class="col-sm-12 invoice-col">
          <div class="table-responsive">
            <table class="table no-margin table-striped">
              <thead>
              <tr>
                <th>Date</th>
                <th>By</th>
                <th>Notes</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let episode of claimManager.selectedClaim.episodes">
                <td>{{episode.date  | date:"shortDate"}}</td>
                <td>{{episode.by}}</td>
                <td>{{pay.note}}</td>               
              </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>