.table-responsive {
    overflow-x: hidden;
}

table {
    table-layout: fixed;
    width: 99% !important;
    overflow-x: hidden;
}

td,
th {
    font-size: 9pt;
    word-wrap: break-word;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.bg-darkRed {
    background: #992727;
    color: #fff;
}

table {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

tbody,
thead {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

tr {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
}

td,
th {
    display: block;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}

tr>th,
tr>td {
    width: 100%;
}

tr>th:first-child,
tr>td:first-child {
    max-width: 10%;
}

tr>th:nth-child(2),
tr>td:nth-child(2) {
    max-width: 25%;
}

tr>th:nth-child(3),
tr>td:nth-child(3) {
    max-width: 20%;
}

tr>th:nth-child(4),
tr>td:nth-child(4) {
    max-width: 37%;
}

tr>th:nth-child(5),
tr>td:nth-child(5) {
    max-width: 8%;
}