.box-header {
  padding: 10px 10px 5px 10px;
}

.table-responsive {
  overflow-x: hidden;
}

table {
  table-layout: fixed;
  width: 99% !important;
  overflow-x: hidden;
}

td,
th {
  font-size: 9pt;
  word-wrap: break-word;
  padding-left: 2px !important;
  padding-right: 2px !important;
  vertical-align: top;
}

.bg-darkRed {
  background: #992727;
  color: #fff;
}

table {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

tbody,
thead {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

tr {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
}

td,
th {
  display: block;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
} 

tr>th:first-child,
tr>td:first-child{
  width:6%;
}
tr>th:nth-child(7),
tr>td:nth-child(7),
tr>th:nth-child(8),
tr>td:nth-child(8),
tr>th:nth-child(9),
tr>td:nth-child(9),
tr>th:nth-child(10),
tr>td:nth-child(10)  {
  width: 10%; 
}

/*ROW COLOR CHANGE*/

tr:nth-of-type(odd) {
  background: #fbeede !important;
}

tr:nth-of-type(even) {
  background: #fff8ef !important;
}


tr>th:nth-child(2),
tr>td:nth-child(2),
tr>th:nth-child(3),
tr>td:nth-child(3),
tr>th:nth-child(4),
tr>td:nth-child(4),
tr>th:nth-child(5),
tr>td:nth-child(5),
tr>th:nth-child(6),
tr>td:nth-child(6) {
  width: 11.2%;
}

.edit-btn {
  padding-bottom: 2px;
  border-radius: 4px;
}

.edit-btn>i {
  top: 1px;
  position: relative;
}
