<div class="row">
  <div class="col-lg-2" style="width: 14% !important;">
  </div>
  <div class="col-lg-3" style="width: 26% !important;">
  </div>
  <div class="col-lg-1">
  </div>
  <div class="col-lg-5">
  </div>
  <div class="col-lg-1">
    <label (click)="onNoClick()" class="close-btn" mat-dialog-close>
      <i class="fa fa-close" style="color: #992727;"></i>
    </label>
  </div>

</div>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography" style="margin-top: 2vh">

</mat-dialog-content>
