<div class="row">
  <div class="col-md-12">
    <section class="content-header">
      <ol class="breadcrumb pull-left">
        <li>
          <a routerLink="/">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="active">
          <a [routerLink]="[]">
            Users
          </a>
        </li>
      </ol>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Users</h3>
      </div>
      <div class="overlay" *ngIf="loading" style="text-align:center;">
        <img src="assets/1.gif">
        <br/>
      </div>
      <div class="box-body row">
        <div class="col-lg-12" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#992727;color:#fff">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <i class="fa fa-search white" aria-hidden="true"></i>
                  <span class="left5 right5 white">Search and Filter</span>
                  <i class="fa fa-filter white" aria-hidden="true"></i>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in collapse out">
              <div class="panel-body">
                <form role="form" [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off"
                      (keyup.enter)="search()">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" name="userName" class="form-control" formControlName="userName"
                               [(ngModel)]="userName" (focus)="submitted=false"
                               focus-on>
                      </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                      <img
                        [src]="user_pic_hover? 'assets/img/user/assign_user_carrier.png'  : 'assets/img/user/assign_user_carrier_blue.png'"
                        (mouseover)="user_pic_hover = true"
                        (mouseout)="user_pic_hover = false" data-toggle="modal" data-target="#usersModal" (click)="initilizeModal()"
                        style="height:70px; cursor: pointer">
                    </div>
                    <div class="col-md-2">
                      <label>Display Only Admins</label>
                      <div class="checkboxSix">
                        <input type="checkbox" id="checkboxSixInput" formControlName="isAdmin" [(ngModel)]="isAdmin"/>
                        <label for="checkboxSixInput">
                        </label>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading" style="background-color:#992727;color:#fff">
                <h4 class="panel-title">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  User Management
                </h4>
              </div>
              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                <tr>
                  <th>User Name</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Active</th>
                  <th>Email Confirmed</th>
                  <th>Registered Date</th>
                  <th>Extension</th>
                  <th>Referral Type</th>
                  <th>Client</th>
                  <th>Indexer</th>
                  <th>Admin</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let user of (users | filterUser : userName : isAdmin);let i = index">
                  <tr>
                    <td>{{user.userName}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>
                      <div class="demo text-center">
                        <input type="checkbox" class="faChkRnd" [(ngModel)]="!user.deactivated"
                               (ngModelChange)="changeStatus(user.userName    ,$event)">
                        <label></label>
                      </div>
                    </td>
                    <td>{{user.emailConfirmed}}</td>
                    <td class="center">{{user.registeredDate | date:"shortDate"}}</td>
                    <td> {{user.extension}}</td>
                    <td>
                      <div class="btn-group status">
                        <button type="button" class="btn btn-box-tool dropdown-toggle status" data-toggle="dropdown">
                          {{getReferalType(user.referralTypeId)}} <i class="fa fa-sort pull-right"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li *ngFor="let ref of referralTypes;"
                              [class.active]="ref.referralTypeId==user.referralTypeId"
                              (click)="changeReferalType(user,ref)"><a style="cursor:pointer;">{{ref.typeName}}</a></li>
                        </ul>
                      </div>
                    </td>
                    <td class="center-in">
                      <label class="checkboxFive">
                        <input type="checkbox" id="checkboxFiveInput" [(ngModel)]="user.client"
                               (ngModelChange)="showRoleConfirm(user.userName,clientRole,$event)">
                        <div for="checkboxFiveInput"></div>
                      </label>
                    </td>
                    <td class="center-in">
                      <label class="checkboxFive">
                        <input type="checkbox" id="checkboxFiveInput" [(ngModel)]="user.indexer"
                               (ngModelChange)="showRoleConfirm(user.userName,indexerRole,$event)"
                               [disabled]="(user.admin)">
                        <div for="checkboxFiveInput"></div>
                      </label>
                    </td>
                    <td class="center-in">

                      <label class="checkboxFive">
                        <input type="checkbox" id="checkboxFiveInput" [(ngModel)]="user.admin"
                               (ngModelChange)="showRoleConfirm(user.userName,adminRole,$event)">
                        <div for="checkboxFiveInput"></div>
                      </label>

                    </td>
                  </tr>
                </ng-container>
                </tbody>
                <!--<tfoot>
        <tr>
            <td colspan="3"></td>
            <td colspan="3" class="right">
                <button type="button" class="btn btn-default"  (click)="prev()" *ngIf="pageNumber>1">Prev</button>
                <button type="button" class="btn btn-info">{{pageNumber}}</button>
                <button type="button" class="btn btn-warning" (click)="next()">Next</button>
            </td>
            </tr>
        </tfoot>-->
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="usersModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Assosiate User to Carrier(s) </h4>
      </div>
      <div class="modal-body" style="max-height: 336px;overflow: auto;">
        <div class="row">

          <div class="col-lg-2">
          </div>
          <div class="col-lg-3">
            <p style="    margin: 10px 0px;"> Select a User</p>
          </div>
          <div class="col-lg-4">
            <select class="form-control" id="userSelection" (change)="getListofusers($event.target.value)">
              <option value="0" disabled selected> ---select User--- </option>
              <ng-container *ngFor="let user of activeUsers">
              <option [value]="user.id"  >{{user.firstName + " "+ user.lastName}}</option>
              </ng-container>
            </select>
          </div>
        </div>

        <ng-container *ngIf="allUsers.length!==0 || selectedUsers.length!==0">
        <div class="row">

        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">

        <div class="popup-boder row" style="background-color: #37474f">

        <div class="col-lg-6" >
        <p style="font-size: 12px;"> {{selectedUsers.length}} items selected</p>

        </div>
        <div class="col-lg-6">
        <a (click)="remoevUser(-1)" style="float: right; cursor: pointer"> Remove All</a>

        </div>
        </div>

          <div class="row">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let user of selectedUsers">
                {{user.carrier}}
                <i style="float: right;cursor: pointer" (click)="remoevUser(user.payorId)" class="fa fa-minus"></i>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
        <div class="popup-boder row" style="background-color: #37474f">

        <div class="col-lg-8" >
        <input type="text" (keyup)="filterUsers(userSearchQuery)" [(ngModel)]="userSearchQuery" name="userSearchQuery" class="form-control" placeholder="search" />

        </div>
        <div class="col-lg-4">
        <a (click)="addUser(-1)" style="float: right; cursor: pointer"> Select All</a>

        </div>
        </div>
          <div class="row">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let user of allUsers" >
                {{user.carrier}}
                <i style="float: right; cursor: pointer" (click)="addUser(user.payorId)" class="fa fa-plus"></i>

              </li>
            </ul>
          </div>

        </div>
        </div>
</ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-darkRed btn-flat btn-small" data-dismiss="modal">Close</button>
        <button type="button"  [disabled]="allUsers.length===0 && selectedUsers.length===0" (click)="saveAssignment()" class="btn bg-darkblue btn-flat btn-small">Save changes</button>
      </div>
    </div>

  </div>
</div>
