.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
}
/* CSS used here will be applied after bootstrap.css */

/* CSS used here will be applied after bootstrap.css */

.demo {
  padding:0px;
  color:green;
}

.demo label{
 top:3px; left:15px;
 margin-right:30px;     
 position:relative;     
}  
  

input.faChkRnd, input.faChkSqr {
  visibility: hidden;
}

input.faChkRnd:checked:after, input.faChkRnd:after,
input.faChkSqr:checked:after, input.faChkSqr:after {
  visibility: visible;
  font-family: FontAwesome;
  font-size:30px;height: 20px; width: 20px;
  position: relative;
  top: -3px;
  left: 0px;
  background-color:#FFF;
  display: inline-block;
}

input.faChkRnd:checked:after {
  content: '\f058';
  background: transparent;
}

input.faChkRnd:after {
  content: '\f10c';
  background: transparent;
}

input.faChkSqr:checked:after {
  content: '\f14a';
}

input.faChkSqr:after {
  content: '\f096';
}
/* ROW COLOR CHANGE*/

tr:nth-of-type(odd) {
  background: #fbeede !important;
}

tr:nth-of-type(even) {
  background: #fff8ef !important;
}
 
table#dataTables-example tbody tr td.center-in {
  text-align: center;  
}

/**
 * Checkbox Five
 */
.checkboxFive {
	width: 25px;
	position: relative;
}
/**
 * Create the box for the checkbox
 */
 .checkboxFive div {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
 .checkboxFive div:after {
	opacity: 0.0;
	content: '';
	position: absolute;
	width: 17px;
	height: 8px;
	background: transparent;
	top: 6px;
	left: 3px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
 .checkboxFive div:hover::after {
	opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + div:after {
	opacity: 1;
}

/**
 * Checkbox Six
 */
 .checkboxSix {
  width: 25px;
  margin-top: 5px;
  margin-left: 45px;
	position: relative;
}
/**
 * Create the box for the checkbox
 */
 .checkboxSix label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
 .checkboxSix label:after {
	opacity: 0.0;
	content: '';
	position: absolute;
	width: 17px;
	height: 8px;
	background: transparent;
	top: 6px;
	left: 3px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
 .checkboxSix label:hover::after {
	opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxSix input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.left5 {
  margin-left: 5px;
}

.right5 {
  margin-right: 15px;
}

.white {
  color: #ffffff;
}
.btn-group.status{
	position: relative;
	width:100%;
	padding: 0px;
	margin-top: 0px;
}
td .btn-group .dropdown-toggle {
	box-shadow: none;
	padding: 4px 1px;
	width:100%;
	text-align: right;
}
td .btn-group.open .dropdown-toggle {
	box-shadow: none; 
}



/*dropdown*/

.modal-dialog.modal-dialog-centered {
  min-height: calc(100% - (1.75rem * 2));
  margin: 1.75rem auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.modal-header{
  padding: 0px !important;
}


.popup-boder{

  color: white;
  font-size: 16px;
  font-weight: 800;
}
.popup-boder p,a{
  margin: 7px 0px;
  color: white;

}
.popup-boder input{
  height: 26px;
  border-radius: 9px;
  margin: 4px;
}


