<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box" id="modalWindowMax">
            <div class="box-header with-border">
                <h3 class="box-title"> Unindexed Images</h3>
            </div>
            <div class="box-body">
                <!-- Input Form -->
                <div class="row search">
                    <div class="col-sm-12" id="accordion">
                        <div class="box no-border" style="padding: 0px;margin-bottom:0rem;" *ngIf="!ds.newIndex">
                            <div class="box-header bg-head-box">
                                <span class="blade-title panel-head">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <i class="fa fa-search white" aria-hidden="true"></i>
                                            <span class="left5 right5 white">Search and Filter</span>
                                            <i class="fa fa-filter white" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </span>
                            </div>
                            <div class="box-body" style="padding: 0px 15px;" id="collapseOne" class="panel-collapse collapse in">
                                <app-unindex-image-filter></app-unindex-image-filter>
                            </div>
                        </div>
                        <app-index-file *ngIf="ds.newIndex" [file]="ds.file"></app-index-file>
                    </div>
                </div>
                <!-- Diary Results -->
                <div class="row" *ngIf="!ds.newIndex">
                    <div class="col-sm-12" id="accordion">
                        <div class="box">
                            <div class="box-header bg-head-box">
                                <span class="blade-title panel-head">
                                    <i class="fa fa-book" aria-hidden="true"></i> Documents
                                </span>
                                <span class="total">
                                    <span *ngIf="ds.pageStart" style="margin-right:100px;"> {{ds.pageStart+ " to "+ds.pageEnd}}</span>
                                    <span *ngIf="ds.documentList.length>0">
                                        <span style="font-size:13pt">{{ds.totalRowCount}}</span> Record{{ds.totalRowCount>1 ? 's':''}} found</span>
                                </span>
                                <div class="box-tools pull-right">
                                    <div class="btn-group">
                                        <div class="dropdown menu">
                                            <button class="btn transparent dropdown-toggle" type="button" data-toggle="dropdown">Sort by
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu">
                                                    <a tabindex="-1">Name</a>
                                                    <ul class="dropdown-menu">
                                                        <li (click)="ds.onSortColumn({'column':'fileName','dir':'asc'})">
                                                            <a tabindex="-1">Ascending</a>
                                                        </li>
                                                        <li (click)="ds.onSortColumn({'column':'fileName','dir':'desc'})">
                                                            <a tabindex="-1">Descending</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a tabindex="-1">Date Created</a>
                                                    <ul class="dropdown-menu">
                                                        <li (click)="ds.onSortColumn({'column':'creationTimeLocal','dir':'asc'})">
                                                            <a tabindex="-1">Ascending</a>
                                                        </li>
                                                        <li (click)="ds.onSortColumn({'column':'creationTimeLocal','dir':'desc'})">
                                                            <a tabindex="-1">Descending</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="test" tabindex="-1">Size</a>
                                                    <ul class="dropdown-menu">
                                                        <li (click)="ds.onSortColumn({'column':'fileSize','dir':'asc'})">
                                                            <a tabindex="-1">Ascending</a>
                                                        </li>
                                                        <li (click)="ds.onSortColumn({'column':'fileSize','dir':'desc'})">
                                                            <a tabindex="-1">Descending</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="test" tabindex="-1">
                                                        Last Accessed
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li (click)="ds.onSortColumn({'column':'lastAccessTimeLocal','dir':'asc'})">
                                                            <a tabindex="-1">Ascending</a>
                                                        </li>
                                                        <li (click)="ds.onSortColumn({'column':'lastAccessTimeLocal','dir':'desc'})">
                                                            <a tabindex="-1">Descending</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="test" tabindex="-1">
                                                        Last Write
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li (click)="ds.onSortColumn({'column':'    lastWriteTimeLocal','dir':'asc'})">
                                                            <a tabindex="-1">Ascending</a>
                                                        </li>
                                                        <li (click)="ds.onSortColumn({'column':'    lastWriteTimeLocal','dir':'desc'})">
                                                            <a tabindex="-1">Descending</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="button" *ngIf="ds.display=='list'" class="pull-right transparent btn btn-flat btn-sm" (click)="ds.display='grid'"
                                            title="Grid View">
                                            <i class="fa fa-th"></i>
                                        </button>
                                        <button type="button" *ngIf="ds.display=='grid'" class="pull-right  transparent btn btn-flat btn-sm" (click)="ds.display='list'"
                                            title="List View">
                                            <i class="fa fa-list"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body documents">
                                <app-unindex-image-list></app-unindex-image-list>
                            </div>
                        </div>
                    </div>
                </div>
                <app-unindexed-image-file *ngIf="ds.newIndex" [file]="ds.file"></app-unindexed-image-file>
            </div>
            <div class="overlay" *ngIf="ds.loading">
                <img src="assets/1.gif">
            </div>
        </div>
    </div>
</div>