<div class="row">
  <div class="col-md-12">
    <section class="content-header">
      <ol class="breadcrumb pull-left">
        <li>
          <a routerLink="/">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="active">
          <a [routerLink]="[]">
            References
          </a>
        </li>
      </ol>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="box" id="modalWindowMax">
      <div class="box-header with-border">
        <h3 class="box-title"> References - Adjustors, Attorneys and Payors</h3>
      </div>
      <div class="box-body">
        <!-- Input Form -->
        <div class="row search">
          <div class="col-sm-12" id="accordion">
            <div class="box no-border" style="padding: 0px;margin-bottom:0rem;">
              <div class="box-header bg-head-box">
                <span class="blade-title panel-head">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <i class="fa fa-search white" aria-hidden="true"></i>
                      <span class="left5 right5 white">Search and Filter</span>
                      <i class="fa fa-filter white" aria-hidden="true"></i>
                    </a>
                  </h4>
                </span>
              </div>
              <div class="box-body" style="padding: 0px 15px;" id="collapseOne" class="panel-collapse collapse in collapse out">
                <app-referencesfilter></app-referencesfilter>
              </div>
            </div>
          </div>
        </div>
        <!-- Diary Results -->
        <div class="row">
          <div class="col-sm-12" id="accordion">
            <div class="box">
              <div class="box-header bg-head-box">
                <span class="blade-title panel-head">
                  <i class="fa fa-book" aria-hidden="true"></i> References - {{rs.typeSelected}}
                </span>
                <span class="total pull-right">
                  <span *ngIf="rs.totalEntities || rs.totalEntities === 0" style="margin-right:100px;">
                    {{rs.getCurrentStartPage() + " to " + rs.currentPage * rs.pageSize}}</span>
                  <span *ngIf="rs.totalEntities || rs.totalEntities === 0">
                    <span style="font-size:13pt">{{rs.totalEntities}}</span>
                    Record{{rs.totalEntities !== 1 ? 's' : ''}} found</span>
                </span>
              </div>
              <div class="box-body diary-results">
                <app-references-grid></app-references-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay" *ngIf="rs.loading">
        <img src="assets/1.gif">
      </div>
    </div>
  </div>
</div>
