  .top-header {
    width: 98%;
    height: 40px;
    position: absolute;
    overflow: hidden;
    left:1.2%;
    padding: 0px 14px;
    border-bottom: 1px solid #fff;
  }
  
  .table-body {
    width: 100%;
    /* max-height:117px; */
    overflow:hidden;
    padding: 0px 20px;
    /* overflow-y:auto; */
    margin-top: 37px;
  }
  table {
    table-layout: fixed;
    width: 100% !important;
    overflow-x: hidden;
  }
  
  thead,
  tbody {
    overflow-y: hidden !important;
  }
  
  td,
  th {
    font-size: 9pt;
    word-wrap: break-word;
    padding-left: 2px !important;
    padding-right: 6px !important;
  }
  
  tr>th:first-child,
  tr>td:first-child{
    width: 47%;
  }
  
  tr>th:nth-child(2),
  tr>td:nth-child(2),
  tr>th:nth-child(3),
  tr>td:nth-child(3) {
    
    text-align: left;
    word-wrap: normal;
    padding-right: 12px !important
  }

  tr>th:nth-child(2),
  tr>td:nth-child(2) {
    width: 22%;
  }

  tr>th:nth-child(3),
  tr>td:nth-child(3) {
    width: 31%;
  }
  
.notification-details .btn {
  height: 20px;
  padding: 0 5px;
  line-height: 22px;
  border-radius: inherit;
}

.notification-details .btn-set-letter {
  background-color: #495bbc;
}
.notification-details .btn-save {
  background-color: #21bd17;
  margin-right: 2px;
}
.notification-header th span {
    color: #353535;
    font-size: 16px;
    font-weight: bold;
}
.notification-details tbody td {
  color: #808080;
}
.notification-details textarea {
  margin-bottom: 5px;
}