.col-sm-2,
.col-md-1 {
    padding-left: 2px;
    padding-right: 2px;
}

.bg-darkRed {
    background: #992727;
    color: #fff;
}

.bg-darkblue {
    background-color: #414772;
    color: #fff;
}
.not-allowed,.not-allowed .form-control{
    cursor: not-allowed;
}

.bg-DarkGreen {
    background: #084205;
    color: #fff;
}
.enMoney::before {
    content:"$";
}
