.box-header {
  padding: 10px 10px 5px 10px;
}

.table-responsive {
  overflow-x: hidden;
}

table {
  table-layout: fixed;
  width: 99% !important;
  overflow-x: hidden;
}

td,
th {
  font-size: 9pt;
  word-wrap: break-word;
  padding-left: 2px !important;
  padding-right: 2px !important;
}
/* ROW COLOR CHANGE*/

tr:nth-of-type(odd) {
  background: #fbeede !important;
}

tr:nth-of-type(even) {
  background: #fff8ef !important;
}
tr>th:first-child,
tr>td:first-child{
  width:20px;
}
tr>th:nth-child(2),
tr>td:nth-child(2),
tr>th:nth-child(3),
tr>td:nth-child(3),
tr>th:nth-child(4),
tr>td:nth-child(4),
tr>th:nth-child(5),
tr>td:nth-child(5),
tr>th:nth-child(7),
tr>td:nth-child(7){
  width:8%
}
tr>th:nth-child(6),
tr>td:nth-child(6),
tr>th:nth-child(8),
tr>td:nth-child(8)
{
  width:11%;
}
tr>th:nth-child(9),
tr>td:nth-child(9)
{
  width:15%;
}
tr>th:last-child,
tr>td:last-child{
  width: calc(23% - 20px);
}
tbody>tr:hover {
  background: #b6f1ff !important;
  cursor: pointer;
  color: #000;
}


/*SORT*/

thead span {
  cursor: pointer;
}

.fa-unsorted:before,
.fa-sort:before,
.fa-sort-up:before,
.fa-sort-asc:before,
.fa-sort-down:before,
.fa-sort-desc:before {
  padding-right: 0.6rem;
  font-size: 1.4rem;
  color: #666;
}

.fa.rotate.fa-exchange {
  margin-left: 0;
}

/*Unnecessary-space*/

.table>thead>tr>th[_ngcontent-c9] {
  border-bottom: 0px;
}
.bg-darkRed {
  background: #992727;
  border: 1px solid #992727;
  color: #fff;
}