.box-header {
  padding: 10px 10px 5px 10px;
}

.table-responsive {
  overflow-x: hidden;
}

table {
  table-layout: fixed;
  width: 99% !important;
  overflow-x: hidden;
}

td,
th {
  font-size: 9pt;
  word-wrap: break-word;
  padding-left: 2px !important;
  padding-right: 2px !important;
}
/* ROW COLOR CHANGE*/

tr:nth-of-type(odd) {
  background: #fbeede !important;
}

tr:nth-of-type(even) {
  background: #fff8ef !important;
}
tr>th:first-child,
tr>td:first-child,
tr>th:nth-child(2),
tr>td:nth-child(2),
tr>th:nth-child(3),
tr>td:nth-child(3)
{
  width:17%;
}
tr>th:nth-child(4),
tr>td:nth-child(4),
tr>th:nth-child(5),
tr>td:nth-child(5){
  width: 24.5%;
}
tbody>tr:hover {
  background: #b6f1ff !important;
  cursor: pointer;
  color: #000;
}