  <div class="row invoice-info">
        <div class="col-sm-12 invoice-col">
          <div class="table-responsive">
            <table class="table no-margin table-striped">
              <thead>
              <tr>
                <th>Created</th>
                <th>Type</th>
                <th>Rx Date</th>
                <th>Rx Number</th>
                <th>File</th>
              </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let image of claimManager.selectedClaim.images" (click)="openAttachment(image)">
                    <td>{{image.created  | date:"shortDate"}}</td>
                    <td>{{image.type}}</td>
                    <td>{{image.rxDate | date:"shortDate"}}</td>
                    <td>{{image.rxNumber}}</td>
                    <td>
                      <a [routerLink]="image.file">{{image.file}}</a>
                    </td>               
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>