<div class="row search">
  <div class="col-sm-12" id="accordion">
      <div class="box no-border box-solid" style="padding: 0px;margin-bottom:0rem;">
          <div class="box-header bg-head-box" style="border-bottom:2px solid white;padding:12px;padding-left: 10px;">
              <a class="blade-title panel-head" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <h4 class="panel-title" data-toggle="tooltip" title="Click to toggle search and filter">
                      <span class="left5 right5 white">Search and Filter</span>
                      <i class="fa fa-filter white" aria-hidden="true"></i>
                  </h4>
              </a>
          </div>
          <div class="box-body collection-bonus-results" style="padding: 0px 15px;">
            <app-collection-bonus-search class="panel-collapse collapse in" id="collapseOne"></app-collection-bonus-search>
              <div class="row bg-head-box" style="padding-top: 10px;padding-left: 10px;padding-right: 15px;">
                  <span class="blade-title panel-head">
                      <i class="fa fa-book" aria-hidden="true"></i> Collection Bonus Report Entries
                  </span>
                  <span class="total pull-right">
                        <span *ngIf="bonusService.pageStart"
                            style="margin-right:100px;"> {{bonusService.pageStart + " to " + bonusService.pageEnd}}</span>
                        <span *ngIf="bonusService.bonus.length > 0">
                            <span style="font-size:13pt">{{bonusService.totalRowCount}}</span> Record{{bonusService.totalRowCount > 1 ? 's' : ''}} found</span>
                    </span>
              </div>                
              <app-collection-bonus-list></app-collection-bonus-list>
          </div>
          <div class="overlay" *ngIf="bonusService.loading" style="text-align:center;">
            <img src="assets/1.gif">
          </div>
      </div>
  </div>
</div>