<form role="form" autocomplete="off" autocapitalize="none" autocomplete="off" (keyup.enter)="search()">
    <div class="row"> 
        <div class="col-md-3">
            <div class="form-group">
                <label>Search Text</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-file-text"></i>
                    </div>
                    <input class="form-control pull-right" id="searchText" name="searchText" type="text" [(ngModel)]="ds.data.searchText">
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 flex">
            <div class="form-group">
                <label>&nbsp;</label>
                <br />
                <span>
                    <button class="color-palette btn bg-DarkGreen btn-flat btn-small" type="button" (click)="search()">
                        <i class="fa fa-search"></i> Search</button> 
                    <button class="color-palette btn bg-darkblue btn-flat btn-small" type="button" (click)="clearFilters()">
                        <i class="fa fa-eraser"></i> Clear Filters</button>
                        <button class="color-palette btn bg-darkRed btn-flat btn-small" type="button" (click)="ds.createUpdateNode(false,false,true)">
                                <i class="fa fa-plus" aria-hidden="true"></i> Create a New Tree</button>
                </span>
            </div>
        </div>
    </div>
</form>