<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BridgeportClaimsConnectionString" providerName="System.Data.SqlClient" connectionString="Server=.\DB1;Database=BridgeportClaims;Integrated Security=True;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationIsInDebugMode" value="true"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>