<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>
    <add name="BridgeportClaimsConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Server=jdgdb1.database.windows.net;Database=BridgeportClaims;User ID=bridgeportClaimsWindowsServiceUser;Password=dY@fk$UYFK!;Trusted_Connection=False;Encrypt=True;"/>
  </connectionStrings>-->
  <connectionStrings>
    <add name="BridgeportClaimsConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Server=.\DB1;Database=BridgeportClaims;User ID=jordangurney;Password=Hod9991010;Trusted_Connection=False;Encrypt=True;"/>
  </connectionStrings>
  <appSettings>
    <!-- This is the flag that decides whether or not to log all of the app's activity to the database. -->
    <add key="ApplicationIsInDebugMode" value="true" />
    <!--************************************************************************************************-->
    <!--<add key="ScannedLocation" value="Y:\Scans\Correspondence"/>-->
    <add key="ScannedLocation" value="C:\Temp\Images"/>
    <add key="InvoicesLocation" value="C:\Temp\Invoices"/>
    <!--<add key="InvoicesLocation" value="Y:\Common\Invoicing"/>-->
    <add key="PerformInitialDirectoryTraversal" value="true"/>
    <add key="ImagesRootDomainName" value="https://images.bridgeportclaims.com"/>
    <add key="InvoicesRootDomainName" value="https://invoices.bridgeportclaims.com"/>
    <add key="ApiHostName" value="https://bridgeportclaims.com"/>
    <add key="AuthenticationApiUrl" value="/oauth/token"/>
    <add key="SignalRAddMethodApiUrl" value="/api/document/add"/>
    <add key="SignalRModifyMethodApiUrl" value="/api/document/edit"/>
    <add key="SignalRDeleteMethodApiUrl" value="/api/document/delete/?documentId="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>