<div class="row">
    <div class="col-md-7 col-md-offset-3">
        <div class="box">
            <div class="box-body"> 
                <form role="form" [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off">
                    <h4>Enter  your email to recover lost password</h4>
                    <div class="form-group">
                        <input type="text" formControlName="email" class="form-control" placeholder="Email address or login"
                            required>
                        <p class="text-danger form-control-static" *ngIf="form.get('email').errors && form.get('email').value">Invalid Email address</p>
                    </div>
                    <button class="btn btn-primary btn-block" type="button" (click)="submit()">Reset password</button>
                </form>
            </div>
            <div class="overlay" *ngIf="submitted">
                <i class="fa fa-refresh fa-spin"></i>
            </div>    
        </div>    
    </div>
</div>
