<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li>
                    <a routerLink="/">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="active">
                    <a [routerLink]="[]">
                        Profile
                    </a>
                </li>
            </ol>
        </section>
    </div>
</div>
<div class="box no-border">
    <div class="box-body">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="box center-form no-border">
                    <div class="box-body">
                        <form role="form" [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off" (ngSubmit)="submitForm(form.value)">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" name="email" class="form-control" value="{{profileManager.profile.email}}" disabled>
                            </div>
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" name="firstName" formControlName="firstName" class="form-control" value="{{profileManager.profile.firstName}}">
                                <!--<p class="text-danger form-control-static" *ngIf="form.get('firstName').errors && submitted">First Name is required!</p>-->
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" name="lastName" formControlName="lastName" class="form-control" value="{{profileManager.profile.lastName}}">
                                <!--<p class="text-danger form-control-static" *ngIf="form.get('lastName').errors && submitted">Last Name is required!</p>-->
                            </div>
                            <div class="form-group">
                                <label>Extension</label>
                                <input type="text" name="extension" formControlName="extension" class="form-control" value="{{profileManager.profile.extension}}">
                                <!--<p class="text-danger form-control-static" *ngIf="form.get('lastName').errors && submitted">Last Name is required!</p>-->
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.dirty"> Update </button>
                            </div>
                            <div class="form-group">
                                <input type="password" formControlName="oldPassword" class="form-control" placeholder="Current password" ng-model="currentPassword">
                                <p class="text-danger form-control-static" *ngIf="form.get('oldPassword').errors && submitted">
                                    Current password is required!</p>
                            </div>
                            <div class="form-group">
                                <input type="password" formControlName="newPassword" class="form-control" placeholder="New password" ng-model="newPassword">
                                <p class="text-danger form-control-static" *ngIf="form.get('newPassword').errors && submitted">New password is required!</p>
                            </div>
                            <div class="form-group">
                                <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Repeat new password" ng-model="confirmPassword"
                                    bs-match="newPassword">
                                <p class="text-danger form-control-static" *ngIf="form.get('confirmPassword').errors && submitted">Repeat Password does not match password!</p>
                            </div>
                            <!--<button class="btn btn-primary btn-block" type="button" (click)="updatePassword()">Update
                                </button>-->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.dirty"> Update </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay" *ngIf="loading">
        <img src="assets/1.gif">
        <br/>
    </div>
</div>