<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form role="form" [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off" (keyup.enter)="updatePassword()">
                <h3>&nbsp;</h3>
                <div class="form-group">
                    <input type="password" formControlName="oldPassword" class="form-control"
                           placeholder="Current password"
                           ng-model="currentPassword" required>
                    <p class="text-danger form-control-static" *ngIf="form.get('oldPassword').errors && submitted">
                        Current password is required!</p>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="newPassword" class="form-control" placeholder="New password"
                           ng-model="newPassword" required>
                    <p class="text-danger form-control-static" *ngIf="form.get('newPassword').errors && submitted">New password is required!</p>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="confirmPassword" class="form-control"
                           placeholder="Repeat new password" ng-model="confirmPassword" bs-match="newPassword"
                           required>
                    <p class="text-danger form-control-static"
                       *ngIf="form.get('confirmPassword').errors && submitted">Repeat Password does not match password!</p>
                </div>
                <button class="btn btn-primary btn-block" type="button" (click)="updatePassword()">Change password
                </button>
            </form>
        </div>
    </div>
</div>