<div class="row">
  <div class="col-md-12">
      <section class="content-header">
          <ol class="breadcrumb pull-left">
              <li>
                  <a routerLink="/">
                      <i class="fa fa-home"></i> Home
                  </a>
              </li>
              <li class="active">
                  <a [routerLink]="[]">
                      Indexing
                  </a>
              </li>
          </ol>
      </section>
  </div>
</div>
<div class="nav-tabs-custom">
  <ul class="nav nav-tabs"  style="text-align:center">
    <li [class.active]="active=='1a'">
      <a data-toggle="tab" (click)="active='1a'" style="cursor:pointer;">Images</a>
    </li>
    <li [class.active]="active=='1b'">
      <a data-toggle="tab" (click)="active='1b'"  style="cursor:pointer;">Invoices</a>
    </li>
    <li [class.active]="active=='1c'">
      <a data-toggle="tab" (click)="active='1c'"  style="cursor:pointer;">Checks</a>
    </li>
    <span style="font-size: 22pt;font-weight: 600;text-shadow:1px 1px 1px black;color:#333">{{active=='1a' ? "Images": (active=='1b' ? "Invoice": 'Checks')}} Index</span>
  </ul>
  <div class="tab-content clearfix">
    <div class="tab-pane" [class.active]="active=='1a'">
        <indexing-unindex-image></indexing-unindex-image>
    </div>
    <div class="tab-pane" [class.active]="active=='1b'">
      <indexing-unindexed-invoice></indexing-unindexed-invoice>
    </div>
    <div class="tab-pane" [class.active]="active=='1c'">
      <indexing-unindexed-check></indexing-unindexed-check>
    </div>
  </div>
</div>