<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box" id="modalWindowMax">
            <div class="box-body">
                <!-- Input Form -->
                <div class="row search">
                    <div class="col-sm-12" id="accordion">
                        <div class="box no-border" style="padding: 0px;margin-bottom:0rem;" *ngIf="!ds.newInvoice">
                            <div class="box-header bg-head-box">
                                <span class="blade-title panel-head">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseInvoice">
                                            <i class="fa fa-search white" aria-hidden="true"></i>
                                            <span class="left5 right5 white">Search and Filter</span>
                                            <i class="fa fa-filter white" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </span>
                            </div>
                            <div class="box-body" style="padding: 0px 15px;" id="collapseInvoice" class="panel-collapse collapse in">
                                <indexing-unindexed-invoice-filter></indexing-unindexed-invoice-filter>
                            </div>
                        </div>
                        <div class="box no-border" style="padding: 0px;margin-bottom:0rem;" *ngIf="ds.newInvoice">
                            <div class="box-header bg-head-box">
                                <span class="blade-title panel-head">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseInvoice">
                                            <i class="fa fa-search white" aria-hidden="true"></i>
                                            <span class="left5 right5 white">Indexing</span>
                                            <i class="fa fa-filter white" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </span>
                            </div>
                            <div class="box-body" style="padding: 0px 15px;" id="collapseInvoice" class="panel-collapse collapse in">
                                <form role="form" [formGroup]="form" autocomplete="off" autocapitalize="none" autocomplete="off" (keyup.enter)="saveInvoice()">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Invoice Number</label>
                                                <p class="text-danger" *ngIf="this.form.controls['invoiceNumber'].errors && this.form.controls['invoiceNumber'].touched">Please provide an Invoice Number</p>
                                                <input class="form-control" type="text" formControlName="invoiceNumber" (focus)="submitted=false">
                                            </div>
                                        </div>
                                        <div class="col-md-2 flex">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <span>
                                                    <button class="color-palette btn btn-block btn-flat bg-DarkGreen btn-md" type="button" (click)="saveInvoice()">Save</button>
                                                    <button class="color-palette btn bg-darkblue btn-flat  btn-md" type="button" (click)="cancel()" style="margin:0px 15px;">
                                                        <i class="fa fa-chevron-left"></i>Cancel
                                                    </button>
                                                    <button class="color-palette btn bg-darkRed btn-flat  btn-md" type="button" (click)="archive()">
                                                        <i class="fa fa-trash"></i>Archive
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Document Results -->
                <div class="row" *ngIf="!ds.newInvoice">
                    <div class="col-sm-12" id="accordion">
                        <div class="box">
                            <div class="box-header bg-head-box">
                                <span class="blade-title panel-head">
                                    <i class="fa fa-book" aria-hidden="true"></i> Documents
                                </span>
                                <span class="total">
                                    <span *ngIf="ds.invPageStart" style="margin-right:100px;"> {{ds.invPageStart+ " to "+ds.invPageEnd}}</span>
                                    <span *ngIf="ds.invoiceList.length>0">
                                        <span style="font-size:13pt">{{ds.totalInvoiceRowCount}}</span> Record{{ds.totalInvoiceRowCount>1 ? 's':''}} found</span>
                                </span>
                                <div class="box-tools pull-right">
                                    <div class="btn-group">
                                        <div class="dropdown menu">
                                            <button class="btn transparent dropdown-toggle" type="button" data-toggle="dropdown">Sort by
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu" [class.active]="ds.invoiceData.sort=='fileName'">
                                                    <a tabindex="-1">Name</a>
                                                    <ul class="dropdown-menu">
                                                        <li [class.active]="ds.invoiceData.sort=='fileName' && ds.invoiceData.sortDirection=='ASC'" (click)="ds.onInvoiceSortColumn({'column':'fileName','dir':'asc'})">
                                                            <a tabindex="-1">Ascending</a>
                                                        </li>
                                                        <li [class.active]="ds.invoiceData.sort=='fileName' && ds.invoiceData.sortDirection=='DESC'" (click)="ds.onInvoiceSortColumn({'column':'fileName','dir':'desc'})">
                                                            <a tabindex="-1">Descending</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu" [class.active]="ds.invoiceData.sort=='CreationTime'">
                                                    <a tabindex="-1">Date Created</a>
                                                    <ul class="dropdown-menu">
                                                        <li [class.active]="ds.invoiceData.sort=='CreationTime' && ds.invoiceData.sortDirection=='ASC'" (click)="ds.onInvoiceSortColumn({'column':'CreationTime','dir':'asc'})">
                                                            <a tabindex="-1">Ascending</a>
                                                        </li>
                                                        <li [class.active]="ds.invoiceData.sort=='CreationTime' && ds.invoiceData.sortDirection=='DESC'" (click)="ds.onInvoiceSortColumn({'column':'CreationTime','dir':'desc'})">
                                                            <a tabindex="-1">Descending</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu" [class.active]="ds.invoiceData.sort=='fileSize'">
                                                    <a class="test" tabindex="-1">Size</a>
                                                    <ul class="dropdown-menu">
                                                        <li [class.active]="ds.invoiceData.sort=='fileSize' && ds.invoiceData.sortDirection=='ASC'" (click)="ds.onInvoiceSortColumn({'column':'fileSize','dir':'asc'})">
                                                            <a tabindex="-1">Ascending</a>
                                                        </li>
                                                        <li [class.active]="ds.invoiceData.sort=='fileSize' && ds.invoiceData.sortDirection=='DESC'" (click)="ds.onInvoiceSortColumn({'column':'fileSize','dir':'desc'})">
                                                            <a tabindex="-1">Descending</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu" [class.active]="ds.invoiceData.sort=='LastAccessTime'">
                                                    <a class="test" tabindex="-1">
                                                        Last Accessed
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li [class.active]="ds.invoiceData.sort=='LastAccessTime' && ds.invoiceData.sortDirection=='ASC'" (click)="ds.onInvoiceSortColumn({'column':'LastAccessTime','dir':'asc'})">
                                                            <a tabindex="-1">Ascending</a>
                                                        </li>
                                                        <li [class.active]="ds.invoiceData.sort=='LastAccessTime' && ds.invoiceData.sortDirection=='DESC'" (click)="ds.onInvoiceSortColumn({'column':'LastAccessTime','dir':'desc'})">
                                                            <a tabindex="-1">Descending</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu" [class.active]="ds.invoiceData.sort=='LastWriteTime'">
                                                    <a class="test" tabindex="-1">
                                                        Last Write
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li [class.active]="ds.invoiceData.sort=='LastWriteTime' && ds.invoiceData.sortDirection=='ASC'" (click)="ds.onInvoiceSortColumn({'column':'LastWriteTime','dir':'asc'})">
                                                            <a tabindex="-1">Ascending</a>
                                                        </li>
                                                        <li [class.active]="ds.invoiceData.sort=='LastWriteTime' && ds.invoiceData.sortDirection=='DESC'" (click)="ds.onInvoiceSortColumn({'column':'LastWriteTime','dir':'desc'})">
                                                            <a tabindex="-1">Descending</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="button" *ngIf="ds.invDisplay=='list'" class="pull-right transparent btn btn-flat btn-sm" (click)="ds.invDisplay='grid'"
                                            title="Grid View">
                                            <i class="fa fa-th"></i>
                                        </button>
                                        <button type="button" *ngIf="ds.invDisplay=='grid'" class="pull-right  transparent btn btn-flat btn-sm" (click)="ds.invDisplay='list'"
                                            title="List View">
                                            <i class="fa fa-list"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body documents">
                                <indexing-unindexed-invoice-list></indexing-unindexed-invoice-list>
                            </div>
                        </div>
                    </div>
                </div>
                <indexing-unindexed-image-file *ngIf="ds.newInvoice" [file]="ds.invoiceFile" type="invoice"></indexing-unindexed-image-file>
            </div>
            <div class="overlay" *ngIf="ds.loading">
                <img src="assets/1.gif">
            </div>
        </div>
    </div>
</div>
<swal #invoiceSwal [showCancelButton]="false" [showConfirmButton]="false" customClass="invoice-modal" [focusCancel]="false" title="Re-index Invoice">
    <indexing-unindexed-invoice *swalPartial></indexing-unindexed-invoice>
</swal>