.table-responsive {
    overflow-x: hidden;
}

table {
    table-layout: fixed;
    width: 99% !important;
    overflow-x: hidden;
}

thead,
tbody {
    overflow-y: hidden !important;
}

td,
th {
    font-size: 9pt;
    word-wrap: break-word;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

textarea {
    resize: vertical;
}

tr>th,
tr>td {
    width: 100%;
}

tr>th:first-child,
tr>td:first-child {
    max-width: 5%;
}

tr>th:nth-child(2),
tr>td:nth-child(2),
tr>th:nth-child(5),
tr>td:nth-child(5) {
    max-width: 7%;
}

tr>th:nth-child(3),
tr>td:nth-child(3) {
    max-width: 20%;
}

tr>th:nth-child(4),
tr>td:nth-child(4) {
    max-width: 14%;
}

tr>th:nth-child(6),
tr>td:nth-child(6),
tr>th:nth-child(7),
tr>td:nth-child(7),
tr>th:nth-child(9),
tr>td:nth-child(9),
tr>th:last-child,
tr>td:last-child {
    max-width: 9%;
}

tr>th:nth-child(8),
tr>td:nth-child(8) {
    max-width: 11%;
}

tr>th:last-child,
tr>td:last-child {
    text-align: center;
}

td>a.label {
    font-size: 1.2rem;
}

table {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

tbody,
thead {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: scroll;
}

tbody.overflowable,
thead.overflowable {
    flex-grow: 1;
    flex-shrink: 1;
}

tr {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
}

td,
th {
    display: block;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}