<div id="fixed-header"></div>
<div class="row invoice-info">
    <div class="col-sm-12 invoice-col">
        <div class="table-responsive top-header scroll-y">
            <table class="table no-margin table-striped">
                <thead class="overflowable">
                    <tr (tableSort)="onSortColumn($event)" #myTable='table-sort'>
                        <th>
                            <div class="perscriptionCheckBox checkAll">
                                <input type="checkbox" id="selectAllCheckBox" name="check" value="None" (change)="selectAllCheckBox($event)" #checkAllFields>
                                <label for="selectAllCheckBox" (click)="activateClaimCheckBoxes()"></label>
                            </div>&nbsp;<i class="fa rotate fa-exchange" (click)="checkAllFields.click()"></i>
                        </th>
                        <th>
                            <span columnSort="rxNumber" [sort-table]="myTable">Rx #</span>
                        </th>
                        <th>
                            <span columnSort="rxDate" [sort-table]="myTable">Rx Date</span>
                        </th>
                        <th>
                            <span columnSort="labelName" [sort-table]="myTable">Label Name</span>
                        </th>
                        <th>
                            <span columnSort="billTo" [sort-table]="myTable">Bill To</span>
                        </th>
                        <th>
                            <span columnSort="invoiceDate" [sort-table]="myTable">Inv Date</span>
                        </th>
                        <th>
                            <span columnSort="invoiceNumber" [sort-table]="myTable">Inv #</span>
                        </th>
                        <th>
                            <span columnSort="invoiceAmount" [sort-table]="myTable">Inv Amt</span>
                        </th>
                        <th>
                            <span columnSort="amountPaid" [sort-table]="myTable">Amt Paid</span>
                        </th>
                        <th>
                            <span columnSort="outstanding" [sort-table]="myTable">Outstanding</span>
                        </th>
                        <th>Note Count</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-responsive table-body scroll-y">
            <table class="table no-margin table-striped" id="maintable">
                <tbody class="overflowable" #prescriptionTable tabindex="0">
                    <ng-container *ngIf="prescriptions">
                        <tr *ngFor="let prescription of prescriptions;let i=index;" [id]="'row'+i" [attr.prescription]="prescription | json" (click)="setSelected(prescription,prescription.selected)">
                            <td>
                                <div class="perscriptionCheckBox">
                                    <input type="checkbox" name="check" value="None" class="pescriptionCheck" [id]="prescription.prescriptionId" [attr.labelName]="prescription.labelName"
                                        [checked]="(prescription.selected || checkAll)" (change)="select(prescription,$event,i)"
                                        #inv>
                                    <label [for]="prescription.prescriptionId" (click)="inv.click()"></label>
                                </div>
                            </td>
                            <td>{{prescription.rxNumber}}</td>
                            <td>{{prescription.rxDate | date:"shortDate"}}</td>
                            <td>{{prescription.labelName}}</td>
                            <td>{{prescription.billTo}}</td>
                            <td>{{prescription.invoiceDate | date:"shortDate"}}</td>
                            <td>{{prescription.invoiceNumber}}</td>
                            <td class="text-right">{{prescription.invoiceAmount | currency:'USD':true:'1.2-2'}}</td>
                            <td class="text-right">{{prescription.amountPaid | currency:'USD':true:'1.2-2'}}</td>
                            <td class="text-right">{{prescription.outstanding | currency:'USD':true:'1.2-2'}}</td>
                            <td *ngIf="prescription.noteCount"><a class="label label-info bg-darkblue" (click)="showNotes(prescription.prescriptionId)">{{prescription.noteCount}}</a></td>
                            <td *ngIf="!prescription.noteCount">{{prescription.noteCount}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>