<div class="row invoice-info">
    <div class="col-sm-12 invoice-col">
        <div class="table-responsive">
            <table class="table no-margin table-striped">
                <thead class="overflowable">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Rx #</th>
                        <th>Rx Date</th>
                        <th>Label Name</th>
                        <th>Bill To</th>
                        <th>Inv Date</th>
                        <th>Inv #</th>
                        <th>Inv Amt</th>
                        <th>Amt Paid</th>
                        <th>Outstanding</th>
                        <th>Note Count</th>
                    </tr>
                </thead>
                <tbody *ngIf="claimManager.selectedClaim" class="overflowable">
                    <tr *ngFor="let prescription of claimManager.selectedClaim.prescriptions">
                        <td>
                            <div class="perscriptionCheckBox">
                                <input type="checkbox" name="check" value="None" class="pescriptionCheck" [id]="prescription.prescriptionId" [attr.labelName]="prescription.labelName">
                                <label for="perscriptionCheckBox"></label>
                            </div>
                        </td>
                        <td>{{prescription.rxNumber}}</td>
                        <td>{{prescription.rxDate | date:"shortDate"}}</td>
                        <td>{{prescription.labelName}}</td>
                        <td>{{prescription.billTo}}</td>
                        <td>{{prescription.invoiceDate | date:"shortDate"}}</td>
                        <td>{{prescription.invoiceNumber}}</td>
                        <td>{{prescription.invoiceAmount}}</td>
                        <td>{{prescription.amountPaid}}</td>
                        <td>{{prescription.outstanding}}</td>
                        <td *ngIf="prescription.noteCount"><a class="label label-info" (click)="showNotes(prescription.prescriptionId)">{{prescription.noteCount}}</a></td>
                        <td *ngIf="!prescription.noteCount">{{prescription.noteCount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>